{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
type: 'information',
text: 'Select text to add comment.',
iconFallbackText: 'information'
}) }} 

{% extends "layout.html" %} {% from "../customnjk/left-accordion-fh-v11.njk"
import leftaccordion %} {% from "../customnjk/right-accordion-fh-v11.njk" import
rightaccordion %} {% from "../customnjk/right-status-yellow-pd-v08.njk" import
rightstatus %} {% block head %} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
         

        
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item"><a href="full-householder-hp.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Make recommendation</li>
                
              </ol>
        </div>

        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 20/AP/0607
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
            1 Rycott Path, East Dulwich, SE22 0AA
        </h2>
    
      
        <! –– Application detail blocks ––>
    {{ leftaccordion() }}

   <! –– Left panel  ––>
        <h2 class="govuk-heading-m">
           Make recommendation
        </h2>
        <p class="govuk-body">
        Your assessment:
        </p>
        <div
      style="
        background-color: #f3f2f1;
        padding: 30px;
        clear: both;
        margin-top: 10px;
      "
    >
      
      <h2 class="govuk-heading-m">Impact on neighbours</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
                   <strong>Will the proposal negatively impact on the neighbours' privacy as a result of overlooking windows, terraces, or balconies?</strong>
    <br><br>
      <strong>
      Slightly affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      <br><br>
      </li>
        <li>
        <strong>
           Will the proposal negatively impact on the neighbours' access to sunlight and/or daylight?
      </strong>
      <strong> <br><br>
      Not affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      <br><br>
      </li>
        <li>
      <strong>
           Will the proposal negatively impact on the neighbours' sense of openness from a loss of outlook and/or through creating a sense of enclosure?
      <br>
      <br>
      Not affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      </p>
      </li>
       </ol>

       <h2 class="govuk-heading-m">Impact on design and heritage</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
                   <strong>Will the proposal negatively impact the character of the original property?</strong>
    <br><br>
      <strong>
      Slightly affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      <br><br>
      </li>
        <li>
        <strong>
           Will the proposal negatively impact the established building line and/or roof line when viewed from the street?
      </strong>
      <strong> <br><br>
      Not affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      <br><br>
      </li>
        <li>
      <strong>
           Will the proposal fail to enhance or conserve nearby heritage assets?
      <br>
      <br>
      Not affect
      </strong>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem lacus, gravida nec pulvinar sed, tempor eget est. Morbi a mollis arcu, laoreet elementum ipsum. Aliquam consequat, tortor eu lobortis rutrum, orci dui ultricies eros, sit amet iaculis nunc dui id enim. Nam id elementum justo. Curabitur ornare elit eu efficitur consequat. 
      </p>
      </li>
       </ol>
    </div>

<br>
        <!--    Policy question -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <p class="govuk-fieldset">
                    Based on your assessment, what do you want to recommend? 
                  </p>
                </legend>
                <div class="govuk-radios govuk-radios--small">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                      Approve 
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      Refuse
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
        

<! -- Save button -->           


    <br>
    <a class="govuk-button" data-module="govuk-button" href="full-householder-hp.html">
        Save 
    </a>  
       
        </div>
        

<! –– Right panel with additional information in accordion ––>

  <div class="govuk-grid-column-one-third">
    {{ rightstatus() }} {{ rightaccordion() }}
  </div>

    </div>
{% endblock %}