{% extends "layout.html" %} {% from
"../customnjk/left-accordion-fh-v11-af-wide.njk" import leftaccordion %} {% from
"../customnjk/right-accordion-fh-v11-af-wide.njk" import rightaccordion %} {%
from "../customnjk/right-status-yellow-pd-v08.njk" import rightstatus %} {%
from "../customnjk/full-householder-task-list-incomplete-v11.njk" import tasklist %} 
{%
block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding-widescreen.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<! –– Header ––>
<div style="display: block; float: left;">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html"
            >Home</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Application
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      20/AP/0870
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      1 Rycott Path, East Dulwich, SE22 0AA
    </h2>
</div>

    <! –– Right panel with additional information in accordion ––>
 
    {{ rightstatus() }}



<! –– Rows ––>

<div class="govuk-grid-row" style="clear: both; float: none;">
  <div class="govuk-grid-column-one-third">
    <! –– Application detail blocks ––>
    {{ leftaccordion() }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <! -- Task List -->
      <div  style="margin-top: -50px;">
      {{ tasklist() }}
  </div>
  </div>
</div>

{% endblock %}
