{% extends "layout.html" %} {% block head %} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                  <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Documents</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Documents: [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    </div>

    <! –– Right panel with additional information in accordion ––>
        

      <div class="govuk-grid-column-one-third">
          <div style="margin-top: 60px;">&nbsp;</div>
            <a class="govuk-button" data-module="govuk-button" href="document-management-upload-1.html">
                Upload documents
            </a>  
    </div>
    </div>
        
<! –– Proposal docs ––>
<h2 class="govuk-heading-m">
  Proposal documents
</h2>
<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>
        FH-SITE-LOCATION-PLAN-857983.PDF
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Site map
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      20 Mar 2020
    </p>
    <p>
      <a href="/public/images/FH_SITE_LOCATION_PLAN-857983.pdf" target="_blank"
        >View PDF in new window</a
      ><br />
    </p>

    <img
      src="/public/images/FH_SITE_LOCATION_PLAN-857983.png"
      style="max-width: 150px; margin-bottom: 10px;"
      alt="map"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-APPLICATION-FORM-857987.pdf</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Application form
      </strong>
    </p>
    <p class="govuk-body image-text-labels">20 Mar 2020<br /></p>

    <p class="govuk-body image-text-labels">
      <a
        href="/public/images/FH-20AP0870-APPLICATION-FORM-857987.pdf"
        target="_blank"
      >
        View PDF in new window
      </a>
    </p>
    <img
      src="/public/images/FH-20AP0870-APPLICATION-FORM-857987-1.png"
      style="max-width: 150px; margin-bottom: 10px; border: grey 1px solid;"
      alt="map"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-Design-and-heritage-statement-857987.pdf</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Heritage statement
      </strong>
    </p>
    <p class="govuk-body image-text-labels">20 Mar 2020<br /></p>
    <p class="govuk-body image-text-labels">
      <a href="" target="_blank">View PDF in new window</a>
    </p>
    <div
      style="
        width: 150px;
        margin-bottom: 10px;
        border: grey 1px solid;
        height: 215px;
      "
      alt="map"
    >
      <img src="" style="width: 150px; height: 215px;" />
    </div>
  </div>
</div>
<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-Proof-of-Ownership-DDMMYYYY-857987.pdf</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Proof of ownership
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      20 Mar 2020
    </p>
    <p class="govuk-body image-text-labels">
      <a href="" target="_blank">View PDF in new window</a>
    </p>
    <div
      style="
        width: 150px;
        margin-bottom: 10px;
        border: grey 1px solid;
        height: 215px;
      "
      alt="map"
    >
      <img src="" style="width: 150px; height: 215px;" />
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-Tree-survey-857987.pdf</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Tree survey
      </strong>
    </p>
    <p class="govuk-body image-text-labels">20 Mar 2020<br /></p>
    <p class="govuk-body image-text-labels">
      <a href="" target="_blank">View PDF in new window</a>
    </p>
    <div
      style="
        width: 150px;
        margin-bottom: 10px;
        border: grey 1px solid;
        height: 215px;
      "
      alt="map"
    >
      <img src="" style="width: 150px; height: 215px;" />
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-Proof-of-Ownership-857987.pdf</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Proof of ownership
      </strong>
    </p>
    <p class="govuk-body image-text-labels">20 Mar 2020<br /></p>
    <p class="govuk-body image-text-labels">
      <a href="" target="_blank">View PDF in new window</a>
    </p>
    <div
      style="
        width: 150px;
        margin-bottom: 10px;
        border: grey 1px solid;
        height: 215px;
      "
      alt="map"
    >
      <img src="" style="width: 150px; height: 215px;" />
    </div>
  </div>
</div>
<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong
        >FH-20AP0870-Community-Infrastructure-Levy-DDMMYYYY-857987.pdf</strong
      >
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Community Infrastructure Levy
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      20 Mar 2020
    </p>
    <p class="govuk-body image-text-labels">
      <a href="" target="_blank">View PDF in new window</a>
    </p>
    <div
      style="
        width: 150px;
        margin-bottom: 10px;
        border: grey 1px solid;
        height: 215px;
      "
      alt="map"
    >
      <img src="" style="width: 150px; height: 215px;" />
    </div>
  </div>
</div>
<br />
<br />
<! –– Proposal drawings ––>
<h2 class="govuk-heading-m">
  Proposal drawings
</h2>

<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>FH-20AP0870-EXISTING-AND-PROPOSED-BLOCK-PLANS-858713.PDF</strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Block plan - Existing
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Block plan - Proposed
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      [DD MM YYYY]
    </p>
    <p class="govuk-body image-text-labels">
      <a
        href="/public/images/FH-20AP0870-EXISTING_AND_PROPOSED_BLOCK_PLANS-858713.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-EXISTING_AND_PROPOSED_BLOCK_PLANS-858713.png"
      style="width: 200px;"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong
        >FH-20AP0870-PROPOSED-SECTION-A-A-AND-SHED-ELEVATIONS-858712.PDF</strong
      >
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Section - Proposed
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Shed elevation - Proposed
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      [DD MM YYYY]
    </p>
    <p class="govuk-body image-text-labels">
      <a
        href="/public/images/FH-20AP0870-PROPOSED_SECTION_A-A_AND_SHED_ELEVATIONS-858712.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-PROPOSED_SECTION_A-A_AND_SHED_ELEVATIONS-858712.png"
      style="width: 200px;"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>
        FH-20AP0870-EXISTING-ELEVATIONS-858708.PDF
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Elevations - Existing
      </strong>
    </p>
    <p class="govuk-body image-text-labels">[DD MM YYYY]</p>
    <p class="govuk-body image-text-labels">
      <a
        href="/public/images/FH-20AP0870-EXISTING_ELEVATIONS-858708.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-EXISTING_ELEVATIONS-858708.png"
      style="width: 200px;"
    />
  </div>
</div>

<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body image-text-labels">
      <strong>
        FH-20AP0870-EXISTING-FIRST-FLOOR-AND-ROOF-PLANS-858703
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Roof plan - Existing
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      <strong class="govuk-tag govuk-tag--turquoise">
        Floorplan - Existing
      </strong>
    </p>
    <p class="govuk-body image-text-labels">
      [DD MM YYYY]
    </p>
    <p class="govuk-body image-text-labels">
      <a
        href="/public/images/FH-20AP0870-EXISTING_FIRST_FLOOR_AND_ROOF_PLANS-858703.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-EXISTING_FIRST_FLOOR_AND_ROOF_PLANS-858703.png"
      style="width: 200px;"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong
        ><br /><br />FH-20AP0870-EXISTING-GROUND-FLOOR-PLANS-858701.PDF</strong
      >
      <strong class="govuk-tag govuk-tag--turquoise">
        Rear elevation - Proposed
      </strong>

      <br />[DD MM YYYY]<br /><a
        href="/public/images/FH-20AP0870-EXISTING_GROUND_FLOOR_PLANS-858701.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-EXISTING_GROUND_FLOOR_PLANS-858701.png"
      style="width: 200px;"
    />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong><br /><br />FH-20AP0870-EXISTING-SECTION-A-A-858711.PDF</strong
      ><br />[DD MM YYYY]<br />
      <strong class="govuk-tag govuk-tag--turquoise">
        Section - Existing </strong
      ><br />
      <a
        href="/public/images/FH-20AP0870-EXISTING-SECTION_A-A-858711.pdf"
        target="_blank"
        >View PDF in new window</a
      >
    </p>
    <img
      src="/public/images/FH-20AP0870-EXISTING_SECTION_A-A-858711.png"
      style="width: 200px;"
    />
  </div>
</div>
<br />
<br />
<br />

<! –– Site visit  ––>
<h2 class="govuk-heading-m">
  Site visit
</h2>

<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong>SITE-VISIT-1.jpg</strong><br />
      <strong class="govuk-tag govuk-tag--turquoise">
        Site Visit
      </strong>
      <br />[DD MM YYYY]<br />
    </p>
    <p>
      <a href="/public/images/fh-sitevis-1.jpg" target="_blank"
        >View image in new window</a
      >
    </p>
    <img src="/public/images/fh-sitevis-1.jpg" style="width: 200px;" />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong>SITE-VISIT-2.jpg</strong><br />
      <strong class="govuk-tag govuk-tag--turquoise">
        Site Visit
      </strong>
      <br />[DD MM YYYY]<br />
    </p>
    <p>
      <a href="/public/images/fh-sitevis-2.jpg" target="_blank"
        >View image in new window</a
      >
    </p>
    <img src="/public/images/fh-sitevis-2.jpg" style="width: 200px;" />
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong>SITE-VISIT-3.jpg</strong><br />
      <strong class="govuk-tag govuk-tag--turquoise">
        Site Visit
      </strong>
      <br />[DD MM YYYY]<br />
    </p>
    <p>
      <a href="/public/images/fh-sitevis-3.jpg" target="_blank"
        >View image in new window</a
      >
    </p>
    <img src="/public/images/fh-sitevis-3.jpg" style="width: 200px;" />
  </div>
</div>
<div class="govuk-grid-row image-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="line-height: 1.6;">
      <strong>SITE-VISIT-4.jpg</strong><br />
      <strong class="govuk-tag govuk-tag--turquoise">
        Site Visit
      </strong>
      <br />[DD MM YYYY]<br />
    </p>
    <p>
      <a href="/public/images/fh-sitevis-4.jpg" target="_blank"
        >View image in new window</a
      >
    </p>
    <img src="/public/images/fh-sitevis-4.jpg" style="width: 200px;" />
  </div>
</div>

{% endblock %}
