{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="/public/css/southwark-branding.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                  <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Documents</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Documents: [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    
      
        
        <h2 class="govuk-heading-m">
            Proposal documents
        </h2>
         
        
        <div style="float: none; clear: both; margin-bottom: 30px;">
                        <div style="float: left; margin-left: 0px; line-height: 3;">
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/existing-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Front elevation - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Front elevation - Existing
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Side elevation - Proposed
                               </strong>
                               <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Side elevation - Existing
                               </strong>
                            </p>
                            <a href=""><img src="/public/images/existing-floorplan.png" style="width: 250px"></a>
                           
                        </div>
                        <div style="float: left; margin-left: 100px;">
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/proposed-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Existing
                               </strong>
                            </p>
                            <a href=""><img src="/public/images/proposed-floorplan.png" style="width: 250px"></a>
                            
                        </div>
                    </div>
        
                    <div style="float: none; clear: both; margin-top;">
                        <div style="float: left; margin-left: 0px; line-height: 3; margin-top: 50px;">
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/existing-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Section A - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                  Section A - Existing
                               </strong>
                            <br>
                            </p>
                            <a href=""><img src="/public/images/existing-floorplan.png" style="width: 250px"></a>
                           
                        </div>
                        
                        <div style="clear: both; float: none;">&nbsp;</div>
                    </div>
        

                    
                
        <br>
<!--
        <table class="govuk-table">
          <caption class="govuk-table__caption">Archived proposal documents</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Document name</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Version </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date added</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Officer's comment</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell" style="font-weight: 100">No documents archived</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href=""></a></td>
            </tr>
          </tbody>
        </table>
-->
            </div>
        

    
<! –– Right panel with additional information in accordion ––>
        
<!--
      <div class="govuk-grid-column-one-third">
          <div style="margin-top: 60px;">&nbsp;</div>
            <a class="govuk-button" data-module="govuk-button" href="document-management-upload-1.html">
                Upload new documents
            </a>  
    </div>
-->
</div>
{% endblock %}
