{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="/public/css/southwark-branding.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                  <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Attach drawing numbers</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    
      
        
        <h2 class="govuk-heading-m">
            Attach drawing numbers
        </h2>
        <p class="govuk-body" style="line-height: 1.6;">
          Attach drawing numbers to all proposed documents. These will be published in the decision notice. 
        </p>
        <p class="govuk-body" style="line-height: 1.6;">


        </p>

        

        <div style="float: left; margin-left: 0px;">
            <p class="govuk-body" style="line-height: 1.6;">
              <strong>10390-Proposed-ground-floorplan.PDF</strong><br />
              <strong class="govuk-tag govuk-tag--turquoise">
                Floor plan - Proposed
              </strong><br>
              [DD MM
              YYYY]<br /><a
                href="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.pdf"
                target="_blank"
                >View PDF in new window</a
              >
            </p>
            
            <img
              src="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.png"
              style="width: 300px;"
            />
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Drawing number:
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          <br><br>
          <div style="float: left;">
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          </div>
          <div style="float: left; margin-top: 7px;">
          &nbsp; &#x274c; <a href="">Remove</a>
          </div>
          <br><br>&nbsp;
          <div style="clear: both; float: none;">
          <a  href="">Add another drawing number</a>
          </div>

          </div>
          <div class="govuk-checkboxes govuk-checkboxes--small">
     
          </div>

         
              
          <div style="float: left; margin-left: 0px;">
            <p class="govuk-body">
              <strong><br /><br />10393-Proposed-rear-elevation.PDF</strong
              ><br />
              <strong class="govuk-tag govuk-tag--turquoise">
                Rear elevation - Proposed
              </strong>
              <br>
              [DD MM YYYY]<br /><a
                href="/public/images/PROPOSED_REAR_ELEVATION-848012.pdf"
                target="_blank"
                >View PDF in new window</a
              >
            </p>

            <img
              src="/public/images/PROPOSED_REAR_ELEVATION-848012.png"
              style="width: 300px;"
            />
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Drawing number:
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          <br>
          <a href="">Add another drawing number</a>
          </div>
          
            <div style="float: none; clear: both; margin-left: 0px;">
              <p class="govuk-body">
                <strong><br /><br />10395-Proposed-roof-plan.PDF</strong
                ><br />
                <strong class="govuk-tag govuk-tag--turquoise">
                  Roof plan - Proposed
                </strong>
                <br>
                [DD MM YYYY]<br /><a
                  href="/public/images/PROPOSED_ROOF_PLAN-848010.pdf"
                  target="_blank"
                  >View PDF in new window</a
                >
              </p>

              <img
                src="/public/images/PROPOSED_ROOF_PLAN-848010.png"
                style="width: 200px;"
              />
              <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Drawing number:
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          <br>
          <a href="">Add another drawing number</a>
          
            </div>

            <div style="float: left;">
              <p class="govuk-body">
                <br /><br /><strong>10397-Proposed-side-elevation.PDF</strong
                ><br />
                <strong class="govuk-tag govuk-tag--turquoise">
                  Side elevation - Proposed
                </strong>
                <br>
                [DD MM YYYY]<br /><a
                  href="/public/images/PROPOSED_SIDE_ELEVATION-848013.pdf"
                  target="_blank"
                  >View PDF in new window</a
                >
              </p>

              <img
                src="/public/images/PROPOSED_SIDE_ELEVATION-848013.png"
                style="width: 200px;"
              />
              <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Drawing number:
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          <br>
          <a href="">Add another drawing number</a>
          </div>

        </div>
        <div style="clear: both; margin-top: 35px;">
        <br>
             
        
 <a class="govuk-button" data-module="govuk-button" href="">
        Save
    </a>  
        
            </div>
        

    
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
         
    </div>
</div>
{% endblock %}
