{%- from "moj/components/banner/macro.njk" import mojBanner -%} {{ mojBanner({
type: 'information', text: 'Select text to add comment.', iconFallbackText:
'information' }) }} {% extends "layout.html" %} {% from
"../customnjk/left-accordion-fh-v08.njk" import leftaccordion %} {% from
"../customnjk/right-accordion-fh-v09.njk" import rightaccordion %} {% from
"../customnjk/right-status-yellow-pd-v08.njk" import rightstatus %} {% block
head %} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html"
            >Home</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a href="full-householder-hp.html">Application</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Consulation
        </li>
      </ol>
    </div>

    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      Fast track application: 20/AP/0607
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
      1 Rycott Path, East Dulwich, SE22 0AA
    </h2>

    <! –– Application detail blocks ––>
    {{ leftaccordion() }}

    <! –– Left panel  ––>
    <h2 class="govuk-heading-m">
      Assess the impact on design and heritage
    </h2>

    <!--    Policy question -->
    <div style="margin-bottom: 60px;">
      <div>
        <p class="govuk-body">
          Will the proposal negatively impact the character of the original
          property?
        </p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Policy and guidance
            </span>
          </summary>
          <div class="govuk-details__text">
            Insert policy here
          </div>
        </details>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="policy-question-3"
                name="policy-question-3"
                type="radio"
                value="yes"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="policy-question-3"
              >
                Significantly affect
              </label>
            </div>
          </div>
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="policy-question-3-no"
                name="policy-question-3"
                type="radio"
                value="no"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="policy-question-3-no"
              >
                Slightly affect
              </label>
            </div>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="policy-question-3-no"
                  name="policy-question-3"
                  type="radio"
                  value="no"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="policy-question-3-no"
                >
                  Not affect
                </label>
              </div>
            </div>
          </div>
          <br />

          <textarea
            class="govuk-textarea"
            id="more-detail"
            name="more-detail"
            rows="5"
            aria-describedby="more-detail-hint"
          ></textarea>
        </div>
      </div>

      <!--    Policy question -->
      <div style="margin-bottom: 60px;">
        <div>
          <p class="govuk-body">
            Will the proposal negatively impact the established building line
            and/or roof line when viewed from the street?
          </p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Policy and guidance
              </span>
            </summary>
            <div class="govuk-details__text">
              Insert policy here
            </div>
            <br />
          </details>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="policy-question-3"
                  name="policy-question-3"
                  type="radio"
                  value="yes"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="policy-question-3"
                >
                  Significantly affect
                </label>
              </div>
            </div>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="policy-question-3-no"
                  name="policy-question-3"
                  type="radio"
                  value="no"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="policy-question-3-no"
                >
                  Slightly affect
                </label>
              </div>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="policy-question-3-no"
                    name="policy-question-3"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="policy-question-3-no"
                  >
                    Not affect
                  </label>
                </div>
              </div>
            </div>
            <br />

            <textarea
              class="govuk-textarea"
              id="more-detail"
              name="more-detail"
              rows="5"
              aria-describedby="more-detail-hint"
            ></textarea>
          </div>
        </div>

        <!--    Policy question -->
        <div>
          <p class="govuk-body">
            Will the proposal fail to enhance or conserve nearby heritage
            assets?
          </p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Policy and guidance
              </span>
            </summary>
            <div class="govuk-details__text">
              Insert policy here
            </div>
          </details>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="policy-question-3"
                  name="policy-question-3"
                  type="radio"
                  value="yes"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="policy-question-3"
                >
                  Significantly affect
                </label>
              </div>
            </div>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="policy-question-3-no"
                  name="policy-question-3"
                  type="radio"
                  value="no"
                />
                <label
                  class="govuk-label govuk-radios__label"
                  for="policy-question-3-no"
                >
                  Slightly affect
                </label>
              </div>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="policy-question-3-no"
                    name="policy-question-3"
                    type="radio"
                    value="no"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="policy-question-3-no"
                  >
                    Not affect
                  </label>
                </div>
              </div>
            </div>
            <br />

            <textarea
              class="govuk-textarea"
              id="more-detail"
              name="more-detail"
              rows="5"
              aria-describedby="more-detail-hint"
            ></textarea>
          </div>
        </div>

        <! -- Save button -->

        <br />
        <a
          class="govuk-button"
          data-module="govuk-button"
          href="full-householder-hp.html"
        >
          Save
        </a>
      </div>
    </div>
    </div>

      <! –– Right panel with additional information in accordion ––>

      <div class="govuk-grid-column-one-third">
        {{ rightstatus() }} {{ rightaccordion() }}
      </div>
    </div>
    {% endblock %}
  </div>
</div>
