{%- from "moj/components/banner/macro.njk" import mojBanner -%} {{ mojBanner({
type: 'information', text: 'Select text to add comment.', iconFallbackText:
'information' }) }} {% extends "layout.html" %} {% from
"../customnjk/left-accordion-pd-v08.njk" import leftaccordion %} {% from
"../customnjk/right-accordion-pd-v08.njk" import rightaccordion %} {% from
"../customnjk/right-status-green-pd-v08.njk" import rightstatus %} {% block head
%} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/refuse-or-approve" method="post" class="form">
      <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="application-list.html"
              >Home</a
            >
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a href="cert-of-law-hp.html">Application</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Assess the proposal
          </li>
        </ol>
      </div>

      <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
        Fast track application: 20/AP/0607
      </h1>
      <h2 class="govuk-heading-m" style="margin-bottom: 75px;">
        150 Bellenden Road London SE15 4QY
      </h2>

      <! –– Application detail blocks ––>
      {{ leftaccordion() }}

      <! –– Left panel with tasks and map ––>
      <h2 class="govuk-heading-m">
        Assess the proposal
      </h2>
      <p class="govuk-body">
        Please review the applicant's answers:
      </p>

      <!--    Policy question -->
      <div class="govuk-form-group">
        <ol class="govuk-body" style="line-height: 2;">
          <li>
            Was your house always a house? <strong>Yes</strong> <br />GPDO 2015
            S.2 P.1 A.1 (a)
          </li>
          <li>
            The total footprint of all additions will be
            <strong>50% or less </strong>of the available area around the
            original house <br />GPDO 2015 S.2 P.1 A.1
          </li>
          <li>
            The materials and appearance
            <strong>will match </strong>
            the existing house
            <br />GPDO 2015 S.2 P.1 A.3 (a)
          </li>
          <li>
            The highest part of the extension roof
            <strong>will be lower </strong>than 3m <br />GPDO 2015 S.2 P.1 A.1
            (i)
          </li>
          <li>
            The width of the new addition will be
            <strong> less than or equal to</strong> 1/2 of the width of the
            original house <br />GPDO 2015 S.2 P.1 A.1 (j)(iii)
          </li>
          <li>
            The height of the extension will be <strong>4m or less</strong>
            <br />GPDO 2015 S.2 P.1 A.1 (f)(ii)
          </li>
          <li>
            The new addition
            <strong>will not extend beyond the front wall of the house</strong>
            <br />GPDO 2015 S.2 P.1 A.1 (e)(i)
          </li>
          <li>
            Is there a road or path on that side of the house?
            <strong>No</strong> <br />GPDO 2015 S.2 P.1 A.1 (e)(ii)
          </li>
        </ol>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show all responses:
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-body" style="line-height: 2;">
              <li>
                I want to
                <strong>modify or extend</strong>
              </li>
              <li>
                How many storeys does the original house have?
                <strong>2 or more</strong>
              </li>
              <li>
                I want to build an
                <strong>extension</strong>
              </li>
              <li>
                What kind of extension will it be?
                <strong>Side extension</strong>
              </li>
              <li>
                Is there a road or path on that side of the house?
                <strong>No</strong>
              </li>
              <li>The extension will have <strong>1 storey </strong></li>
              <li>
                The new addition
                <strong
                  >will not extend beyond the front wall of the house</strong
                >
              </li>
              <li>
                The height of the extension will be <strong>4m or less</strong>
              </li>
              <li>
                The new structure <strong>will not</strong> extend beyond the
                rear wall of the original house
              </li>
              <li>
                The width of the new addition will be
                <strong>less than or equal to</strong> 1/2 of the width of the
                original house
              </li>
              <li>
                The distance to the boundary will be
                <strong>less than 2m</strong>
              </li>
              <li>
                The roof of the extension will be
                <strong>flat</strong>
              </li>
              <li>
                The highest part of the extension roof
                <strong>will be lower </strong>than 3m
              </li>
              <li>
                The materials and appearance
                <strong>will match </strong>
                the existing house
              </li>
              <li>
                The total footprint of all additions will be
                <strong>50% or less </strong>of the available area around the
                original house
              </li>

              <li>
                The width of the new addition will be
                <strong> less than or equal to</strong> 1/2 of the width of the
                original house
              </li>

              <li>
                Was your house always a house?
                <strong> Yes</strong>
              </li>

              <li>
                The house was used as
                <strong> a family home</strong>
              </li>
            </ol>
          </div>
        </details>

        <!--        Question-->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <p class="govuk-body">
              <br /><strong
                >Have permitted development requirements been met?</strong
              >
            </p>

            <div
              class="govuk-radios govuk-radios--conditional"
              data-module="govuk-radios"
              style="margin-bottom: 20px;"
            >
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="how-contacted-conditional"
                    name="how-contacted"
                    type="radio"
                    value="email"
                    data-aria-controls="conditional-how-contacted-conditional"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="how-contacted-conditional"
                  >
                    Yes
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional"
                >
                  <div class="govuk-form-group">
                    <p class="govuk-body">
                      By selecting yes, you are saying that this proposal
                      complies with the GDPO. <br /><br />Please add any
                      comments that you would like to share with your manager.
                    </p>
                    <textarea
                      class="govuk-textarea"
                      id="more-detail"
                      name="more-detail"
                      rows="3"
                      aria-describedby="more-detail-hint"
                    ></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="how-contacted-conditional-2"
                    name="how-contacted"
                    type="radio"
                    value="phone"
                    data-aria-controls="conditional-how-contacted-conditional-2"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="how-contacted-conditional-2"
                  >
                    No
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-how-contacted-conditional-2"
                >
                  <div class="govuk-form-group">
                    <p class="govuk-body">
                      <br />
                      Which policies are not being met?
                    </p>

                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (a)
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.3 (a)
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (i)
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (j)(iii)
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (f)(ii)
                        </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (e)(i)
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="organisation"
                          name="organisation"
                          type="checkbox"
                          value="hmrc"
                        />
                        <label
                          class="govuk-label govuk-checkboxes__label"
                          for="organisation"
                        >
                          GPDO 2015 S.2 P.1 A.1 (e)(ii)
                        </label>
                      </div>
                    </div>

                    <p class="govuk-body" style="clear: both; float: none;">
                      <br />
                      Please add any comments for your manager to see. This will
                      <strong>not</strong> appear on the decision notice.
                    </p>
                    <textarea
                      class="govuk-textarea"
                      id="more-detail"
                      name="more-detail"
                      rows="3"
                      aria-describedby="more-detail-hint"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <! -- Save button -->

      <br />
      <button class="govuk-button" data-module="govuk-button">
        Save
      </button>
    </form>
  </div>

  <! –– Right panel with additional information in accordion ––>

  <div class="govuk-grid-column-one-third">
    {{ rightstatus() }} {{ rightaccordion() }}
  </div>
</div>
{% endblock %}
