{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Application</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 19/AP/1880
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">43 Busbey Lane, London, SE16 5GG</h2>
    
      
        <! –– Application detail blocks ––>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" >

            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Application information
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Address: </b></td>
                <td class="govuk-table__cell">43 Busbey Lane, London, SE16 5GG</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Type of building: </b></td>
                  <td class="govuk-table__cell">Residential</td>
                </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Ward: </b></td>
                  <td class="govuk-table__cell">Rotherhithe</td>
                </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Application type: </b></td>
            <td class="govuk-table__cell">Proposed permitted development: Certification of lawfulness	</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary of proposal: </strong></td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        Roof extension (rear)
                    </li>
                    <li>
                        Dormer
                    </li>
            </ul>
              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><b>Case officer: </b></td>
              <td class="govuk-table__cell">Sandra Lewis	</td>
            </tr>


        </tbody>
          </table>
                </div>
            </div>

    <! -- Map -->

            <div class="govuk-accordion__section " style="float: none; clear: both;">
                <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Site map and constraints
                </span>
              </h3>
            </div>

    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <div style="float: none;">
        <div style="float:left; width: 250px; margin-right: 20px;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input " id="map" name="map" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="map">
              Conservation areas
            </label>
          </div>
        </div>
       <div style="float: left; ">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-2" name="map" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="map-2">
              Listed buildings
            </label>
          </div>
        </div>
        </div>
        <div style="float: none; clear: both; margin: 20px 0 20px 0;">
        <div style="float:left; width: 250px; margin-right: 20px;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-3" name="map" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="map-3">
              Trees (TPOs)
            </label>
          </div>
        </div>
        <div style="float: left">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-4" name="map" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="map-4">
              Air quality management area
            </label>
          </div>
        </div>
        <div style="float: none; clear: both; margin: 20px 0 20px 0;">
        <div style="float:left; width: 250px; margin-right: 20px;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-5" name="map" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="map-5">
              Controlled parking zone
            </label>
          </div>
        </div>
        <div style="float:left; ">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-6" name="map" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="map-6">
              Urban density zone
            </label>
          </div>
        </div>
        </div>  
        </div>
            
    <img src="/public/images/Map-Update.png" style="max-width: 600px; margin-top: 20px;" alt="map">
    <p class="govuk-body">
        <a href="#" class="govuk-link">
            Street view on Google Map
        </a>
    </p>
            </div>

                </div>

        <!--  Documents        -->

        <div class="govuk-accordion__section " style="margin-bottom: 20px;">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Proposal documents
                    </span>
                  </h3>
                </div>

                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class="govuk-body">
                    <a href="#" class="govuk-link">
                        Download all documents
                    </a>
                <br>
                    <a href="#" class="govuk-link">
                        View in new window
                    </a>
                </p>
                    <div style="float: none; clear: both">
                        <div style="float: left; margin-left: 20px;">
                            <p class='govuk-body'>Existing floorplan</p>
                            <img src="/public/images/existing-floorplan.png" style="width: 200px">
                            <p class='govuk-body'><a href="">Download</a></p>
                        </div>
                        <div style="float: left; margin-left: 20px;">
                            <p class='govuk-body'>Proposed floorplan</p>
                            <img src="/public/images/proposed-floorplan.png" style="width: 200px">
                            <p class='govuk-body'><a href="">Download</a></p>
                        </div>
                    </div>
                    <div style="float: none; clear: both">
                        <div style="float: left; margin-left: 20px;">
                            <p class='govuk-body'><br>Existing section</p>
                            <img src="/public/images/existing-section.png" style="width: 200px">
                            <p class='govuk-body'><a href="">Download</a></p>
                        </div>
                        <div style="float: left; margin-left: 20px;">
                            <p class='govuk-body'><br>Proposed section</p>
                            <img src="/public/images/existing-section.png" style="width: 200px">
                            <p class='govuk-body'><a href="">Download</a></p> 
                        </div>
                        <div style="clear: both; float: none;">&nbsp;</div>
                    </div>
            </div>
                </div>
        </div>

    <! -- Task List -->    
      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Assess the proposal</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="permitted-dev-rights.html" aria-describedby="external-review-completed">
                Confirm permitted development rights
              </a>

                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>

            </li>
            <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="permitted-dev-reqs" aria-describedby="external-review-completed">
                    Evaluate permitted development policy requirements
                </a>
<!--
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
-->
            </li>
            <li class="app-task-list__item">
<!--                <a class="app-task-list__task-name" href="make-recommendation" aria-describedby="external-review-completed">-->
                Confirm recommendation
<!--                </a>-->   
<!--
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
-->
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Determine the proposal</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
<!--              <a class="app-task-list__task-name" href="permitted-dev-reqs" aria-describedby="external-review-completed">-->
                Review determination notice
<!--              </a>-->
<!--
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
-->
        </li>
            </ul>
      </ol>
      </div>
        
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 30px 100px; ">
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--green">
               Due: May 29<br>35 days remaining
            </strong>
            </p>
        </div>
        
       
    
          <h2 class="app-task-list__section" style="float: none; clear: both;">
            <span class="app-task-list__section-number">Supporting information</span>
          </h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

           
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Planning history 
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Permitted development rights: Active
            </li>
            <li>
                Changed into flats
            </li>
          </ul>
            </div>
          </div>
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Key application dates
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>
                <strong>Application status:</strong> In assessment
            </p>

            <p>
                <strong>Validation complete:</strong> 5 April 2020
            </p>
            <p>
                <strong>Fast track date date:</strong> 15 May 2020
            </p>
            <p>
                <strong>Statuatory date:</strong> 29 May 2020
            </p>
   
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Contact information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'><strong>Agent:</strong><br>Trevor King<br>07824 693239<br><a href="">trevor.king@planningco.co.uk</a></p>
              <p class='govuk-body'><strong>Applicant:</strong><br>Hannah Dogurga<br>07839 282839<br><a href="">hannah.dogurga@gmail.com</a></p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Consultation is not applicable for proposed permitted development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
