{% macro application_in_assessment() %}
  {% block content %}
    <div class="govuk-tabs__panel" id="in-assessment">
      <h2 class="govuk-heading-l">In assessment</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">Status</th>
            
              <th scope="col" class="govuk-table__header">Planning officer</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
         
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                <a href="cert-of-law-hp.html">
                  0000545
                </a>
              </td>>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">FULL HOUS</td>
              <td class="govuk-table__cell">
                Single storey side/rear extension
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                Awaiting correction
              </strong>
            </td>
              <!--            <td class="govuk-table__cell">March 25</td>-->
              <td class="govuk-table__cell">Sandra Lewis</td>
              </td>
          <tr class="govuk-table_row">
            <td class="govuk-table__cell">
              <a href="full-householder-hp.html">
                20/AP/0870
              </a>
            </td>
            <td class="govuk-table__cell">1 Rycott Path, SE22 0AA</td>
            <td class="govuk-table__cell">LCD (proposed)</td>
            <td class="govuk-table__cell">The construction of a single storey side extension.</td>
                   <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              June 9
                </strong></td>
                <td class="govuk-table__cell">June 13</td>
         
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                In assessment
              </strong>
            </td>
            <td class="govuk-table__cell">Sandra Lewis</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  {% endblock %}
{% endmacro %}