{% macro application_not_started() %}
  {% block content %}
<div class="govuk-tabs__panel" id="not-started">
        <h2 class="govuk-heading-l">Not started</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
         
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
             
                  0000545
               
              </td>
              <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
              <td class="govuk-table__cell">
                LDC (existing)
              </td>
              <td class="govuk-table__cell">The construction of a single storey side extension.</td>
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--orange">
                  12 June
                </strong></td>
                   <td class="govuk-table__cell"> 19 June </td>
               
           
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table_row">
              <td class="govuk-table__cell">
                0000500
              </td>
              <td class="govuk-table__cell">21 Tweed Rd, SE15 CKJ</td>
              <td class="govuk-table__cell">LDC (proposed)</td>
              <td class="govuk-table__cell">The construction of a single storey side extension.</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  23 July
                </strong></td>
                          <td class="govuk-table__cell"> 19 June </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Invalid
                </strong>
              </td>
                <td class="govuk-table__cell"></td>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                <a href="assessment-noclasses.html">
                  0000600
                </a>
              </td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">FULL HOUS</td>
              <td class="govuk-table__cell">
                Single storey side/rear extension
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  Not started
                  </strong>
              </td>
                       <td class="govuk-table__cell"></td>
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                <a href="task-list-new.html">
                  0000601
                </a>
              </td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">FULL HOUS</td>
              <td class="govuk-table__cell">
                Single storey side/rear extension
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  Not started
                  </strong>
              </td>
              <!--            <td class="govuk-table__cell">March 25</td>-->
              <td class="govuk-table__cell">
        
              </td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
  {% endblock %}
{% endmacro %}
