{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="/public/css/southwark-branding.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                  <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Documents</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Documents: [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    
      <div class="moj-banner moj-banner--success">

<svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
<path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

<div class="moj-banner__message">
<span class="moj-banner__assistive">Success</span>[Name-of-doc.PDF] has been uploaded.</div>

</div>
        
        <h2 class="govuk-heading-m">
            Proposal documents
        </h2>
         
        
        <div style="float: none; clear: both; margin-bottom: 30px;">
                        
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/proposed-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Existing
                               </strong>
                            </p>
                            <a href=""><img src="/public/images/proposed-floorplan.png" style="width: 250px"></a>
                            <p class="govuk-body"><a href="document-management-archived.html">Archive document</a></p>
                        </div>
            
                  
                        <div style="float: left; margin-left: 100px; line-height: 3; margin-top: 0px;">
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/existing-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Section A - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                  Section A - Existing
                               </strong>
                            <br>
                            </p>
                            <a href=""><img src="/public/images/existing-floorplan.png" style="width: 250px"></a>
                           <p class="govuk-body"><a href="document-management-archived.html">Archive document</a></p>
                        </div>
        </div>
                        
            <div style="float: none; clear: both; margin-bottom: 30px;">
                        <div style="float: left; margin-left: 0px; line-height: 3;"><br>
                            <p class='govuk-body'><Strong>[Name-of-doc.PDF]</Strong><br>[DD MM YYYY]<br><a href="/public/images/existing-floorplan.png" target="_blank">View in new window</a></p>
                            <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Front elevation - Proposed
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Front elevation - Existing
                               </strong>
                            <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Side elevation - Proposed
                               </strong>
                               <br>
                               <strong class="govuk-tag govuk-tag--blue">
                                   Side elevation - Existing
                               </strong>
                            </p>
                            <a href=""><img src="/public/images/existing-floorplan.png" style="width: 250px"></a>
                           <br>
                            <br>
                        </div>                    </div>
        
        <br>
        <table class="govuk-table" style="text-align: left;">
          <caption class="govuk-table__caption"style="text-align: left;">Archived documents</caption>
          <thead class="govuk-table__head" style="text-align: left;">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Document name</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="text-align: left;">Tags </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="text-align: left;">Date uploaded</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="text-align: left;">Officer's comment</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body" >
            <tr class="govuk-table__row" >
              <th scope="row" class="govuk-table__cell" style="font-weight: 100" >
                  <a href=""><strong>[Name-of-doc.PDF]</strong></a>
                </th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="line-height: 2; text-align: left;">
                    <strong class="govuk-tag govuk-tag--blue">
                        Front elevation - Proposed
                    </strong>
                    <br>
                    <strong class="govuk-tag govuk-tag--blue">
                        Front elevation - Existing
                   </strong>
                    <br>
                <strong class="govuk-tag govuk-tag--blue">
                       Side elevation - Proposed
               </strong>
                 <br>
                     <strong class="govuk-tag govuk-tag--blue">
                            Side elevation - Existing
                     </strong>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: left;">
                    [DD MM YYYY]
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: left;">   Missing scale bar/north arrow
                </td>
            </tr>
<!--
              <tr class="govuk-table__row" >
              <th scope="row" class="govuk-table__cell" style="font-weight: 100" >
                  <a href=""><strong>[Name-of-doc.PDF]</strong></a>
                </th>
              <td class="govuk-table__cell govuk-table__cell--numeric" style="line-height: 2; text-align: left;">
                    <strong class="govuk-tag govuk-tag--blue">
                        Section A - Proposed
                    </strong>
                    <br>
                    <strong class="govuk-tag govuk-tag--blue">
                        Section B - Existing
                   </strong>
                    <br>
                
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: left;">
                    [DD MM YYYY]
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: left;">   Missing scale bar/north arrow
                </td>
            </tr>
-->
          </tbody>
        </table>
            </div>
        

    
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          <div style="margin-top: 60px;">&nbsp;</div>
          <a class="govuk-button" data-module="govuk-button" href="document-management-upload-1.html">
        Upload documents
    </a>  
    </div>
</div>
{% endblock %}
