evidence-table-part.njk

{% macro evidenceTable(
    type,
    asset1, day1_1, month1_1, year1_1, day1_2, month1_2, year1_2, comment1, 
    asset3, date3_1, date3_2, comment3,
    asset4, date4_1, date4_2, comment4,
    asset5, date5_1, date5_2, comment5
) %}
{% block content %}
<h1 class="govuk-heading-l">
{{type}}
</h1>
<p class="govuk-body"><strong>Reason for submitting evidence :</strong> Reason goes here</p>
  <p class="govuk-body"><strong>Dates covered (submitted by applicant) :</strong> 12 Oct 2011 - 12 Oct 2013 </p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Document</th>
      <th scope="col" class="govuk-table__header">Dates covered</th>
      <th scope="col" class="govuk-table__header">Officer comment</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><img src="{{asset1}}" style="width:200; border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"><a class="govuk-link" href="set-evidence-date.html">{{day1_1}}&nbsp{{month1_1}}&nbsp{{year1_1}}</a><br>-<br><a class="govuk-link" href="#">{{day1_2}}&nbsp{{month1_2}}&nbsp{{year1_2}}</a></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">{{comment1}}</a></td>
    </tr>
    <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header"><img src="{{asset3}}" style="width:200; border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"><a class="govuk-link" href="set-evidence-date-2.html">{{date3_1}}</a><br>-<br><a class="govuk-link" href="#">{{date3_2}}</a></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">{{comment3}}</a></td>
    </tr>
    <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header"><img src="{{asset4}}" style="width:200; border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">{{date4_1}}</a><br>-<br><a class="govuk-link" href="#">{{date4_2}}</a></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">{{comment4}}</a></td>
    </tr>
    <tr class="govuk-table__row">
       <th scope="row" class="govuk-table__header"><img src="{{asset5}}" style="width:200; border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">{{date5_1}}</a><br>-<br><a class="govuk-link" href="#">{{date5_2}}</a></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">{{comment5}}</a></td>
    </tr>
  </tbody>
</table>


{% endblock %}

{% endmacro %}