{% extends "layout.html" %} {% from "../customnjk/left-accordion-pd-v08.njk"
import leftaccordion %} {% from "../customnjk/right-accordion-pd-v08.njk" import
rightaccordion %} {% from "../customnjk/right-status-red-pd-v08.njk" import
rightstatus %} {% block head %} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list-amendment.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Application</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    
      
        <! –– Application detail blocks ––>
    {{ leftaccordion() }}
                      
            

    <! -- Task List -->   
    

    
      <ol class="app-task-list">
<!--
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Application allocation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="permitted-dev-rights.html" aria-describedby="external-review-completed">
                Claim application
              </a>

                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>

            </li>
            </ul>
          </li>
-->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Reassess the proposal</span>
          </h2>
          <ul class="app-task-list__items">
<!--
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="permitted-dev-rights.html" aria-describedby="external-review-completed">
                Confirm permitted development rights
              </a>

                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>

            </li>
-->
<!--
            <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="approve-recommendation-no-summary.html" aria-describedby="external-review-completed">
                    Review manager's comments
                </a>
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
            </li>
-->
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="permitted-dev-reqs-reevaluate.html" aria-describedby="external-review-completed">
                    Review manager's comment and re-assess application
                </a>
<!--
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
-->
            </li>
            <li class="app-task-list__item">
<!--                <a class="app-task-list__task-name" href="make-recommendation" aria-describedby="external-review-completed">-->
                Confirm decision notice
<!--                </a>-->   
<!--
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">
                    Completed
                  </strong>
-->
            </li>
          </ul>
        </li>
          
          

      </ol>
      </div>
      
        
<! –– Right panel with additional information in accordion ––>

  <div class="govuk-grid-column-one-third">
    {{ rightstatus() }} {{ rightaccordion() }}
  </div>

    </div>
{% endblock %}