

.govuk-width-container{
  max-width: 1600px;
  padding: 20px;
} 


@media all and (max-width:1450px){ 

  .govuk-width-container{
  max-width: 1000px;
  }

  .govuk-tag--yellow{
    background: pink;
  }
}
