.big{
    background-color: green;
    color: pink;
    font-size: 200;
}

.govuk-header__logotype {
  display: none;
  margin-right: 5px;
}


.application-status-floats{
  float: right; 
  margin-bottom: 20px; 
  display: block;
}

.govuk-accordion__section-content{
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.image-text-labels{
  line-height: 1.1;
  margin-bottom: 5px;
}

.image-row{
  float:none;
  clear: both;
  margin-bottom: 15px;
}

@media all and (max-width:795px){ 
  .application-status-floats{
    float: left;
  }