{% macro application_allcases() %}
  {% block content %}
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-cases">
        <h2 class="govuk-heading-l">All my applications</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Expiry date</th>
            <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Description</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--red">
                  12 Jan
                </strong></td>
                <td class="govuk-table__cell"><a href="assessment-pd.html">0000545</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>            
              
              <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
              <td class="govuk-table__cell">The construction of a single storey side extension.</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  15 Jan
                </strong>
              </td>
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000545</a></td>
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                Awaiting correction
              </strong>
            </td>
            
            <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
            <td class="govuk-table__cell"> Single storey side/rear extension</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
              20 Jan
                </strong>
              </td>
            <td class="govuk-table__cell"><a href="assessment-pd.html">0000870</a></td>
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                In assessment
              </strong>
            </td>
            <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
            <td class="govuk-table__cell"> LDC proposed - The construction of a single storey side extension.</td>
            </tr>
          <tr class="govuk-table_row">
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  23 Jan
                </strong></td>
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000500</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Invalid
                </strong>
              </td>
              <td class="govuk-table__cell">21 Tweed Rd, SE15 CKJ</td>
              <td class="govuk-table__cell">Lawful development certificate for a rear, single-storey extnesion</td>
               </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
              1 Feb
                </strong>
              </td>
            <td class="govuk-table__cell"><a href="assessment-pd.html">0000871</a></td>
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Invalid
              </strong>
            </td>
            <td class="govuk-table__cell">156, Housemann Road SE14 1TT</td>
            <td class="govuk-table__cell"> Lawful development certificate for the replacement of existing windows with matching UPVC windows on all elevations</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
              11 Feb
                </strong>
              </td>
            <td class="govuk-table__cell"><a href="assessment-pd.html">0000873</a></td>
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                Invalid
              </strong>
            </td>
            <td class="govuk-table__cell">Flat 5, 13 Bussy Court, SW2 3FG</td>
            <td class="govuk-table__cell"> Lawful development certificate for change of use from one dwelling into two dwellings</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  27 Feb
                </strong></td>
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000884</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>            
              <td class="govuk-table__cell">Ad Astra, Tudor Close, SE25 3HA</td>
              <td class="govuk-table__cell">Construction of a garage to the side of property and demolition of existing car port</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  1 Mar
                </strong></td>
             <td class="govuk-table__cell"><a href="assessment-pd.html">0000886</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">1 Cornwall Avenue, SE12 8GP</td>
              <td class="govuk-table__cell">Demolition of chimney and installation of a rooflight on rear </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  2 Mar
                </strong></td> 
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000888</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>   
              <td class="govuk-table__cell">67 Fosterra Road, SE2 1WA</td>
              <td class="govuk-table__cell">Replacement of rear windows and doors on property</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  5 Mar
                </strong></td>            
              <td class="govuk-table__cell"><a href="assessment-pd.html">0000891</a></td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell">15 Bellview Road, SE15 9HJ</td>
              <td class="govuk-table__cell">Construction of read dormer roof extension and addition of rooflights</td>
            </tr>

          </tbody>
        </table>
        <nav class="moj-pagination" id="pagination-label">

  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

    <li class="moj-pagination__item moj-pagination__item--active">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">2</a></li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">...</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5">5</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>100</b> applications</p>
</nav>
      </div>
    </div>
    
  </div>
  
    {% endblock %}
{% endmacro %}