{% macro application_awaiting_determination() %}
  {% block content %}
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="awaiting-determination">
      <h2 class="govuk-heading-l">Awaiting manager's determination</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application </br> number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Days until expiry</th>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link" href="#">0000623</a></td>
            <td class="govuk-table__cell">77 Bushey Hill Rd, SE5 8QQ</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                1 day overdue
              </strong>
            </td>
                    
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a class="govuk-link" href="#">0000256</a></td>
            <td class="govuk-table__cell">81 Victoria Rd, SE15 8QQ</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                2 days
              </strong>
            </td>      
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="cert-of-law-reqs-recommended.html">
                0000115
              </a>
            </td>
            <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                28 Days
              </strong>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  {% endblock %}
{% endmacro %}