{% macro application_in_assessment() %}
  {% block content %}
    <div class="govuk-tabs__panel" id="in-assessment">
      <h2 class="govuk-heading-l">In assessment</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Application </br> number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Days until expiry</th>
              <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
         
               <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                <a href="cert-of-law-hp.html">
                  0000545
                </a>
              </td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td> 
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  2 Days
                </strong>
              </td>
             
              <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                Awaiting correction
              </strong>
            </td>
          <tr class="govuk-table_row">
            <td class="govuk-table__cell">
              <a href="full-householder-hp.html">
                0000546
              </a>
            </td>
            <td class="govuk-table__cell">1 Rycott Path, SE22 0AA</td>
            
            
                   <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
              20 Days
                </strong></td>
               
         
            <td class="govuk-table__cell">
              
            </td>
            
          </tr>
         
        </tbody>
      </table>
    </div>
  {% endblock %}
{% endmacro %}