{% macro application_not_started() %}
  {% block content %}
<div class="govuk-tabs__panel" id="not-started">
        <h2 class="govuk-heading-l">Not started</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
         
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application </br>number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Days until expiry</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                <a href="task-list-new.html">
                  0000601
                </a>
              </td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">Lawful Development Certificate ( Proposed ) to replace an existing shed with a single storey garden studio within permitted development rights.</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  5 days overdue
                </strong>
              </td>
              
            </tr>
            <tr class="govuk-table_row">
              <td class="govuk-table__cell">
                <a href="assessment-immunity.html">
                0000500
                </a>
              </td>
              <td class="govuk-table__cell">21 Tweed Rd, SE15 CKJ</td>
              <td class="govuk-table__cell">Lawful Development Certificate (Proposed) for a roof extension over rear addition</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  2 Days
                </strong></td>
                 
            </tr> 
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
             <a href="assessment-noclasses-prevalid.html">
                  0000545
               </a>
              </td>
              <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
              <td class="govuk-table__cell">Lawful development certificate for a proposed construction of a rear garden pergola.</td>
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  15 Days
                </strong></td>
               
            </tr>
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="assessment-pd.html">
                  0000600
                </a>
              </td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">Lawful Development Certificate for a Proposed rear roof dormer extension and 1no roof light on front roof slope.</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  30 Days
                </strong>
              </td>
               
            </tr>
            
            </tr>
          </tbody>
        </table>
      </div>
  {% endblock %}
{% endmacro %}
