{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
type: 'information',
text: 'Select text to add comment.',
iconFallbackText: 'information'
}) }} 

{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item"><a href="cert-of-law-reqs-approved.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item"><a href="make-recommendation.html">Make recommendation</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Confirmation</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 19/AP/1880
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">43 Busbey Lane, London, SE16 5GG</h2>
    

    </div>
    <div class="govuk-grid-column-one-third">
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 0 102px;">
            <strong class="govuk-tag govuk-tag--green">
                35 days remaining
            </strong>
        </div>
     </div>
    </div>



    <div class="govuk-grid-row">
        
        
<! –– Left panel with tasks and map ––>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Your recommendation
        </h2>
          
        <p class="govuk-body">
                You recommended that this applicant can be granted a certificate of lawfulness. <br>
            Once confirmed, this plan will then go to your planning manager for approval.
        </p>
    
          
        <p class="govuk-body">
            <strong>
                Please confirm your selection. 
            </strong>
        </p>
    <a class="govuk-button" data-module="govuk-button" href="cert-of-law-reqs-recommended.html">
        Confirm
    </a>  
        
        </div>
        

{% endblock %}
