{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a href="cert-of-law-hp.html">Application</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Permitted development rights</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 19/AP/1880
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">43 Busbey Lane, London, SE16 5GG</h2>
    
    
       

    
<! –– Panel question ––>

    <div class="govuk-form-group" style="clear:both; float: none;">
            <p class="govuk-body">
                <strong>
                   This property has permitted development rights
                </strong>
            </p>
            <p class="govuk-body">
                  Based on GIS data, it is known that this property is eligible for permitted development.
            </p>
 
<!--
    <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          Yes
        </label>
      </div>
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No - permitted development rights have been removed
        </label>
      </div>
       
      </div>
-->
</div>

    
    <a class="govuk-button" data-module="govuk-button" href="">
        Back
    </a>  
        
        
      </div>
        
        
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 30px 100px; ">
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--green">
               Due: May 29<br>35 days remaining
            </strong>
            </p>
        </div>
        
       
    
          
   
{% endblock %}

