{% macro leftaccordion(params) %}
{% block content %}
  
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" >

            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Application information
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Address: </b></td>
                <td class="govuk-table__cell">150 Bellenden Road London SE15 4QY</td>
            </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Ward: </b></td>
                  <td class="govuk-table__cell">Rye Lane</td>
            </tr>
            <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Property type: </b></td>
                  <td class="govuk-table__cell">Terrace</td>
            </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Application type: </b></td>
            <td class="govuk-table__cell">Proposed permitted development: Certification of lawfulness	</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary: </strong></td>
            <td class="govuk-table__cell">
                <p class="govuk-body">
                    Certificate of lawfulnesss (proposed) for the construction of a single storey side extension.   
                </p>
              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><b>Case officer: </b></td>
              <td class="govuk-table__cell">Sandra Lewis</td>
            </tr>


        </tbody>
          </table>
                </div>
            </div>

   
            </div>
                      
            




{% endblock %}

{% endmacro %}