{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="index">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Application</li>
              </ol>
            </div>
      <h1 class="govuk-heading-l">
        Fast track application: 19/AP/1881
      </h1> 
      </div>
    </div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Property information
        </h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Address: </strong></td>
            <td class="govuk-table__cell">43 Busbey Lane, London, SE16 5GG</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Property type: </strong></td>
            <td class="govuk-table__cell">Residential</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Listed building: </strong></td>
            <td class="govuk-table__cell">No</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Conservation area: </strong></td>
            <td class="govuk-table__cell">No</td> 
          </tr>
    </tbody>
          </table>      
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Application information
        </h2>
                  <table class="govuk-table">
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Type: </b></td>
            <td class="govuk-table__cell">Certificate of Lawfulness</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application status: </strong></td>
            <td class="govuk-table__cell">Waiting for review</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Validation complete: </strong></td>
            <td class="govuk-table__cell">1 October 2019</td> 
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary of proposal: </strong></td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        Roof extension (rear)
                    </li>
                    <li>
                        Dormer
                    </li>
            </ul>
              </td> 
          </tr>
    </tbody>
          </table>
          

      </div>
    </div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Assess the proposal</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="upload-review-doc" aria-describedby="external-review-completed">
                Check permitted development requirements
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Make recommendation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
                Make recommendation
            </li>
          </ul>
        </li>
      </ol>
    <img src="../../assets/images/map.png" alt="map">
          
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Constraints
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Documents
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>This is the content for Writing well for specialists.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Applicant contact details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'>This is the content for Know your audience.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This is the content for How people read.</p>
            </div>
          </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Map and site details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This is the content for How people read.</p>
            </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}