{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding-widescreen.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}
<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
      </ol>
    </div>
    <h1 class="govuk-heading-l">
      Fast track applications
    </h1>
    <p class="govuk-body" >
      Sandra Lewis, Planning Officer<br />
      <a href="">
        View all applications
      </a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div
      class="govuk-breadcrumbs"
      style="float: right;"
      style="margin-bottom: 20px; float: right;"
    >
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="">Log out</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<! –– Content ––>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--Tabs        -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#not-started">
            Not started
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#in-assessment">
            In assessment
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#awaiting-determination">
            Awaiting determination
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#determined">
            Determined
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="not-started">
        <h2 class="govuk-heading-l">Not started</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">
                Consultation status
              </th>
              <th scope="col" class="govuk-table__header">Status</th>
              <!--            <th scope="col" class="govuk-table__header">Date received</th>-->
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
               
                  20/AP/0607
                
              </td>
              <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
              <td class="govuk-table__cell">
                LDC
              </td>
              <td class="govuk-table__cell">
                Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  July 12
                </strong>
              </td>
              <td class="govuk-table__cell">June 19</td>
              <td class="govuk-table__cell">Not required</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                Registered
                </strong>
              </td>
              <!--            <td class="govuk-table__cell">March 4</td>-->
              <td class="govuk-table__cell">
             
              </td>
            </tr>
    
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">  <a href="task-list-wide.html">
                20/AP/0870
              </a></td>
              <td class="govuk-table__cell">1 Rycott Path, East Dulwich, SE22 0AA</td>
              <td class="govuk-table__cell">
              FULL
              </td>
              <td class="govuk-table__cell">
                Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 2
                </strong>
              </td>
              <td class="govuk-table__cell">July 9</td>
              <td class="govuk-table__cell">Required</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  Registered
                </strong>
              </td>
              <!--            <td class="govuk-table__cell">March 25</td>-->
              <td class="govuk-table__cell">
             
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">19/AP/1873</td>
              <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
              <td class="govuk-table__cell">FULL</td>
              <td class="govuk-table__cell">
                Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
              <td class="govuk-table__cell">Required</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  Registered
                </strong>
              </td>
              <!--            <td class="govuk-table__cell">March 25</td>-->
              <td class="govuk-table__cell">
        
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
      class="govuk-tabs__panel govuk-tabs__panel--hidden"
      id="in-assessment"
    >
      <h2 class="govuk-heading-l">In assessment</h2>
      <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
        
              <th scope="col" class="govuk-table__header">
                Consultation end data
              </th>
              <th scope="col" class="govuk-table__header">Status</th>
              <!--            <th scope="col" class="govuk-table__header">Date received</th>-->
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="cert-of-law-hp.html">
                20/AP/0607
              </a>
            </td>
            <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
            <td class="govuk-table__cell">LDC</td>
              <td class="govuk-table__cell">
                Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
            <td class="govuk-table__cell">Not required</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--turquoise">
              In assessment
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 4</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20/AP/0730</td>
            <td class="govuk-table__cell">91 Callway Road, SE1 4XJ</td>
            <td class="govuk-table__cell">FULL</td>
            <td class="govuk-table__cell">
              Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                July 4
              </strong>
            </td>
            <td class="govuk-table__cell">July 18</td>
            <td class="govuk-table__cell">Required</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--orange">
                Awaiting correction
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="task-list-wide.html">
              20/AP/0870
            </a></td>
            <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
            <td class="govuk-table__cell">FULL</td>
              <td class="govuk-table__cell">
                Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  July 4
                </strong>
              </td>
              <td class="govuk-table__cell">July 18</td>
            <td class="govuk-table__cell">Required</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--turquoise">
                In assessment
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
            	Seymour Morar
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      
      <div
        class="govuk-tabs__panel govuk-tabs__panel--hidden"
        id="awaiting-determination"
      >
        <h2 class="govuk-heading-l">Awaiting determination</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">Days left</th>
              <th scope="col" class="govuk-table__header">
                Recommendation date
              </th>
              <th scope="col" class="govuk-table__header">Status</th>
              <!--            <th scope="col" class="govuk-table__header">Date received</th>-->
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                20/AP/0607
            </td>
            <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
            <td class="govuk-table__cell">
              Proposed permitted development:<br> Certification of lawfulness
            </td>
            <td class="govuk-table__cell">June 12</td>
            <td class="govuk-table__cell">June 19</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                9
              </strong>
            </td>
            <td class="govuk-table__cell">June 29 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                AWAITING DETERMINATION
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 4</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20/AP/0730</td>
            <td class="govuk-table__cell">91 Callway Road, SE1 4XJ</td>
            <td class="govuk-table__cell">
              Proposed permitted development:<br> Certification of lawfulness
            </td>
            <td class="govuk-table__cell">July 2</td>
            <td class="govuk-table__cell">July 9</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                33
              </strong>
            </td>
            <td class="govuk-table__cell">June 29 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                AWAITING DETERMINATION
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              20/AP/0870</td>
            <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
            <td class="govuk-table__cell">Full householder</td>
            <td class="govuk-table__cell">July 4</td>
            <td class="govuk-table__cell">July 18</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                35
              </strong>
            </td>
            <td class="govuk-table__cell">July 2 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--purple">
                AWAITING DETERMINATION
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
            	Seymour Morar
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="determined">
        <h2 class="govuk-heading-l">Determined</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application number</th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Expiry date</th>
              <th scope="col" class="govuk-table__header">Days left</th>
              <th scope="col" class="govuk-table__header">
                Determination date
              </th>
              <th scope="col" class="govuk-table__header">Status</th>
              <!--            <th scope="col" class="govuk-table__header">Date received</th>-->
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                20/AP/0607
            </td>
            <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
            <td class="govuk-table__cell">
              Proposed permitted development:<br> Certification of lawfulness
            </td>
            <td class="govuk-table__cell">June 12</td>
            <td class="govuk-table__cell">June 19</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                9
              </strong>
            </td>
            <td class="govuk-table__cell">June 29 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                Refuse
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 4</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">20/AP/0730</td>
            <td class="govuk-table__cell">91 Callway Road, SE1 4XJ</td>
            <td class="govuk-table__cell">
              Proposed permitted development:<br> Certification of lawfulness
            </td>
            <td class="govuk-table__cell">July 2</td>
            <td class="govuk-table__cell">July 9</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                33
              </strong>
            </td>
            <td class="govuk-table__cell">June 29 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Returned
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
              Seymour Morar
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              20/AP/0870</td>
            <td class="govuk-table__cell">91 Routing Road, SE4 9LK</td>
            <td class="govuk-table__cell">Full householder</td>
            <td class="govuk-table__cell">July 4</td>
            <td class="govuk-table__cell">July 18</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                35
              </strong>
            </td>
            <td class="govuk-table__cell">July 2 2021</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
                Granted
              </strong>
            </td>
            <!--            <td class="govuk-table__cell">March 25</td>-->
            <td class="govuk-table__cell">
            	Seymour Morar
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
