validate-documents.html
{% extends "layout.html" %} 
{% from "./customnjk/left-accordion-fh-v11-af-wide.njk" import leftaccordion %} 
{% from "./customnjk/full-householder-task-list-incomplete-v11.njk" import tasklist %} 
{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding-widescreen.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}


<! –– Header ––>
<div style="display: block; float: left;">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html"
            >Home</a
          >
        </li>
     
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task-list-wide.html"
            >Application</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Validate documents
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl" style="margin-bottom: 7px;">
      20/AP/0870
    </h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 20px;">
      1 Rycott Path, East Dulwich, SE22 0AA
    </h2>
    <p>
        <strong class="govuk-tag govuk-tag--green">In assessment</strong>&emsp;Due: 12 June 2021 - 30 days remaining
      </p>
      <p style="margin-bottom: 70px;">Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
      

</div>

    <! –– Right panel with additional information in accordion ––>
 
  



<! –– Rows ––>

<div class="govuk-grid-row" style="clear: both; float: none;" style="padding-right: 7px;">
  <div class="govuk-grid-column-one-third">
    <! –– Application detail blocks ––>
    {{ leftaccordion() }}
  </div>

  <div class="govuk-grid-column-two-thirds" style="padding-left: 120px;">
    <! -- validate proposal -->

    <div style="margin-top: -40px;">
        
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
            <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l" > Validate application</h1>

    
          
          <p style="padding-top: 10px;">
            Please check all documents meet the requirements for validation before proceeding.
          </p>
         
    
         <!--div class="govuk-form-group" style="padding-top: 20px;">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Does the application include: 
                </h1>
              </legend>
    
             
              <div class="govuk-checkboxes govuk-checkboxes--small" style="padding-top: 10px;">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                   <strong>Location plan</strong> 
                   <div id="waste-hint" class="govuk-hint" style="margin-top: 10px;">
                 Scale is 1:1250 or 1:2500. Application site, all access and any proposed dropped kerb / crossover are outlined in red. There is only one red edged area. It matches any other red-edged area on other plans received. Adjoining or nearby land also owned by the applicant is outlined in blue. </div>
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="site-block-plan">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                   <strong>Site / Block Plan</strong> 
                   <div id="waste-hint" class="govuk-hint" style="margin-top: 10px;">
                   Only required if the footprint of the building is changing. Scale is 1:200 or 1:500. Plan shows the proposed development in relation to site boundaries and existing dwelling (usually done by shading/hatching etc.). Drop kerb / crossover applications must include the area of kerb concerned. There is only one red edged area. It matches any other red-edged area on other plans. </label>
                </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                   <strong>Proposed elevations</strong> 
                   <div id="waste-hint" class="govuk-hint" style="margin-top: 10px;">
                    Scale is 1:50 or 1:100. Proposed works clearly shown in relation to the existing dwelling.</div>
                  </label>
              
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                 <strong>Proposed floor plans</strong> 
                 <div id="waste-hint" class="govuk-hint" style="margin-top: 10px;">
                  Scale is 1:50 or 1:100. Proposed works clearly shown in relation to the existing dwelling</div>
                </label>
              </div>
           
          
            </fieldset>
          </div>-->

          
          <fieldset class="govuk-fieldset" style="margin-top: 30px;">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom: 10px;">Is the application valid?</legend>
            <p id="waste-hint" class="govuk-hint" style="margin-top: 10px;">
              If the application is invalid, please contact the applicant via email.
      
            </p>
            <div class="govuk-radios" data-module="govuk-radios" style="margin-top: 10px;">
            <div class="govuk-radios__item">
              <input id="planning-application-status-in-assessment-field" class="govuk-radios__input" type="radio" value="in_assessment" name="planning_application[status]" aria-controls="planning-application-status-in-assessment-conditional" aria-expanded="false">
              <label for="planning-application-status-in-assessment-field" class="govuk-label govuk-radios__label">Yes</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="planning-application-status-in-assessment-conditional">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="planning-application-documents-validated-at-hint">
                  
                  <span class="govuk-hint" id="planning-application-documents-validated-at-hint">Enter valid date, e.g. 28 12 2021</span>
                  <div class="govuk-date-input">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="planning_application_documents_validated_at_3i">Day</label>
                        <input id="planning_application_documents_validated_at_3i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="planning_application[documents_validated_at(3i)]" type="text" pattern="[0-9]*" inputmode="numeric" value="2">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="planning_application_documents_validated_at_2i">Month</label>
                        <input id="planning_application_documents_validated_at_2i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="planning_application[documents_validated_at(2i)]" type="text" pattern="[0-9]*" inputmode="numeric" value="3">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="planning_application_documents_validated_at_1i">Year</label>
                        <input id="planning_application_documents_validated_at_1i" class="govuk-input govuk-date-input__input govuk-input--width-4" name="planning_application[documents_validated_at(1i)]" type="text" pattern="[0-9]*" inputmode="numeric" value="2021">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

    </div>
    <div class="govuk-radios__item"><input id="planning-application-status-invalidated-field" class="govuk-radios__input" type="radio" value="invalidated" name="planning_application[status]"><label for="planning-application-status-invalidated-field" class="govuk-label govuk-radios__label">No</label>
    </div>
    </div>
  </fieldset>


    <div class="govuk-button-group" style="margin-top: 50px;">
      <a class="govuk-button" data-module="govuk-button" href="task-list-wide.html">
        Save
      </a>
    
      <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="task-list-wide.html">
        Back
      </a>
    </div>
</div>
</div>

</main>
</div>



  </div>
    
  </div>
</div>

{% endblock %}

