{% macro application_not_started() %}
  {% block content %}
<div class="govuk-tabs__panel" id="not-started">
        <h2 class="govuk-heading-l">Not started</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                Application number
              </th>
              <th scope="col" class="govuk-table__header">Site address</th>
              <th scope="col" class="govuk-table__header">Application type</th>
              <th scope="col" class="govuk-table__header">Target date</th>
              <th scope="col" class="govuk-table__header">Days left</th>
              <th scope="col" class="govuk-table__header">
                Status
              </th>
              <!--            <th scope="col" class="govuk-table__header">Date received</th>-->
              <th scope="col" class="govuk-table__header">Planning officer</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="cert-of-law-hp.html">
                  20/AP/0607
                </a>
              </td>
              <td class="govuk-table__cell">150 Bellenden Road, SE15 4QY</td>
              <td class="govuk-table__cell">
                Permitted development
              </td>
              <td class="govuk-table__cell">June 12</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  9
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  not started
                </strong>
              </td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table_row">
              <td class="govuk-table__cell">
                19/AP/1852
              </td>
              <td class="govuk-table__cell">21 Tweed Rd, SE15 CKJ</td>
              <td class="govuk-table__cell">Permitted development</td>
              <td class="govuk-table__cell">May 30</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  0
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Invalid
                </strong>
              </td>
              <td class="govuk-table__cell">Sandra Lewis</td>
            </tr>
          </tbody>
        </table>
      </div>
  {% endblock %}
{% endmacro %}
