{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                  <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                  <li class="govuk-breadcrumbs__list-item"> <a href="document-management.html">Documents</a></li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Upload document</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Documents: [##/AP/####]
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">[## Address, Street name, AB# #CD]</h2>
    
      
        
        <h2 class="govuk-heading-m">
            Upload new document
        </h2>
        
         <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        
        
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <br><h2 class="govuk-fieldset__heading">
          Please select relevant tags for the plan you are uploading
      </h2>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          FRONT ELEVATION - PROPOSED
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          FRONT ELEVATION - EXISTING
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          SIDE ELEVATION - PROPOSED
        </label>
      </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          SIDE ELEVATION - EXISTING
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          FLOOR PLAN - PROPOSED 
        </label>
        </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          FLOOR PLAN - EXISTING
            </label>
        </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          SECTION - PROPOSED
            </label>
        </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          SECTION - EXISTING
            </label>
        </div>
    </div>
  </fieldset>
</div>
<!--
    <div class="govuk-radios govuk-radios--conditional govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          Elevation
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
        <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Front
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Rear
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                  Side (N)
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-4" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-4">
                  Side (E)
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                  Side (S)
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                  Side (W)
                </label>
              </div>
            </div>
      </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              Floor plan
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Basement
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Ground
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                  1st floor
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-4" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-4">
                  2nd floor
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  3rd floor
                </label>
              </div>
            </div>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
              Roofplan
            </label>
          </div>
          
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-4">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
              Sections
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-4">
            <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  A
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  B
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-3">
                 C
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-4" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-4">
                  D
                </label>
              </div>
                <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  E
                </label>
              </div>
            </div>

            </div>
          </div>
        </div>
      </fieldset>
    </div>
        
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-heading-s">
                Is the plan proposed or existing?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-6" name="changed-name" type="radio" value="month">
                <label class="govuk-label govuk-radios__label" for="changed-name-5">
                  Proposed
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-6" name="changed-name" type="radio" value="year">
                <label class="govuk-label govuk-radios__label" for="changed-name-6">
                  Existing
                </label>
              </div>
            </div>
          </fieldset>
-->
        <br>
        <br>

        
        
        
 <a class="govuk-button" data-module="govuk-button" href="document-management-upload-2.html">
        Continue
    </a>  
        
            </div>
        

    
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
         
    </div>
</div>
{% endblock %}
