{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
type: 'information',
text: 'Select text to add comment.',
iconFallbackText: 'information'
}) }} 

{% extends "layout.html" %}

{% block content %}


<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
            <form action="/approve-recomendation-answer" method="post" class="form">

        
        
        
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item"><a href="">Application</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Permitted development requirements</li>
                
              </ol>
        </div>

        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 19/AP/1880
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">43 Busbey Lane, London, SE16 5GG</h2>
    
      
        <! –– Application detail blocks ––>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" >
            
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Application information
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <table class="govuk-table">
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Type: </b></td>
            <td class="govuk-table__cell">Proposed permitted development: Certification of lawfulness	</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application status: </strong></td>
            <td class="govuk-table__cell">In assessment</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Validation complete: </strong></td>
            <td class="govuk-table__cell">2 April 2020</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary of proposal: </strong></td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        Roof extension (rear)
                    </li>
                    <li>
                        Dormer
                    </li>
            </ul>
              </td>
          </tr>
        </tbody>
          </table>
                </div>
            </div>
    <!--  Documents        -->
          
    <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Proposal documents
                </span>
              </h3>
            </div>
          
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <div style="float: none; clear: both">
                    <div style="float: left; margin-left: 20px;">
                        <p class='govuk-body'>Existing floorplan</p>
                        <img src="/public/images/existing-floorplan.png" style="width: 200px">
                        <p class='govuk-body'><a href="">Download</a></p>
                    </div>
                    <div style="float: left; margin-left: 20px;">
                        <p class='govuk-body'>Proposed floorplan</p>
                        <img src="/public/images/proposed-floorplan.png" style="width: 200px">
                        <p class='govuk-body'><a href="">Download</a></p>
                    </div>
                </div>
                <div style="float: none; clear: both">
                    <div style="float: left; margin-left: 20px;">
                        <p class='govuk-body'><br>Existing section</p>
                        <img src="/public/images/existing-section.png" style="width: 200px">
                        <p class='govuk-body'><a href="">Download</a></p>
                    </div>
                    <div style="float: left; margin-left: 20px;">
                        <p class='govuk-body'><br>Proposed section</p>
                        <img src="/public/images/existing-section.png" style="width: 200px">
                        <p class='govuk-body'><a href="">Download</a></p>
                    </div>
                </div>
            
            </div>
    </div>        
    <! -- Map -->
            
            <div class="govuk-accordion__section " style="float: none; clear: both;">
                <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Site details
                </span>
              </h3>
            </div>
            
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <div style="float:left; margin-bottom: 10px;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input " id="map" name="map" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="map">
              Conservation areas
            </label>
          </div>
        </div>
       <div style="float:right; margin-right: 60px;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-2" name="map" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="map-2">
              Listed buildings
            </label>
          </div>
        </div>
        <div style="float:none; margin: 20px 0 20px 0;">
          <div class="govuk-checkboxes__item govuk-checkboxes--small" >
            <input class="govuk-checkboxes__input" id="map-3" name="map" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="map-3">
              Trees (TPOs)
            </label>
          </div>
        </div>
    <img src="/public/images/Map-Update.png" style="max-width: 600px;" alt="map">
    <p class="govuk-body">
        <a href="#" class="govuk-link">
            Street view on Google Map
        </a>
    </p>
            </div>
                
                </div>
           
        </div>

   <! –– Left panel with tasks and map ––>
        <h2 class="govuk-heading-m">
            Permitted development requirements
        </h2>
        <p class="govuk-body">
        The applicant has submitted the following application. 
        </p>
          
<!--    Policy question -->
    <div class="govuk-form-group">
       <ol class="govuk-body" style="line-height: 2;">
           
          <li>
              I want to <strong>alter the interior layout</strong>
           </li>
           <li>
               The project will <strong>increase </strong> the internal floor area of the building
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
            <li>
               Insert the statement <strong>with the very </strong> important part from applicant in bold.
           </li>
        </ol>
        <p class="govuk-body">
            <br>Based on the evidence given by applicant, the planning officer recommended that permitted development should be <strong>[granted/refused]</strong>.
            <br><br>
            The officer has submitted this comment to the applicant:
        </p>
        
        <div style="border: 1px solid; padding: 10px;">
            <p class="govuk-body">
                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            </p>
             
             </div>
              
               
        </div>

<!--        Question-->

        <div class="govuk-form-group">
        
        <h2 class="govuk-heading-s">Do you agree with this recommendation?</h2>
        
        
        <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">  
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                        Please provide information for your planning officer to review
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>                
                </div>
                </div>
            </div>
            </div>
        
       

    </div>
        </form>
        
        <a class="govuk-button" data-module="govuk-button" href="review-recommendation.html">Save and continue</a>
        </div>
        




<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 30px 100px; ">
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--green">
               Due: May 29<br>35 days remaining
            </strong>
            </p>
        </div>
        
       
    
          <h2 class="app-task-list__section" style="float: none; clear: both;">
            <span class="app-task-list__section-number">Supporting information</span>
          </h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Property details
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                <strong>Address: </strong> 43 Busbey Lane, London, SE16 5GG
            </li>
            <li>
                <strong>Property type: </strong>Residential
            </li>
            <li>
                <strong>Listed building: </strong> No
            </li>
            <li>
                <strong>Conservation area: </strong> No
            </li>
          </ul>
            </div>
            </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Property history
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Permitted development rights: Active
            </li>
            <li>
                Residential area
            </li>
          </ul>
            </div>
          </div>
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Constraints
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Urban density zone
            </li>
            <li>
                Controlled parking zone
            </li>
            <li>
                Air quality management area
            </li>
          </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Contact information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'><strong>Agent:</strong><br>Trevor King<br>07824 693239<br><a href="">trevor.king@planningco.co.uk</a></p>
              <p class='govuk-body'><strong>Applicant:</strong><br>Hannah Dogurga<br>07839 282839<br><a href="">hannah.dogurga@gmail.com</a></p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Consultation is not applicable for proposed permitted development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

