
{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item"><a href="cert-of-law-reqs-recommended.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Review recommendation</li>
              </ol>
        </div>
        <h1 class="govuk-heading-l">
            Fast track application: 19/AP/1880
        </h1>
    </div>
    <div class="govuk-grid-column-one-third">
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 0 102px;">
            <strong class="govuk-tag govuk-tag--red">
                7 days remaining
            </strong>
        </div>
     </div>
    </div>

<! –– Property detail blocks ––>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Property details
        </h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Address: </strong></td>
            <td class="govuk-table__cell">43 Busbey Lane, London, SE16 5GG</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Property type: </strong></td>
            <td class="govuk-table__cell">Residential</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Listed building: </strong></td>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Conservation area: </strong></td>
            <td class="govuk-table__cell">No</td>
          </tr>
    </tbody>
          </table>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Application information
        </h2>
                  <table class="govuk-table">
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Type: </b></td>
            <td class="govuk-table__cell">Certificate of Lawfulness</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Application status: </strong></td>
            <td class="govuk-table__cell">Waiting for review</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Validation complete: </strong></td>
            <td class="govuk-table__cell">1 October 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary of proposal: </strong></td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        Roof extension (rear)
                    </li>
                    <li>
                        Dormer
                    </li>
            </ul>
              </td>
          </tr>
    </tbody>
          </table>


      </div>
    </div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<! –– Content ––>

    <div class="govuk-grid-row">
        
<! –– Left panel with letter ––>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Recommendation letter by John Smith
        </h2>
        <p class="govuk-accordion__open-all" style="float: right; margin: 0 0 10px 0;">
            <a href="">
                Edit letter
            </a>
        </p>
<! –– Letter ––>

       <div style="background-color: #f3f2f1; border: solid 1px; padding: 20px; clear: both; margin-top: 10px;">   
        <p class="govuk-body">
                Dear Hannah Dogurga,
        </p>
        <p class="govuk-body">
                The Coventry council has <strong>approved</strong> your certificate of lawfulness for permitted development. This is for the property <strong>43 Busbey Lane</strong> for the roof extension (rear) and dormer as it meets the following requirements. 
        </p>
          
        
        <ul class="govuk-list govuk-list--bullet">
            <li>
                The project will <strong>not</strong> include the alteration or addition of a chimney, vent or vent pipe
            </li>  
            <li>
                The project will <strong>not</strong> include the alteration or addition of an outdoor balcony or verandha.
            </li>  
        </ul>
        
        <p class="govuk-body">
            However, this is on the expectation that you comply with council rules to:
        </p>
            <ul class="govuk-list govuk-list--bullet">
            <li>
                <strong>
                    Ensure that the windows comply with the neighbourhood rules
                </strong> 
            </li>
            </ul>
        <p class="govuk-body">
            Given this, application we have now granted you this <a href="">certificate of lawfulness</a>. 
        </p>
        <p>Best, <br>John Smith</p>
           
        </div>
          <br>
        <p class="govuk-body">
            <strong>
                Do you agree with John Smith's recommendation? 
            </strong>
        </p>
        <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" href="cert-of-law-reqs-recommended-agree.html">
          Agree
        </a>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Disagree
        </button>
        </div>
        
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Supporting information</span>
          </h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Constraints
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Conservation area
            </li>
            <li>
                Urban density zone
            </li>
            <li>
                Controlled parking zone
            </li>
            <li>
                Air quality management area
            </li>
          </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Documents
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Existing floorplan</p>
                <img src="/public/images/existing-floorplan.png" style="width: 200px">
                <p class='govuk-body'><br>Proposed floorplan</p>
                <img src="/public/images/proposed-floorplan.png" style="width: 200px">
                <p class='govuk-body'><br>Existing section</p>
                <img src="/public/images/existing-section.png" style="width: 200px">
                <p class='govuk-body'><br>Proposed section</p>
                <img src="/public/images/existing-section.png" style="width: 200px">
                <p class='govuk-body'><br>Existing roofplan</p>
                <img src="/public/images/existing-roofplan.png" style="width: 200px">

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Applicant contact
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'><strong>Hannah Dogurga</strong><br>07839 282839<br><a href="">hannah.dogurga@gmail.com</a></p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This is the content for How people read.</p>
            </div>
          </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Map and site details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>This is the content for How people read.</p>
            </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
