evidence-table.njk

{% macro evidenceTable(
    type,
    asset1, asset1_tag, comment1,
    asset2, asset2_tag, comment2,
    asset3, asset3_tag, comment3,
    asset4, asset4_tag, comment4
) %}
{% block content %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">{{type}}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Document</th>
      <th scope="col" class="govuk-table__header">Document tag</th>
      <th scope="col" class="govuk-table__header">Comment</th>
      <th scope="col" class="govuk-table__header">View and edit details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><img src="{{asset1}}" width="100" style="border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">{{asset1_tag}}</strong>  </td>
      <td class="govuk-table__cell">{{comment1}}</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">View and edit</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><img src="{{asset2}}" width="100" style="border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">{{asset2_tag}}</strong>  </td>
      <td class="govuk-table__cell">{{comment2}}</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">View and edit</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><img src="{{asset3}}" width="100" style="border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">{{asset3_tag}}</strong>  </td>
       <td class="govuk-table__cell">{{comment3}}</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">View and edit</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><img src="{{asset4}}" width="100" style="border: solid 1px #bcbcbc"/></th>
      <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--purple">{{asset4_tag}}</strong>  </td>
      <td class="govuk-table__cell">{{comment4}}</td>
      <td class="govuk-table__cell"><a class="govuk-link" href="immunity-bills-comment.html">View and edit</a></td>
    </tr>
  </tbody>
</table>



{% endblock %}

{% endmacro %}