{% macro fifteendays() %}
{% block content %}

<div class="govuk-inset-text">
        If your response is not received by
        <strong> [DD Month YYYY] </strong> your application will be returned to you and your payment refunded.
      </div>

{% endblock %}
{% endmacro %}