{% macro fivedays(thing) %}
{% block content %}

<div class="govuk-inset-text">
  If your response is not received by <strong> [DD Month YYYY] </strong> {{thing}} will be automatically accepted for use with your application. This is to avoid delays in making a determination.  
</div>

{% endblock %}
{% endmacro %}