immunity-assessment-table.njk
{% macro immunity(
    history_status, history_tag,
    summary_status, summary_tag,
    submit_status, submit_tag
) %}
{% block content %}

<ul class="moj-task-list__items">
    <li class="moj-task-list__item">  
    <a class="moj-task-list__task-name" href="immunity-history.html"> Add planning history  </a>
    <strong class="govuk-tag govuk-tag--{{history_tag}}" style="float: right;">
    {{history_status}}
    </strong> 
    </li> 
    <li class="moj-task-list__item">  
    <a class="moj-task-list__task-name" href="immunity-summary.html"> Assess overall proposal </a>
    <strong class="govuk-tag govuk-tag--{{summary_tag}}" style="float: right;">
    {{summary_status}}
    </strong> 
    </li>  
    <li class="moj-task-list__item">  
    <a class="moj-task-list__task-name" href="immunity-recommendation.html"> Submit recommendation </a>
    <strong class="govuk-tag govuk-tag--{{submit_tag}}" style="float: right;">
    {{submit_status}}
    </strong> 
    </li>  
</ul>

{% endblock %}

{% endmacro %}