{% macro relatedinfo(params) %}
{% block content %}
  <! –– Right panel with additional information in accordion ––>



    <div
      class="govuk-accordion"
      data-module="govuk-accordion"
      id="accordion-default"
    >

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-1"
            >
              Constraints
            </span>
          </h3>
        </div>
        <div
          id="accordion-default-content-1"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1"
        >
        <div class="govuk-warning-text">
       <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
         <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The applicant or agent believes the constraints are inaccurate
         </strong>
      </div>
       <p class="govuk-body">
        <strong>What is inaccurate:</strong> These are the inaccuracies. Taken from "planning_constraints": "TEST - REPORT AN INACCURACY (CONSTRAINTS)"
      </p>
        
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Conservation area
            </li>
          </ul>
          <p><a class="govuk-link govuk-link--no-visited-state" href="update-constraints-3">Update</a></p>
        </div>
      </div> 
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-1"
            >
              Key application dates
            </span>
          </h3>
        </div>
        <div
          id="accordion-default-content-1"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1"
        >
          <p><strong>Application submitted:</strong> 2 March 2020</p>
          <p><strong>Application received:</strong> 2 March 2020</p>
          <p><strong>Validation complete:</strong> 4 March 2020</p>
          <p><strong>Target date:</strong> 12 June 2020</p>
          <p><strong>Expiry date:</strong> 19 June 2020</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-3"
            >
              Contact information
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-3"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3"
        >
          <p class="govuk-body"><strong>Agent:</strong><br />Not applicable</p>
          <p class="govuk-body">
            <strong>Applicant:</strong><br />David Fryman <br />020 7525 5000<br /><a
              href=""
              >david.fryman@email.com</a
            >
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-3"
            >
              Consultation
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-3"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3"
        >
          <p class="govuk-body">Consultation is not applicable for proposed permitted development.</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-4"
            >
              Audit log
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-4"
          class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-4"
        >
          <p class="govuk-body">Document uploaded</p>
          <p class="govuk-body"><em>Existing_and_proposed_floor_plan.pdf</em></p>
          <p class="govuk-body">RIPA</p>
          <p class="govuk-body">4 April 2022 at 12:28</p>
          <p class="govuk-body"><a href="#">View all audits</a></p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-default-heading-5"
            >
              Notes
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
       <div>

              <p class="govuk-body"><a href="#">Add note</a></p>
              
        </div>
        </div>
      </div>
  
    </div>
    <p><a class="govuk-link govuk-link--no-visited-state" href="cancel-application">Close or cancel application</a></p>
  </div>

{% endblock %}

{% endmacro %}