{% macro validationtasklist(
    redline_status, redline_tag, 
    fee_status, fee_tag, 
    constraints_status, constraints_tag, 
    doc1_status, doc1_tag, 
    doc2_status, doc2_tag, 
    doc3_status, doc3_tag, 
    doc4_status, doc4_tag,
    doc5_status, doc5_tag,
    doc6_status, doc6_tag, 
    doc7_status, doc7_tag, 
    doc8_status, doc8_tag, 
    doc9_status, doc9_tag,  
    listDocs_status, listDoc_tag, 
    review_status, review_tag, 
    decision_status, decision_tag) %}
{% block content %}

<div class="govuk-width-container ">
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This application has not been marked as valid or invalid</h2>
      <p class="govuk-body govuk-!-margin-bottom-7"><a class="govuk-link" href="validation-request-summary-prevalid.html"> View validation requests</a></p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Red line boundary
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-red-line.html" aria-describedby="eligibility-status">
                  Validate red line boundary
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{redline_tag}} app-task-list__tag" id="eligibility-status" style="float: right;">{{redline_status}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Fee
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-fee.html" aria-describedby="eligibility-status">
                  Validate fee
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{fee_tag}} app-task-list__tag" id="eligibility-status" style="float: right;">{{fee_status}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Constraints
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-constraints.html" aria-describedby="eligibility-status">
                  Validate constraints
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{constraints_tag}} app-task-list__tag" id="eligibility-status" style="float: right;">{{constraints_status}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Check supplied documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-document.html" aria-describedby="validate-document1">
                  Validate document 1
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc1_tag}} app-task-list__tag" id="contact-details-status" style="float: right;">{{doc1_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-document.html" aria-describedby="validate-document2">
                  Validate document 2
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc2_tag}} app-task-list__tag" id="list-convictions-status" style="float: right;">{{doc2_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document3">
                Validate document 3
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc3_tag}} app-task-list__tag" id="financial-evidence-status" style="float: right;">{{doc3_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document4">
                Validate document 4
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc4_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc4_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document5">
                Validate document 5
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc5_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc5_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document6">
                Validate document 6
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc6_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc6_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document7">
                Validate document 7
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc7_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc7_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document8">
                Validate document 8
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc8_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc8_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-document.html" aria-describedby="validate-document9">
                Validate document 9
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{doc9_tag}} app-task-list__tag" id="medical-information-status" style="float: right;">{{doc9_status}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Check for missing documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-all-documents-constraints-test.html" aria-describedby="company-information-status">
                    Validate required documents are on application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{listDoc_tag}} app-task-list__tag" id="company-information-status" style="float: right;">{{listDocs_status}}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Other validation issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-other-request.html" aria-describedby="other-requests">
                Add an other validation request
              </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Review
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-request-summary-prevalid.html" aria-describedby="review_requests">
                Review validation requests
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{review_tag}} app-task-list__tag" id="submit-pay-status" style="float: right;">{{review_status}}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-confirm.html" aria-describedby="send_invalid">
                Send validation decision
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--{{decision_tag}} app-task-list__tag" id="submit-pay-status" style="float: right;">{{decision_status}}</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>


</main>
</div>

{% endblock %}

{% endmacro %}