{% macro leftaccordion(params) %} {% block content %}

<div
  class="govuk-accordion"
  data-module="govuk-accordion"
  id="accordion-default"
>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-1a"
        >
          Application information
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-1a"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-1a"
    >
      <table class="govuk-table">
        <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Proposal: </strong></td>
            <td class="govuk-table__cell">
             
                Proposed two storey side extension, new front shed, floor plan
                redesign and all associated works at 1 Rycott Path.
             
            </td>
        
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Site address: </b></td>
            <td class="govuk-table__cell">
            1 Rycott Path, London, SE22 0AA
            </td>
               <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>UPRN: </strong></td>
            <td class="govuk-table__cell">
             
                200003436472
              
            </td>
          </tr>
            <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Location: </b></td>
                  <td class="govuk-table__cell">
        <a href="https://www.google.com/maps/place/1+Rycott+Path,+East+Dulwich,+London+SE22+0AA/@51.4477935,-0.0743742,17z/data=!3m1!4b1!4m5!3m4!1s0x487603ea397f40f3:0xd69666d31fa5098e!8m2!3d51.4477935!4d-0.0721855" target="_blank">View site on Google Maps</a></td>
            </tr>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Ward: </b></td>
            <td class="govuk-table__cell">Dulwich Hill</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Property type: </b></td>
            <td class="govuk-table__cell">Terrace</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Application type: </b></td>
            <td class="govuk-table__cell">Full-householder</td>
          </tr>
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Payment reference: </b></td>
            <td class="govuk-table__cell">PAY1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Site map -->

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-2a"
        >
          Site map
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-2a"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-2a"
    >
  
      <p>
      <img
        src="/public/images/FH_SITE_LOCATION_PLAN-857983.png"
        style="max-width: 250px; margin-bottom: 10px;"
        alt="map"
      />
       <p>
        <a
          href="/public/images/FH_SITE_LOCATION_PLAN-857983.pdf"
          target="_blank"
          >View PDF in new window</a
        ><br />
      </p>
      <p class="govuk-body image-text-labels">
          File name: FH-SITE-LOCATION-PLAN-857983.PDF
      </p>
     
      <p class="govuk-body image-text-labels" style="margin-bottom: 30px;">
        Date received: 20 March 2020
      </p>
    </div>
  <!-- Constraints -->

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-1"
        >
          Constraints
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-1"
    >
      <ul class="govuk-list govuk-list--bullet">
        <li>
         Dulwich Estate Scheme Of Management
        </li>
          <li>
        Suburban Density Zone-Middle
        </li>
         <li>
       Smoke Control Zone
        </li>
         <li>
        Air Quality Management Area
        </li>
            <li>
        210488
        </li>
      </ul>
    </div>
  </div>
 
 <!-- Site history -->

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-1"
        >
          Site History
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-1"
    >
    <p class="govuk-body"><strong>Planning Applications:</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li>None</li>
</ul>
  <p class="govuk-body"><strong>Related cases:</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li>None</li>
</ul>
    
  </div>
  </div>

  <!-- Proposal drawings -->

   <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Documents
          </span>
        </h3>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="max-height:none;">
        <p><a class="govuk-link govuk-link--no-visited-state" href="manage-documents.html">Manage documents</a></p>

        <p class="govuk-body-m" style="margin-top: 60px;"><strong>Proposed</strong>  </p>
        <ul class="app-task-list">
          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-PROPOSED_SECTION_A-A_AND_SHED_ELEVATIONS-858712.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-PROPOSED_SECTION_A-A_AND_SHED_ELEVATIONS-858712.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-top-0.5">
              <p style="margin-bottom: 3px;">
                 <strong class="govuk-tag govuk-tag--turquoise">Section</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">elevation</strong></p>
                 <p>
                 <strong class="govuk-tag govuk-tag--turquoise">PROPOSED</strong>
                 </p>
                </p>
                </div>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: PROPOSED-SECTION-A-A-AND-SHED-ELEVATIONS.pdf</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
            <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-EXISTING_AND_PROPOSED_BLOCK_PLANS-858713.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-EXISTING_AND_PROPOSED_BLOCK_PLANS-858713.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <p style="margin-bottom: 3px;">
                 <strong class="govuk-tag govuk-tag--turquoise">Plan</strong> 
            <strong class="govuk-tag govuk-tag--turquoise">existing</strong></p>
            <p>
                 <strong class="govuk-tag govuk-tag--turquoise">PROPOSED</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: EXISTING-AND-PROPOSED-BLOCK-PLANS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
     
  
       
          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-PROPOSED_ELEVATIONS-858709.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-PROPOSED_ELEVATIONS-858709.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <strong class="govuk-tag govuk-tag--turquoise">elevation</strong> 
                
                 <strong class="govuk-tag govuk-tag--turquoise">proposed</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: PROPOSED-ELEVATIONS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>

             <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-PROPOSED_FIRST_FLOOR_AND_ROOF_PLANS-858705.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-PROPOSED_FIRST_FLOOR_AND_ROOF_PLANS-858705.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <p style="margin-bottom: 3px;">
              <strong class="govuk-tag govuk-tag--turquoise">floor</strong> 
                <strong class="govuk-tag govuk-tag--turquoise">roof</strong> 
                <strong class="govuk-tag govuk-tag--turquoise">plan</strong> </p>
                <p>
                 <strong class="govuk-tag govuk-tag--turquoise">proposed</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: PROPOSED-FIRST-FLOOR-AND-ROOF-PLANS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>

             <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-PROPOSED_GROUND_FLOOR_PLAN-858702.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-PROPOSED_GROUND_FLOOR_PLAN-858702.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <p style="margin-bottom: 3px;">
              <strong class="govuk-tag govuk-tag--turquoise">ground</strong> 
                <strong class="govuk-tag govuk-tag--turquoise">floor</strong> 
                <strong class="govuk-tag govuk-tag--turquoise">plan</strong> </p>
                <p>
                 <strong class="govuk-tag govuk-tag--turquoise">proposed</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: PROPOSED-GROUND-FLOOR-PLAN.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
       
 <p class="govuk-body-m" style="margin-top: 60px;"><strong>Existing</strong>  </p>
        <ul class="app-task-list">
         
          
            <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-EXISTING_ELEVATIONS-858708.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-EXISTING_ELEVATIONS-858708.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
                 <strong class="govuk-tag govuk-tag--turquoise">elevation</strong> 
            
                 <strong class="govuk-tag govuk-tag--turquoise">existing</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: EXISTING-ELEVATIONS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
            <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-EXISTING_FIRST_FLOOR_AND_ROOF_PLANS-858703.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-EXISTING_FIRST_FLOOR_AND_ROOF_PLANS-858703.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <p style="margin-bottom: 3px;">
               <strong class="govuk-tag govuk-tag--turquoise">Ground</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">Floor</strong> 
                  <strong class="govuk-tag govuk-tag--turquoise">Plan</strong> </p>
                  <p>
                 <strong class="govuk-tag govuk-tag--turquoise">existing</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: EXISTING-FIRST-FLOOR-AND-ROOF-PLANS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
           <li class="app-task-list__item">
            <div class="govuk-grid-column-one-half">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/FH-20AP0870-EXISTING_GROUND_FLOOR_PLANS-858701.png" style="width: 225px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/FH-20AP0870-EXISTING_GROUND_FLOOR_PLANS-858701.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-one-half">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
              <p style="margin-bottom: 3px;">
              <strong class="govuk-tag govuk-tag--turquoise">First</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">Floor</strong> 
                  <strong class="govuk-tag govuk-tag--turquoise">Plan</strong> </p>
                  <p>
                 <strong class="govuk-tag govuk-tag--turquoise">existing</strong>
                </p>
                <p class="govuk-body govuk-!-font-size-16"> 
                File name: EXISTING-GROUND-FLOOR-PLANS.PDF</br>
                Date received: [DD MM YYYY]
              </p>
            </div>
          </li>
       

           

             
       


            </div>
        </ul>
        
     
    
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-1"
        >
          Site visit
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-1"
    >
    
      <p class="govuk-body">
        Site visit notes go here. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Donec nibh turpis, consequat ac commodo a, interdum sed
        ligula. Etiam eget augue vel ex tincidunt porttitor.
      </p>
      <p class="govuk-body">
        Maecenas eget porttitor magna, vitae suscipit risus. Duis consectetur,
        odio ut aliquet euismod, nunc diam fringilla est, non eleifend dui urna
        sit amet ipsum.
      </p>

      <div class="govuk-grid-row" style="margin-bottom: 20px;">
        <div class="govuk-grid-column-one-half">
          <p style="margin-bottom: 10px;">
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
           
          </p>
         
          <img src="/public/images/fh-sitevis-1.jpg" style="width: 200px;" />
           <p>
            <a href="/public/images/fh-sitevis-1.jpg" target="_blank"
              >View in new window</a
            >
          </p>
            <p class="govuk-body govuk-!-font-size-16">
            File name: SITE-VISIT-1.jpg<br />
            [DD MM YYYY]<br />
          </p>
        </div>
        <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px;">
          <p style="margin-bottom: 10px;">
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
            </p>
      
          <img src="/public/images/fh-sitevis-2.jpg" style="width: 200px;" />
            <p>
            <a href="/public/images/fh-sitevis-2.jpg" target="_blank"
              >View in new window</a
            >
          </p>
             <p class="govuk-body govuk-!-font-size-16">
            File name: SITE-VISIT-2.jpg</strong><br/>
            [DD MM YYYY]<br />
          </p>
        </div>
      </div>
      <div class="govuk-grid-row"  style="margin-bottom: 20px;">
        <div class="govuk-grid-column-one-half">
          <p style="margin-bottom: 10px;">
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
          </p>
          <p>
            <img src="/public/images/fh-sitevis-3.jpg" style="width: 200px;" />

            <a href="/public/images/fh-sitevis-3.jpg" target="_blank"
              >View in new window</a
            >
          </p>
           <p class="govuk-body govuk-!-font-size-16">
           File name: SITE-VISIT-3.jpg<br />
          [DD MM YYYY]
          </p>
        </div>
        <div class="govuk-grid-column-one-half"  style="margin-bottom: 20px;">
          <p style="margin-bottom: 10px;"> 
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
          </p>
     
          <img src="/public/images/fh-sitevis-4.jpg" style="width: 200px;" />
               <p>
            <a href="/public/images/fh-sitevis-4.jpg" target="_blank"
              >View in new window</a
            >
          </p>
              </p>
             <p class="govuk-body govuk-!-font-size-16">
            File name: SITE-VISIT-4.jpg</strong><br/>
            [DD MM YYYY]<br />
          </p>
        </div>
      </div>
      <div class="govuk-grid-row"  style="margin-bottom: 20px;">
        <div class="govuk-grid-column-one-half">
          <p style="margin-bottom: 10px;">
            
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
           
          </p>
          <p>
          <img src="/public/images/fh-sitevis-5.jpg" style="width: 200px;" />
            <a href="/public/images/fh-sitevis-5.jpg" target="_blank"
              >View in new window</a
            >
          </p>
          
           </p>
           <p class="govuk-body govuk-!-font-size-16">
           File name: SITE-VISIT-3.jpg<br />
          [DD MM YYYY]
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p style="margin-bottom: 10px;">
            
            <strong class="govuk-tag govuk-tag--turquoise">
              Site Visit
            </strong>
           
          </p>
          <p>
          <img src="/public/images/fh-sitevis-6.jpg" style="width: 200px;" />
            <a href="/public/images/fh-sitevis-6.jpg" target="_blank"
              >View in new window</a
            >
          </p>
          
            </p>
             <p class="govuk-body govuk-!-font-size-16">
            File name: SITE-VISIT-6.jpg</strong><br/>
            [DD MM YYYY]<br />
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-4"
        >
          Consultation
        </span>
      </h2>
    </div>
    <div
      id="accordion-default-content-4"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-4"
    >
      <p class="govuk-body"> 
    Consulation period ends [DD MM YY]
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-1"
        >
          Key application dates
        </span>
      </h3>
    </div>
    <div
      id="accordion-default-content-1"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-1"
    >
      <p><strong>Application status:</strong> Waiting for assessment</p>
      <p><strong>Application received:</strong> 2 March 2020</p>
      <p><strong>Acknoweldgement letter sent:</strong> 2 March 2020</p>
      <p><strong>Validation complete:</strong> 4 March 2020</p>
      <p><strong>Validation letter sent:</strong> 4 March 2020</p>
      <p><strong>Officer introduction letter sent:</strong> 4 March 2020</p>
      <p><strong>Fast track date date:</strong> 12 June 2020</p>
      <p><strong>Statuatory date:</strong> 26 June 2020</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-3"
        >
          Contact information
        </span>
      </h2>
    </div>
    <div
      id="accordion-default-content-3"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-3"
    >
      <p class="govuk-body">
        <strong>Agent:</strong><br />Alberto Ochoa<br />+44203 868
        9453<br /><a href="">hello@example.co.uk</a>
      </p>
      <p class="govuk-body">
        <strong>Applicant:</strong><br />Ambreen Khasru<br />+44203 868
        9453<br /><a href="">hello@example.co.uk</a>
      </p>
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span
          class="govuk-accordion__section-button"
          id="accordion-default-heading-3"
        >
          Case notes
        </span>
      </h2>
    </div>
    <div
      id="accordion-default-content-3"
      class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-3"
    >
    <div style="padding-bottom: 20px">

              <p style="margin-bottom: 4px;"><strong>Case note</strong> by Eris Fanshawe</p>
              <p style="margin-bottom: 20px;">
                <time datetime="2019-06-14T14:01:00.000Z">14 March 2021 at 2:01pm</time>
              </p>
                <p>  <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
              
            </div>
      <div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Case note:
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
  <button class="govuk-button" data-module="govuk-button">
  Add
</button>
</div>
    </div>
  </div>
</div>

{% endblock %} {% endmacro %}
