site-vist.html
{% extends "layout.html" %} 
{% from "./customnjk/left-accordion-fh-v12.njk" import leftaccordion %} 
{% from "./customnjk/right-accordion-fh-v12.njk" import rightaccordion %} 
{% from "./customnjk/full-householder-task-list-incomplete-v11.njk" import tasklist %} 
{% block head %} {{ super() }}

{% endblock %} {% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Application</li>
              </ol>
        </div> 
        <div style="margin-bottom: 40px">
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            00000900
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 20px;">1 Rycott Path, East Dulwich, SE22 0AA</h2>
        <p>
          <strong class="govuk-tag govuk-tag--green">In assessment</strong>&emsp;Due: 12 June 2021 - 11 days remaining
        </p>
        <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
      </div>
      
        <! –– Application detail blocks ––>
        {{ leftaccordion() }}

        <! –– site visit ––>

        <h2 class="govuk-heading-m" style = "margin-bottom: 30px;">
        Document the site visit
      </h2>
      <p class="govuk-body" style ="margin-bottom: 30px;">
        <strong>Documents from site visit:</strong>
      </p>

      <div class="govuk-grid-row image-row">
        <div class="govuk-grid-column-one-half">
          <p>File name: IMG_0249.png</p>
          <img src="/public/images/fh-sitevis-2.jpg" style="max-width: 200px; margin-bottom: 10px;" ></br>
         
          <p class="govuk-body image-text-labels"><a href="" target="_blank">View in new window</a></p> 
        </div>

        <div class="govuk-grid-column-one-half">
          <p>File name: IMG_0249.png</p>
          <img src="/public/images/fh-sitevis-3.jpg" style="max-width: 200px; margin-bottom: 10px;" ></br>
         
          <p class="govuk-body image-text-labels"><a href="" target="_blank">View in new window</a></p> 
        </div>

      </div>
    
      
      <label class="govuk-label" for="sort" style ="margin-top: 40px;">
        Upload images from site visit
    </label>
     <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
     <div style ="margin-top: 30px;">
     <p class="govuk-body">
      <strong>Site visit notes:</strong>
    </p>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="task-list.html">
        Complete
      </a>
    
      <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="task-list.html">
        Save as draft
      </a>
    </div>


  </div>
        
<! –– Right panel with additional information in accordion ––>

  <div class="govuk-grid-column-one-third" Style = "margin-top: 180px;">
  {{ rightaccordion() }}
  </div>

  
</div>
  {% endblock %}
