{% extends "layout.html" %} {% block head %} {{ super() }}
<link href="/public/css/southwark-branding.css" rel="stylesheet" type="text/css"> {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Enter the code you have recieved by text message
        </h1>
        <p class="govuk-body"> A 6-digit code has been sent to your mobile phone. This message may take a minute to arrive.</p>
        <div class=" govuk-form-group ">
            <label class="govuk-label " for="width-30 ">
        Your 6-digit code
      </label>
            <input class="govuk-input govuk-input--width-30 " id="width-30 " name="width-30 " type="password ">
        </div>
        <p class="govuk-body"> If you have an issue logging in, please send an email to
            <a href="#">
            [email@council.com]</a>.
        </p>
        <a class="govuk-button " data-module="govuk-button " href="application-list.html ">

    Enter code    </a>
    </div>
</div>
{% endblock %}