applicants-redline.html {% extends "layout.html" %} {% block head %} {{ super()
}}
{% from "./customnjk/fifteendays.njk" import fifteendays %}

<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<div class="govuk-width-container app-width-container--wide">
  <main
    class="govuk-main-wrapper govuk-main-wrapper--auto-spacing"
    id="main-content"
    role="main"
  >
    <div class="govuk-grid-row govuk-!-margin-top-7">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-width-container">
          <h2 class="govuk-heading-l">
            Confirm changes to your application's red line boundary
          </h2>
          <p class="govuk-body">
            The following changes have been made to your application's red line
            boundary.
          </p>
          <p class="govuk-heading-s">What you need to do:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Select if you agree or disagree with the changes made by your case
              officer
            </li>
            <li>
              If you disagree, write in the box provided your reason for
              disagreeing.
            </li>
            <li>Click submit to complete this action</li>
          </ul>
          {{fifteendays()}}
          <hr
            class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
          />
          <div style="margin-top: 50px;">
            <p class="govuk-body">
              <strong>Reason change is requested</strong><br />
              reason
            </p>
          </div>
          <div style="margin-top: 50px;">
            <p class="govuk-body">
              <strong>Your original red line boundary</strong><br />
            </p>
          </div>
          <img src="/public/images/Map-3.png" style="width: 100%;" />
          <div style="margin-top: 30px;">
            <p class="govuk-body">
              <strong>Proposed red line boundary</strong><br />
            </p>
          </div>
          <img src="/public/images/Map-3.png" style="width: 100%;" />
          <hr
            class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
          />
          <form
            action="/v20/applicants-home"
            accept-charset="UTF-8"
            method="post"
          >
          <input type="hidden" name="redline-check" value="completed" />
        <input type="hidden" name="redline-tag" value="" />
            

            <div class="govuk-form-group">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--s"
                  >
                    Respond to the proposed new boundary
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input
                        id="red-line-boundary-change-validation-request-approved-yes-field"
                        class="govuk-radios__input"
                        type="radio"
                        value="yes"
                        name="red_line_boundary_change_validation_request[approved]"
                      /><label
                        for="red-line-boundary-change-validation-request-approved-yes-field"
                        class="govuk-label govuk-radios__label"
                        >Yes, I agree with the proposed red line boundary</label
                      >
                    </div>
                    <div class="govuk-radios__item">
                      <input
                        id="red-line-boundary-change-validation-request-approved-no-field"
                        class="govuk-radios__input"
                        type="radio"
                        value="no"
                        name="red_line_boundary_change_validation_request[approved]"
                        aria-controls="red-line-boundary-change-validation-request-approved-no-conditional"
                        aria-expanded="false"
                      /><label
                        for="red-line-boundary-change-validation-request-approved-no-field"
                        class="govuk-label govuk-radios__label"
                        >No, I disagree with the proposed red line
                        boundary</label
                      >
                    </div>
                    <div
                      class="govuk-radios__conditional govuk-radios__conditional--hidden"
                      id="red-line-boundary-change-validation-request-approved-no-conditional"
                    >
                      <div
                        class="govuk-!-padding-top-4 govuk-!-padding-bottom-2"
                      >
                        <div class="govuk-form-group">
                          <label
                            for="red-line-boundary-change-validation-request-rejection-reason-field"
                            class="govuk-label"
                            >Please indicate why you disagree with the proposed
                            red line boundary.</label
                          ><textarea
                            id="red-line-boundary-change-validation-request-rejection-reason-field"
                            class="govuk-textarea"
                            rows="6"
                            name="red_line_boundary_change_validation_request[rejection_reason]"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="govuk-button-group">
              <input
                type="submit"
                name="commit"
                value="Submit"
                class="govuk-button"
                data-module="govuk-button"
                data-disable-with="Submit"
              />
              <a
                class="govuk-button govuk-button--secondary"
                href="/validation_requests?change_access_id=34f745a94c8703f3bed85ab2bfb05a&amp;planning_application_id=754"
                >Back</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
