applicants-home.html {% extends "layout.html" %} {% block head %} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<h1 class="govuk-heading-l">
  Find out how to create a valid plan
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      If you have been asked to upload a new or replacement plan you can find
      out all the requirements for your plan via the following links.
    </p>
    <div>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="all-drawings.html">All drawings and plans</a>
        </li>
        <li>
          <a class="govuk-link" href="efp.html">Existing floor plans</a>
        </li>
        <li>
          <a class="govuk-link" href="pfp.html">Proposed floor plans</a>
        </li>
        <li>
          <a class="govuk-link" href="esp.html">Existing site plans</a>
        </li>
        <li>
          <a class="govuk-link" href="psp.html">Proposed site plans</a>
        </li>
        <li>
          <a class="govuk-link" href="ee.html">Existing elevations</a>
        </li>
        <li>
          <a class="govuk-link" href="pe.html">Proposed elevations</a>
        </li>
        <li>
          <a class="govuk-link" href="es.html">Existing sections</a>
        </li>
        <li>
          <a class="govuk-link" href="ps.html">Proposed sections</a>
        </li>
        <li>
          <a class="govuk-link" href="erp.html">Existing roof plans</a>
        </li>
        <li>
          <a class="govuk-link" href="prp.html">Proposed roof plans</a>
        </li>
         <li>
          <a class="govuk-link" href="eunitp.html">Existing unit plans</a>
        </li>
        <li>
          <a class="govuk-link" href="punitp.html">Proposed unit plans</a>
        </li>
         <li>
          <a class="govuk-link" href="eusep.html">Existing use plans</a>
        </li>
        <li>
          <a class="govuk-link" href="pusep.html">Proposed use plans</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
