edit-evidence.html {% extends "layout.html" %} {% block head %} {{ super() }} {%
endblock %} {% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img
        src="/public/images/bills2.png"
        style="width: 200; border: solid 1px #bcbcbc;"
      />
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p style="margin-top: 20px;">
        <strong>File name:</strong> Section_proposed.pdf
      </p>
      <p style="margin-top: 5px;"><strong>Date received:</strong> DD MM YYYY</p>
      <p style="margin-top: 5px;">
        <strong>Applicant reason for submitting evidence:</strong> Lorem ipsum
        dolor acit sui generis
      </p>
      <p style="margin-top: 5px;">
        <a
          href="/public/images/PROPOSED_REAR_ELEVATION-848012.pdf"
          target="_blank"
          >View file in new window</a
        >
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/v20/immunity-evidence-3" method="post" novalidate>
        <div style="margin-top: 30px;">
          <h2 class="govuk-heading-m">
            Enter dates covered by evidence
          </h2>
        </div>
        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset"
            role="group"
            aria-describedby="evidence-start"
          >
            <legend class="govuk-fieldset__legend">
              When is start of the period this document evidences?
            </legend>
            <div class="govuk-date-input" id="evidence-start">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-start-day"
                  >
                    Day
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="start-day2"
                    name="start-day2"
                    value="{{ data['start-day2'] }}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-start-month"
                  >
                    Month
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="start-month2"
                    name="start-month2"
                    value="{{data['start-month2']}}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-start-year"
                  >
                    Year
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    id="start-year2"
                    name="start-year2"
                    value="{{ data['start-year2'] }}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset"
            role="group"
            aria-describedby="evidence-end"
          >
            <legend class="govuk-fieldset__legend">
              When is end of the period this document evidences?
            </legend>

            <div class="govuk-date-input" id="evidence-end">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-end-day"
                  >
                    Day
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="end-day2"
                    name="end-day2"
                    value="{{ data['end-day2'] }}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-end-month"
                  >
                    Month
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="end-month2"
                    name="end-month2"
                    value="{{ data['end-month2'] }}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="evidence-end-year"
                  >
                    Year
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    id="end-year2"
                    name="end-year2"
                    value="{{ data['end-year2'] }}"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="bill-comment">
                  Enter comment for this document
                </label>
              </h1>
              <textarea
                class="govuk-textarea"
                id="bill-comment2"
                name="bill-comment2"
                value="{{ data['bill-comment-2'] }}"
                type="text"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>
          <a
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            href="immunity-bills-2.html"
          >
            Back
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
