immunity-history.html {% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/header.njk" import header %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v20/assessment-immunity" method="post" class="form">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="planning-history">
            Enter in the planning history for this application
          </label>
        </h1>
        <textarea
          class="govuk-textarea"
          id="planning-history"
          name="planning-history"
          value="{{ data['planning-history'] }}"
          type="text"
          rows="10"
        ></textarea>
        <input type="hidden" name="history-check" value="completed" />
        <input type="hidden" name="history-tag" value="" />
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Save</button>
        <a
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          href="assessment-immunity.html"
        >
          Back
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
