immunity-history.html
{% extends "layout.html" %} {% block head %} {{ super() }}

{% from "./customnjk/header.njk" import header %}


<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img
        src="/public/images/bills1.png"
        style="width: 200; border: solid 1px #bcbcbc; margin-bottom: 40px;"
      />
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p style="margin-top: 20px;">
        <strong>File name:</strong> Section_proposed.pdf
      </p>
      <p style="margin-top: 5px;"><strong>Date received:</strong> DD MM YYYY</p>
      <p style="margin-top: 5px;">
        <strong>Applicant reason for submitting evidence:</strong> Lorem ipsum
        dolor acit sui generis
      </p>
      <p style="margin-top: 5px;">
        <a
          href="/public/images/PROPOSED_REAR_ELEVATION-848012.pdf"
          target="_blank"
          >View file in new window</a
        >
      </p>
    </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v20/immunity-evidence-2" method="post" class="form">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="bill-comment">
            Enter comment for this document
          </label>
        </h1>
        <textarea
          class="govuk-textarea"
          id="bill-comment"
          name="bill-comment"
          value="{{ data['bill-comment'] }}"
          type="text"
          rows="5"
        ></textarea>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Save</button>
        <a
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          href="immunity-evidence.html"
        >
          Back
        </a>
      </div>
    </form>
  </div>
</div>


{% endblock %}