{% extends "layout.html" %} {% block head %} {{ super() }} {% from
"./customnjk/header.njk" import header %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div
      class="govuk-grid-column-two-thirds"
      style="
        background-color: #f3f2f1;
        border: solid 1px;
        padding: 30px;
        clear: both;
        margin-top: 10px;
      "
    >
      <span class="govuk-caption-xl">Council Name</span>
      <h2 class="govuk-heading-s">
        Town and Country Planning Act 1990 (as amended): sections 191 and 192
      </h2>
      <h2 class="govuk-heading-s">
        Town and Country Planning (Development Management Procedure) (England)
        Order 2015 (as amended): Article 39
      </h2>
      <h1 class="govuk-heading-l">
        Decision Notice
      </h1>
      <h2 class="govuk-heading-m">
        Certificate of Lawful Use or Development : Granted
      </h2>
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
      <div>
        <p class="govuk-body">
          <strong>Applicant</strong> <br />
          Test Test
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Application number</strong> <br />
          00000713
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Application received</strong> <br />
          30 September 2021
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Decision date</strong> <br />
          TBD
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Site address</strong> <br />
          20 CREWYS ROAD, LONDON, SE15 2BH
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Proposed or existing</strong> <br />
          Existing
        </p>
      </div>
      <div>
        <p class="govuk-body">
          <strong>Use or development</strong> <br />
          Subdivide the property from a single dwellinghouse to two flats with
          no external changes.
        </p>
      </div>
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
      <div>
        <p class="govuk-body">
          We certify that on the date of the application, the existing use or
          operations described in the application and supporting plans were
          lawful for the purposes of S.191 of the Town and Country Planning Act
          1990.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-1">
          <strong>The proposal complies due to the following reason(s):</strong>
        </p>
        <p class="govuk-body">
          {{data['immunity-summary']}}
        </p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          This decision is based on the following approved plans:
        </h3>
        <p class="govuk-body">
          No plans specified
        </p>
      </div>
      <div>
        <h3 class="govuk-heading-s">
          Site location:
        </h3>
      </div>
      <div>
        <img
          src="/public/images/map.png"
          style="width: 600px; border: solid 1px #eeeeee;"
        />
      </div>
      <h3 class="govuk-heading-s">
        Notes:
      </h3>
      <p class="govuk-body">
        No notes provided
      </p>
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
      <p class="govuk-body">
        Enquiries regarding this document should include the application number
        and be sent to:
        <br />
        <br /><strong>Email</strong> <br />
        <a href="mailto:planning.applications@southwark.gov.uk">
          email.address@council.gov.uk</a
        ><br />
        <br /><strong>Post</strong><br />
        Director of Planning and Growth, Southwark Council,<br />Planning,
        <br />
        Southwark Council,<br />PO BOX 64529,<br />London<br />SE1P 5LX.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Planning history
      </h2>

      <p class="govuk-body">
        {{data['planning-history']}}
      </p>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Comment to your manager
      </h2>

      <p class="govuk-body">
        {{data['manager-comment']}}
      </p>
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
      <div class="govuk-body">
        <strong>
          If you agree with the decision notice, please submit it to your
          manager.
        </strong>
        If your manager disagrees with your recommendation they will send it
        back to you to make changes.
      </div>
    </div>
  </div>
</main>

<form action="/v20/assessment-immunity" method="post" novalidate>
  <input type="hidden" name="submit-check" value="Completed" />
  <input type="hidden" name="submit-tag" value="" />
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Submit decision to manager
    </button>
    <a
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      href="assessment-immunity.html"
    >
      Back
    </a>
  </div>
</form>

{% endblock %}
