immunity-history.html {% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/header.njk" import header %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Assess proposal
    </h1>
   <!-- <h2 class="govuk-heading-m">
    Summary of evidence
    </h2>
    <p class="govuk-body">
    {{data['evidence-summary']}}
    </p>
    -->
    <form action="/v20/assessment-immunity" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Is the use or operation lawful?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="immune-decision-granted"
                name="immune-decision"
                type="radio"
                value="Granted"
                {{checked("immune-decision", "Granted")}}
              />
              <label
                class="govuk-label govuk-radios__label"
                for="immune-decision"
              >
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="immune-decision-refused"
                name="immune-decision"
                type="radio"
                value="Refused"
                {{checked("immune-decision", "Refused")}}
              />
              <label
                class="govuk-label govuk-radios__label"
                for="immune-decision-2"
              >
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="immunity-summary">
          Explain how the evidence supports this decision on the balance of probabilty
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        This information <strong> will </strong> appear on the decision notice.
      </div>
      <div>
        <textarea
          class="govuk-textarea"
          id="immunity-summary"
          name="immunity-summary"
          rows="10"
          value="{{data['immunity-summary']}}"
          aria-describedby="immunity-summary-hint"
        ></textarea>
      </div>
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="manager-comment">
          Provide supporting information for your manager
        </label>
      </h1>
      <div id="manager-comment-hint" class="govuk-hint">
        This information <strong> will not </strong> appear on the decision
        notice or the public register.
      </div>
      <div>
        <textarea
          class="govuk-textarea"
          id="manager-comment"
          name="manager-comment"
          rows="5"
          value="{{data['manager-comment']}}"
          aria-describedby="manager-comment-hint"
        ></textarea>
      </div>

      <input type="hidden" name="summary-check" value="Completed" />
      <input type="hidden" name="summary-tag" value="" />
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save
        </button>
        <a
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          href="assessment-immunity.html"
        >
          Back
        </a>
      </div>
    </form>
  </h2>
</div>

{% endblock %}
