immunity-history.html {% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/header.njk" import header %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">      
      <form action="/v20/assessment-immunity" method="post" novalidate>
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="immunity-summary">
          Write your summary for this assessment
        </label>
      </h1>
      <div>
      <textarea
        class="govuk-textarea"
        id="immunity-summary"
        name="immunity-summary"
        rows="5"
        value="{{data['immunity-summary']}}"
        aria-describedby="immunity-summary-hint"
      ></textarea>
    </div>
    <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is the use or operation immune from enforcement?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="immune-decision"
                    name="immune-decision"
                    type="radio"
                    value="Immune"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="immune-decision"
                  >
                    Immune from enforcement action
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="immune-decision-2"
                    name="immune-decision"
                    type="radio"
                    value="Not immune"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="immune-decision-2"
                  >
                    Not immune from enforcement action
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
    <input type="hidden" name="submit-check" value="Completed">
        <input type="hidden" name="submit-tag" value="">
    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save
        </button>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="assessment-immunity.html">
        Back
      </a>
    </div>
  </div>
  </form>
</div>
</div>

{% endblock %}
