{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {%
block content %}

<h1 class="govuk-heading-l">BoPS updates</h1>

<p class="govuk-body">
  You have cases with updates on BoPS.
</p>

<p class="govuk-body">
  <a class="govuk-link" href="application-list.html">Go to BoPS</a>
</p>
<p class="govuk-body">Activity since 09:00 20 January</p>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<div>
  <h2 class="govuk-heading-m">
    000000865 - 86 Collis Road, London, SE8 2AH
  </h2>
  <p class="govuk-body">
    <strong>Validation request :</strong> new document uploaded
  </p>
  <p class="govuk-body">
    <strong>Validation request :</strong> replacement document uploaded
  </p>
  <p class="govuk-body">
    <strong>Validation request :</strong> Other request responded
  </p>
  <p class="govuk-body">
    <strong>Validation request :</strong> red line boundary change rejected
  </p>
  <p class="govuk-body">
    <strong>Post-validation request :</strong> description approved
  </p>
</div>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<div>
  <h2 class="govuk-heading-m">
    000000855 - 125 Hausmann Road, London, SE15 6RQ
  </h2>
  <p class="govuk-body">
    <strong>Manager response :</strong> awaiting correction
  </p>
</div>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<div>
  <h2 class="govuk-heading-m">
    000000882 - Flat 2, Golf Drive, London, SE8 5TH
  </h2>
  <p class="govuk-body">
    <strong>Assigned to you</strong>
  </p>
</div>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<div>
  <h2 class="govuk-heading-m">
    000000884 - 1 Torrington Avenue, London, SE12 6TG
  </h2>
  <p class="govuk-body">
    <strong>Assigned to you</strong>
  </p>
</div>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
/>
<p class="govuk-body">
  <a class="govuk-link" href="application-list.html">Go to BoPS</a>
</p>

{% endblock %}
