{% extends "layout.html" %} {% block head %} {{ super() }}

<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
       

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-6">
      Proposed red line boundary change
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>At:</strong> 102 BB Landing, London, SE18 3RQ
    </p>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong>Date received:</strong> 27 October 2021
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <strong>Application number:</strong> 00000740
    </p>

          <div class="govuk-form-group"><label for="red-line-boundary-change-validation-request-new-geojson-field" class="govuk-label govuk-label--s govuk-!-padding-bottom-4">Applicant's original red line boundary</label><textarea id="red-line-boundary-change-validation-request-new-geojson-field" class="govuk-textarea govuk-visually-hidden" rows="5" name="red_line_boundary_change_validation_request[new_geojson]"></textarea></div>

      <img src="/public/images/Map-3.png" style="width:100%"> 
      <h2 class="govuk-heading-s govuk-!-padding-top-6">
        Red line drawings shown on map
      </h2>
      <div class="govuk-grid-row govuk-!-padding-bottom-2">
        <p class="govuk-body govuk-!-margin-left-3">
          <img src="/public/images/solid_square.png" alt-text="red solid line square" width="60px" style="float:left; padding-right:20px">
          Applicant submitted red line boundary
      </p>
      </div>
      <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <p class="govuk-body govuk-!-margin-left-3">
          <img src="/public/images/filled_square.png" alt-text="filled square with dotted border" width="60px" style="float:left; padding-right:20px">
          Proposed red line boundary
      </p>
      </div>

      <div class="govuk-form-group"><label for="red-line-boundary-change-validation-request-reason-field" class="govuk-label govuk-label--s govuk-!-padding-bottom-4">Explaination to the applicant why changes are proposed to the red line boundary</label><p class="gvouk-body">The reason this was requested goes here.</p></div>
      <div class="govuk-button-group">
  <a class="govuk-button govuk-button--primary" href="assessment-noclasses.html">Cancel request</button>
  <a class="govuk-button govuk-button--secondary" href="assessment-noclasses-redline.html">Back</a>
</div>

</form>  </div>
</div>
</main>

{% endblock %}
