immunity-history.html {% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/header.njk" import header %}
{% from "./customnjk/evidence-table-summary.njk" import evidenceTable %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">
        Your report
      </h1>
      <div>
        <div>
          <h2 class="govuk-heading-l">
            Overall summary 
          </h2>
          <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p><br>
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Planning history
          </h2>

          <p class="govuk-body">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
          </p>
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Development, Permitted development and Planning permission
          </h2>
          <p class="govuk-body">
            Is the existing development, "development" for which planning
            permission is required? 
          </p>
          <p class="govuk-body"><strong> No </strong> - Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
          <br />
          <p class="govuk-body">
            Does the existing development fall within the scope of permitted
            development rights?
          </p>
          <p class="govuk-body"><strong> No </strong> - Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
          <br />
          <p class="govuk-body">
            Is the existing development the subject of a grant of planning
            permission?
          </p>
          <p class="govuk-body"><strong> No </strong> - Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Utility bills evidence 
          </h2>
          <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          {{evidenceTable( 
          "",
          "/public/images/fh-sitevis-2.jpg", "11 October 2011", "10 October 2012", "Suggests that council tax should have been paid from this date", 
          "Gap", "11 October 2012", "10 October 2013", "", 
          "/public/images/fh-sitevis-3.jpg", "11 October 2013", "12 October 2014", "",
          "/public/images/fh-sitevis-4.jpg", "11 October 2014", "12 October 2015", "",
          "/public/images/fh-sitevis-5.jpg", "11 October 2015", "12 October 2016", "")}}
          
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Council tax evidence 
          </h2>
          <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Tenancy agreements evidence 
          </h2>
          <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
         </div>
         <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        <div>
          <h2 class="govuk-heading-m">
            Other evidence 
          </h2>
          <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <hr
            class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
          />
        
      </div>
      
    </div>
    <div class="govuk-button-group">
      <a
        class="govuk-button govuk"
        data-module="govuk-button"
        href="assessment-immunity-6.html"
      >
        Save
      </a>
      <a
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        href="assessment-immunity-5.html"
      >
        Back
      </a>
    </div>
  </div>
</div>

{% endblock %}
