immunity-history.html
{% extends "layout.html" %} {% block head %} {{ super() }}

{% from "./customnjk/header.njk" import header %}
{% from "./customnjk/evidence-table-noGap.njk" import evidenceTable %}


<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
 <div class="govuk-grid-column-full">
   <div>
     <!--type,
    asset1, day1_1, month1_1, year1_1, day1_2, month1_2, year1_2, comment1,
    asset3, date3_1, date3_2, comment3,
    asset4, date4_1, date4_2, comment4,
    asset5, date5_1, date5_2, comment5,
    -->

    {{evidenceTable(
    "Assess evidence - Utility bills",
    "/public/images/bills1.png", data['start-day1'], data['start-month1'] | toMonth, data['start-year1'], data['end-day1'], data['end-month1'] | toMonth, data['end-year1'], data['bill-comment'],
    "/public/images/bills2.png", "Enter start date", "Enter end date", "Enter comment",
    "/public/images/bills3.png", "Enter start date", "Enter end date", "Enter comment",
    "/public/images/bills4.png", "Enter start date", "Enter end date", "Enter comment")}}
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="more-detail-hint" class="govuk-hint">
        Enter a summary for the evidence provided
    </div>
    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    
    <div class="govuk-button-group">
      <a class="govuk-button govuk" data-module="govuk-button" href="assessment-immunity-2.html">
        Save
      </a>
      <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="assessment-immunity.html">
        Back
      </a>
    </div>
  </div>
</div>    

{% endblock %}