validation-request-summary.html
{% extends "layout.html" %} {% block head %} {{ super() }}

{% from "./customnjk/applications_table/not-started-app.njk"  import application_not_started %}
{% from "./customnjk/applications_table/in-assessment-app.njk"  import application_in_assessment %}
{% from "./customnjk/applications_table/awaiting-det-app.njk"  import application_awaiting_determination %}
{% from "./customnjk/applications_table/closed-app.njk"  import application_closed %}
{% from "./customnjk/application-info.njk"  import applicationinfo %} 
{% from "./customnjk/related-info.njk" import relatedinfo %} 

<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<!-header->
<div> 
    <h1 class="govuk-heading-l">
        Review validation requests
    </h1>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <h2 class="govuk-heading-m">Requests for replacement documents</h2>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Document 2</th>
                    <td class="govuk-table__cell">This documents needs a scale bar attached</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="validation-document-request.html">Change</a></td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <h2 class="govuk-heading-m">Requests for new documents</h2>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New document :<br> Proposed ground floor plan</br></th>
                    <td class="govuk-table__cell">This documents is needed to assess your application</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="validation-document-request.html">Change</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Once the application is marked as invalid. This will send an email to the applicant telling them their application is invalid with a link to the view the requests.</p>
        <div class="govuk-button-group">
        <a class="govuk-button govuk" data-module="govuk-button" href="validation-complete.html">
            Mark application as invalid and send requests
        </a>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="validation-summary.html">
            Back
        </a>
        </div>
    </div>
</div>


{% endblock %}