validate-tasklist-update-2.html
{% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/validation-tasklist-update.njk" import validationtasklistUpdate %}
{% from "./customnjk/header.njk" import header %}


<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">


{% endblock %}

{% block content %} 

<! –– Header ––>
<div>
{{header(
    invalid, yellow,
    "10 October 2021", 
    "15 days remaining", green
)}}
</div>

<! –– Tabs body ––>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="items">
    <h2 class="govuk-heading-l">Application items</h2>
    <!--
    Params from nunjucks
    redline_status, redline_tag, 
    fee_status, fee_tag, 
    constraints_status, constraints_tag, 
    doc1_status, doc1_tag, 
    doc2_status, doc2_tag, 
    doc3_status, doc3_tag, 
    doc4_status, doc4_tag,
    doc5_status, doc5_tag,
    doc6_status, doc6_tag, 
    doc7_status, doc7_tag, 
    doc8_status, doc8_tag, 
    doc9_status, doc9_tag,  
    listDocs_status, listDoc_tag, 
    )
-->

<div>
{{validationtasklistUpdate(
  "valid", "green",
  "Updated", "yellow",
  "checked", "green",
  "Invalid", "red",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "valid", "green",
  "Updated", "yellow",
  "Updated", "yellow"
)}}
</div>
  </div>

{% endblock %}