validation-tasklist-update-2.html
{% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/validation-tasklist-update.njk" import validationtasklistUpdate %}
{% from "./customnjk/header.njk" import header %}


<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">


{% endblock %}

{% block content %} 

<! –– Header ––>
<div>
{{header(
    "invalid", "yellow",
    "10 October 2021", 
    "15 days remaining", "green"
)}}
</div>

<! –– Tabs body ––>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#requests">
        Validation requests
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#items">
        Application items
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="requests">
    <h2 class="govuk-heading-l">Validation Requests</h2>
    <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Request</th>
                <th scope="col" class="govuk-table__header">Detail</th>
                <th scope="col" class="govuk-table__header">Reason</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Response received</th>
                <th scope="col" class="govuk-table__header">Reponses</th>
                <th scope="col" class="govuk-table__header">Cancel request</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Red line boundary changes</th>
                    <td class="govuk-table__cell"><a class="govuk-link" href="validation-red-line-request.html">View proposed red line boundary</a></td>
                    <td class="govuk-table__cell">Officers reason goes here</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Accepted</strong></td></td>
                    <td class="govuk-table__cell">10 September 2021</td>
                    <td class="govuk-table__cell">Proposed red line boundary was accepted by applicant</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Fee validation request</th>
                    <td class="govuk-table__cell">test</td>
                    <td class="govuk-table__cell">Officers reason goes here</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Rejected</strong></td>
                    <td class="govuk-table__cell">10 October 2021</td>
                    <td class="govuk-table__cell">I have a fee exemption as I am a person with disabilities</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Replacement document request</th>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Section_proposed.pdf</a></td>
                    <td class="govuk-table__cell">Officers reason goes here</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">5 days</strong></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New document request</th>
                    <td class="govuk-table__cell">[Document requested]</td>
                    <td class="govuk-table__cell">Officers reason goes here</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Accepted</strong></td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">example.pdf</a></td>
                    <td class="govuk-table__cell">Applicant uploaded a new document</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Other validation request</th>
                    <td class="govuk-table__cell">Test</td>
                    <td class="govuk-table__cell">Officers reason goes here</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">5 days</strong></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Cancel<span class="govuk-visually-hidden"> name</span></a></td>
                </tr>
            </tbody>
        </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="items">
    <h2 class="govuk-heading-l">Application items</h2>
    <!--
    Params from nunjucks
    redline_status, redline_tag, 
    fee_status, fee_tag, 
    constraints_status, constraints_tag, 
    doc1_status, doc1_tag, 
    doc2_status, doc2_tag, 
    doc3_status, doc3_tag, 
    doc4_status, doc4_tag, 
    doc5_status, doc5_tag, 
    listDocs_status, listDoc_tag, 
    review_status, review_tag, 
    decision_status, decision_tag)
    -->
    <div>
    {{validationtasklistUpdate(
    "Updated", "yellow",
    "Updated", "yellow",
    "Valid", "green",
    "Invalid", "red", 
    "Valid", "green",
    "Valid", "green",
    "Valid", "green",
    "Updated", "yellow",
    "Invalid", "red", 
    "Checked", "green",
    "Checked", "green"
    )}}
    </div>
  </div>
</div>

{% endblock %}