validation-fee.html {% extends "layout.html" %} {% block head %} {{ super() }}
{% from "./customnjk/applications_table/not-started-app.njk" import
application_not_started %} {% from
"./customnjk/applications_table/in-assessment-app.njk" import
application_in_assessment %} {% from
"./customnjk/applications_table/awaiting-det-app.njk" import
application_awaiting_determination %} {% from
"./customnjk/applications_table/closed-app.njk" import application_closed %} {%
from "./customnjk/application-info.njk" import applicationinfo %} {% from
"./customnjk/related-info.njk" import relatedinfo %}

<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<h1 class="govuk-heading-l">
  Check the fee
</h1>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Fee</th>
            <td class="govuk-table__cell">£109.80</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment Reference</th>
            <td class="govuk-table__cell">PAY00876</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Description</th>
            <td class="govuk-table__cell">
              Proposed two storey side extension, new front shed, floor plan
              redesign and all associated works at 1 Rycott Path House.
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Related questions from RIPA
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              What are you applying about?
            </th>
            <td class="govuk-table__cell">
              Proposed changes I want to make in the future
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              What type of planning application are you making?
            </th>
            <td class="govuk-table__cell">
              Lawful Development Certificate
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Is this application a resubmission?
            </th>
            <td class="govuk-table__cell">
              It is a test resubmission<br />
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Related legislation
                  </span>
                </summary>
                <div class="govuk-details__text">
                  UK Statutory Instruments 2012 No. 2920 Regulation 8, UK
                  Statutory Instruments 2012 No. 2920 Regulation 9
                </div>
              </details>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              How many homes does this application relate to?
            </th>
            <td class="govuk-table__cell">
              One<br />
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Related legislation
                  </span>
                </summary>
                <div class="govuk-details__text">
                  The Town and Country Planning (Fees for Applications, Deemed
                  Applications, Requests and Site Visits) (England) Regulations
                  2012 Schedule 1, Part 2
                </div>
              </details>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Are the works being done only to provide access for a disabled
              resident, or to improve their safety, health or comfort?
            </th>
            <td class="govuk-table__cell">
              Yes<br />
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Related legislation
                  </span>
                </summary>
                <div class="govuk-details__text">
                  UK Statutory Instruments 2012 No. 2920 Regulation
                </div>
              </details>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              In what way do the works support the needs of a disabled resident?
            </th>
            <td class="govuk-table__cell">
              Test response<br />
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Related legislation
                  </span>
                </summary>
                <div class="govuk-details__text">
                  UK Statutory Instruments 2012 No. 2920 Regulation
                </div>
              </details>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is this fee correct?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="FeeValid"
                name="FeeValid"
                type="radio"
                value="valid"
              />
              <label class="govuk-label govuk-radios__label" for="FeeeValid">
                Correct
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="FeeInvalid"
                name="FeeValid"
                type="radio"
                value="invalid"
              />
              <label class="govuk-label govuk-radios__label" for="FeeValid-2">
                Incorrect
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div class="govuk-button-group">
        <a
          class="govuk-button govuk"
          data-module="govuk-button"
          href="validation-fee-other-request.html"
        >
          Save
        </a>
        <a
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          href="validate-tasklist.html"
        >
          Back
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
