validation-fee.html {% extends "layout.html" %} {% block head %} {{ super() }} {% from "./customnjk/applications_table/not-started-app.njk" import application_not_started %} {% from "./customnjk/applications_table/in-assessment-app.njk" import application_in_assessment
%} {% from "./customnjk/applications_table/awaiting-det-app.njk" import application_awaiting_determination %} {% from "./customnjk/applications_table/closed-app.njk" import application_closed %} {% from "./customnjk/application-info.njk" import applicationinfo
%} {% from "./customnjk/related-info.njk" import relatedinfo %}

<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}

<h1 class="govuk-heading-l">
    Check the response to replacement document request
</h1>
<div class="govuk-width-container">
    <h2 class="govuk-heading-m">Officer request</h2>
    <div class="govuk-inset-text">
        <p><strong>Replacement for : <a class="govuk-link" href="#">Existing_floor_plans.png</a> </p>
    <p>Reason: The reason the file is invalid</p>
    <p>12th July 2021</p>
  </div>

  <h2 class="govuk-heading-m">Applicant response</h2>
  <div class="govuk-inset-text">
    It does, it is in the right hand corner above the address.
  </div>

  <div>
    <div>
      <div class="govuk-button-group">
        <a
          class="govuk-button govuk"
          data-module="govuk-button"
          href="validation-document-reason-reject.html"
        >
          Continue
        </a>
        <a
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          href="validate-tasklist-update.html"
        >
          Back
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}