validation-tasklist.html
{% extends "layout.html" %} {% block head %} {{ super() }}

{% from "./customnjk/applications_table/not-started-app.njk"  import application_not_started %}
{% from "./customnjk/applications_table/in-assessment-app.njk"  import application_in_assessment %}
{% from "./customnjk/applications_table/awaiting-det-app.njk"  import application_awaiting_determination %}
{% from "./customnjk/applications_table/closed-app.njk"  import application_closed %}
{% from "./customnjk/application-info.njk"  import applicationinfo %} 
{% from "./customnjk/related-info.njk" import relatedinfo %} 



<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}



<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Application
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl" style="margin-bottom: 15px;">
      0000600
    </h1>
    <p class="govuk-heading-m">
        1 Rycott Path, London, SE22 0AA
        </p>
   
    <p class="govuk-body">
     Description: Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path. <a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
    
    </p>
    <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
    
    <p>
        <strong class="govuk-tag govuk-tag--grey">Not started</strong>  &nbsp; &nbsp; <strong class="govuk-tag govuk-tag--green">Target date: 21 June 2021</strong>
      </p>

  </div>
</div>



<! –– Tasklist ––>

<div class="govuk-width-container ">
        
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">This application has not been marked as valid or invalid</h2>
      <p class="govuk-body govuk-!-margin-bottom-7"><a href="validation-request-summary-prevalid.html">View or change valid requests</a></p>

      <a href="validation-request-summary.html"></a>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Red line boundary
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-red-line.html" aria-describedby="eligibility-status">
                  Validate red line boundary
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="eligibility-status" style="float: right;">Invalid</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Fee
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-fee.html" aria-describedby="eligibility-status">
                  Validate fee
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="eligibility-status" style="float: right;">Invalid</strong>
            </li>
          </ul>
        </li>

         <li>
          <h2 class="app-task-list__section">
            Constraints
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-constraints.html" aria-describedby="eligibility-status">
                  Validate constraints
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="eligibility-status" style="float: right;">Valid</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-all-documents-constraints.html" aria-describedby="company-information-status">
                    Validate required documents are on application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status" style="float: right;">Not checked yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="validation-document.html" aria-describedby="validate-document1">
                  Validate document 1
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status" style="float: right;">Not checked yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="validate-document2">
                  Validate document 2
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status" style="float: right;">Not checked yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="#" aria-describedby="validate-document3">
                Validate document 3
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="float: right;">Not checked yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="#" aria-describedby="validate-document4">
                Validate document 4
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status" style="float: right;">Not checked yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Other validation issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-other-request.html" aria-describedby="other-requests">
                Add an other validation request
              </a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Review
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-request-summary-prevalid.html" aria-describedby="validate-document4">
                Review validation requests
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status" style="float: right;">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="validation-request-summary-send.html" aria-describedby="validate-document4">
                Send validation decision
              </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status" style="float: right;">Not started</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>


        </main>
      </div>
    

    
  <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Support links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                    Clear data
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/cookies">
                    Cookies
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/docs/privacy-policy">
                    Privacy policy
                  </a>
                </li>
              
            </ul>
          
          
        
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
</body>

{% endblock %}