{% macro applicationinfo(status, officer) %}
{% block content %}



<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Application information
          </span>
        </h3>
        
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
       <tbody class="govuk-table__body">
        <table class="govuk-table">
               <tr class="govuk-table__row">
              <td class="govuk-table__cell"><p class="govuk-body"> <a class="govuk-link govuk-link--no-visited-state" href="edit-details.html">Edit details</a></p></td>
              <td class="govuk-table__cell">
                
                </td>
           </tr>
         
            </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Description:</b></td>
                <td class="govuk-table__cell">	Proposed two storey side extension, new front shed, floor plan redesign and all associated works at 1 Rycott Path.<p style="margin-top: 12px;"></td>
            </tr>
             <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Application type: </b></td>
                <td class="govuk-table__cell">FULL HOUS</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Site address: </b></td>
                <td class="govuk-table__cell">1 Rycott Path, London, SE22 0AA <p style="margin-top: 12px;"></td>
            </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Location: </b></td>
                  <td class="govuk-table__cell">
             <a href="https://www.google.com/maps/place/1+Rycott+Path,+East+Dulwich,+London+SE22+0AA/@51.4477935,-0.0743742,17z/data=!3m1!4b1!4m5!3m4!1s0x487603ea397f40f3:0xd69666d31fa5098e!8m2!3d51.4477935!4d-0.0721855" target="_blank">View site on Google Maps</a></td>
            </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>UPRN: </b></td>
                  <td class="govuk-table__cell">	200003436472</td>
            </tr>
                     <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Ward: </b></td>
                  <td class="govuk-table__cell">Rye Lane</td>
            </tr>
                      
             <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Property type: </b></td>
                  <td class="govuk-table__cell">Terrace</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Payment reference: </b></td>
                <td class="govuk-table__cell">H14 13E7 WMU</td>
            </tr>
          
        </table>
        </tbody>
      </div>
    </div>

    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Site map
          </span>
        </h3>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="max-height:none;">
        <p class='govuk-body'><a href="/public/images/FH_SITE_LOCATION_PLAN-857983.pdf" target="_blank">View site map in new window</a></p>
                   
                <img src="/public/images/FH_SITE_LOCATION_PLAN-857983.png" style="max-width: 600px; margin-bottom: 10px;" alt="map">

      </div>
    </div>
     <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Proposal details
          </span>
        </h3>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="max-height:none;">
      
       <ol class="govuk-body" style="line-height: 2;">
           <li>I want to 
                <strong>modify or extend</strong>
           </li>
           <li>How many storeys does the original house have? 
                <strong>2 or more</strong>
           </li>
           <li>I want to build an 
                <strong>extension</strong>
           </li>
            <li>What kind of extension will it be? 
                <strong>Side extension</strong>
           </li>
           <li>
                Is there a road or path on that side of the house? <strong>No</strong>
           </li>
           <li>The extension will have <strong>1 storey
                </strong>
           </li>
           <li>
                The new addition <strong>will not extend beyond the front wall of the house</strong>
           </li>
           <li>
                The height of the extension will be <strong>4m or less</strong>
           </li>
           <li>The new structure 
                <strong>will not</strong> extend beyond the rear wall of the original house
           </li>
            <li>
                The width of the new addition will be <strong>less than or equal to</strong> 1/2 of the width of the original house
           </li>
           <li>The distance to the boundary will be 
               <strong>less than 2m</strong>
           </li>
           <li>The roof of the extension will be 
                <strong>flat</strong>
           </li>
           <li>
               The highest part of the extension roof <strong>will be lower </strong>than 3m
           </li>
           <li>The materials and appearance 
                <strong>will match </strong>
                the existing house
           </li>
           <li>
               The total footprint of all additions will be  <strong>50% or less </strong>of the available area around the original house
           </li>
           
            
            <li>The width of the new addition will be
                <strong> less than or equal to</strong> 1/2 of the width of the original house
           </li>
         
           
           <li>Was your house always a house?
                <strong> Yes</strong>
           </li>
           
             <li>The house was used as 
                <strong> a family home</strong>
           </li>
        </ol>
     </div>
    </div>
  <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h3 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Documents
          </span>
        </h3>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="max-height:none;">
        <p><a class="govuk-link govuk-link--no-visited-state" href="pd-drawing-numbers.html">View documents</a></p>
        <ul class="app-task-list">
          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-quarter">

            <p>  <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.png" style="width: 75px; border: solid 1px #eeeeee"/>
              </p>

              <p>
                  <p>
                <a href="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.pdf" target="_blank" >View PDF in new window</a>
              </p>
              </p>
            </div>
            <div  class="govuk-grid-column-three-quarter">
              <p>
              <div class="govuk-!-padding-bottom-0.5"></div>
                <strong class="govuk-tag govuk-tag--turquoise">FLOOR</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">PLAN</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">PROPOSED</strong>
                </p>
                <p>
                File name: 10390-Proposed-ground-floorplan.PDF<br/>
                Date received: 02 January 2021<br/>
                Document reference(s): 243646HF<br/>
                Included on decsion notice: Yes<br/>
                Public: No
            
              </p>
            </div>
            

          </li>

          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-quarter">
             <p>
            <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/PROPOSED_REAR_ELEVATION-848012.png" style="width: 75px; border: solid 1px #eeeeee"/>
              </p>
              <p>
                <a href="/public/images/PROPOSED_REAR_ELEVATION-848012.pdf" target="_blank" >View PDF in new window</a>
              </p>
            </div>
            <div class="govuk-grid-column-three-quarter">
               <p>
                 <div class="govuk-!-padding-bottom-0.5"></div>
                <strong class="govuk-tag govuk-tag--turquoise">REAR</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">ELEVATION</strong> 
                 <strong class="govuk-tag govuk-tag--turquoise">PROPOSED</strong>
                </p>
                <p>
                File name: PROPOSED_REAR_ELEVATION-848012.pdf<br/>
                Date received: 02 January 2021<br/>
                Document reference(s): 243646HF<br/>
                Included on decsion notice: No<br/>
    
              </p>
            </div>
            
          </li>

          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-quarter">
            <p>
            <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/PROPOSED_ROOF_PLAN-848010.png" style="width: 75px; border: solid 1px #eeeeee"/>
              </p>
              <p>
                <a href="/public/images/10395-Proposed-roof-plan.PDF" target="_blank" >View PDF in new window</a>
              </p>
            </div>
            <div class="govuk-grid-column-three-quarter">
            <p>
         
        <div class="govuk-!-padding-bottom-0.5">
            </p>
        
              <p>
        
               File name: 10395-Proposed-roof-plan.PDF<br>
                Date received: 02 January 2021<br>
            
              </p>
              </div>
            </div>
            
          </li>

          <li class="app-task-list__item">
            <div class="govuk-grid-column-one-quarter">
              <p>
            <div class="govuk-!-padding-bottom-0.5"></div>
              <img src="/public/images/PROPOSED_SIDE_ELEVATION-848013.png" style="width: 75px; border: solid 1px #eeeeee"/>
              </p>
              <p>
              </p>
              <p>
                <a href="/public/images/PROPOSED_SIDE_ELEVATION-848013.pdf" target="_blank" >View PDF in new window</a>
              </p>
            </div>
            <div class="govuk-grid-column-three-quarter">

      
 <div class="govuk-!-padding-bottom-1"></div>
            
              <p>
           File name: PROPOSED_SIDE_ELEVATION-848013.pdf <br>
                Date received: 02 Januray 2021<br/>
  
              </p>
      
            </div>
            
        </ul>
     </div>
    </div>
    
 
</div>

{% endblock %}

{% endmacro %}