applicant-facing-invalid.html

{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}



    <! -- edit details -->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Provide replacement documents </h2>

          <p class="govuk-body">The case officer has specified below why this document needs replacing. Please provide a replacement document.  </p>

         

     

        <p class="govuk-body"><strong>Name of file on submission: </strong></br>

          10390-Proposed-ground-floorplan.PDF
        </p>

            
                                        
             <p class="govuk-body"><strong>The reason the file needs replacing: </strong></br>

              This document needs a scale bar at Scale is 1:50 or 1:100.
            </p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
               
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                    <strong>Upload a replacement file</strong>
                   </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                     </div>
                     <a class="govuk-button" data-module="govuk-button" href="applicant-facing-invalid-2.html">
                      Save
                     </a>


                 
                    
             
                      </div>
                      </main>
                              </div>
                              </div>
                              
                      {% endblock %}
                    