af-update-new-file.html

{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<! -- edit details -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Provide a new or missing document</h2>

      <p class="govuk-body">The case officer working on your application requires a new or missing file.  </p>

     

      <p class="govuk-heading-s">What you need to do:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Select 'choose file' and upload a file from your device</li>
        <li>Click save to add the file </li>
        <li>Click submit to complete this action </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          
      <p class="govuk-body"><strong>New or missing file: </strong></br>

        Please provide a design and assess statemenet. 
      </p>


 
              <div class="govuk-form-group" style="margin-top: 60px;">
                <label class="govuk-label" for="file-upload-1">
                <strong>Upload a file</strong>
               </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
               
                 </div>
                 <button class="govuk-button" data-module="govuk-button">
                  Save
                </button>
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          
          <div>
                 <a class="govuk-button" data-module="govuk-button" href="applicant-facing.html" style="margin-top: 20px;">
                  Submit
                 </a>
                 <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 20px;">
                  Back
                 </button>
</div>


             
                
         
                  </div>
                  </main>
                          </div>
                          </div>
                          


                              
                      {% endblock %}
                    