af-update-new-file-2.html


{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}



    <! -- edit details -->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Provide replacement documents </h2>
                <p class="govuk-body">The case officer working on your application requires a new or missing file.  </p>

     

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                    
                <p class="govuk-body"><strong>New or missing file: </strong></br>
          
                  Please provide a design and assess statemenet. 
                </p></br></br>
          
          
               
            <p class="govuk-body"><strong>File uploaded: </strong></br>

                10390-Proposed-ground-floorplan.PDF
              </p>
      
    
                <p style="margin-bottom: 60px;">  
                    <img src="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.png" style="width: 275px; border: solid 1px #eeeeee"/>
                    </p>
    
                   
             
                         <a class="govuk-button" data-module="govuk-button" href="applicant-facing.html">
                         Back
                         </a>


                 
                    
             
                      </div>
                      </main>
                              </div>
                              </div>
                              
                      {% endblock %}
                    