af-update-document-complete.html


{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}



    <! -- edit details -->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Provide a replacement document </h2>

                <p class="govuk-body">The case officer has specified below why this document needs replacing.  </p>

         

                <p class="govuk-heading-s">What you need to do:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select 'choose file' and upload a replacement file from your device</li>
                  <li>Click save to add the file </li>
                  <li>Click submit to complete this action </li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                    
      
              <p class="govuk-body"><strong>Name of file on submission: </strong></br>
      
                10390-Proposed-ground-floorplan.PDF
              </p>
      
                  
                                              
                   <p class="govuk-body"><strong>The reason the file needs replacing: </strong></br>
      
                    This document needs a scale bar at Scale is 1:50 or 1:100.
                  </p></br></br>
      


        <p class="govuk-body"><strong>File uploaded: </strong></br>

            10390-Proposed-ground-floorplan.PDF
          </p>
  

            <p style="margin-bottom: 60px;">  
                <img src="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.png" style="width: 275px; border: solid 1px #eeeeee"/>
                </p>

               
         
                     <a class="govuk-button" data-module="govuk-button" href="applicant-facing.html">
                     Back
                     </a>


                 
                    
             
                      </div>
                      </main>
                              </div>
                              </div>
                              
                      {% endblock %}
                    