af-update-description.html


{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Confirm changes to your applicantion description </h2>

            <p class="govuk-body">
          
              The following changes have been made to your application's description.
  

            </p>
         
            <p class="govuk-heading-s">What you need to do:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Select if you agree or disagree with the changes made by your case officer</li>
    <li>If you disagree, write in the box provided your reason for disagreeing with the changes and provided your suggested wording for the new description</li>
    <li>Click submit to complete this action </li>
  </ul>
       
      
            
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div style="margin-top: 50px;">                   
           <p class="govuk-body"><strong>Previous description</strong></br>
          Construction of a single storey side extension.
            </p>
     
                
          </div>  
          <div style="margin-top: 30px;">    
                <p class="govuk-body"><strong>New description</strong></br>
                 Certificate of lawfulness (proposed) for the construction of a single storey side extension.
               </p>
             
               </div>
                
                 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <p class="govuk-heading-s" style="margin-bottom: 15px;">
                        Do you agree with the changes made to your application description?
                    </p>
                  
                     
                      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                          <label class="govuk-label govuk-radios__label" for="contact">
                          Yes, I agree with the changes made
                          </label>
                        </div>
                       
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            No, I disagree with the changes made
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                      
                            <fieldset class="govuk-fieldset" aria-describedby="planning-application-documents-validated-at-hint">
                                
                             
                              <div class="govuk-form-group">
                                <label class="govuk-label" for="more-detail" style="margin-top: 20px;">
                                 Please indicate why you disagree with the changes and provided your suggested wording for the description?
                                </label>
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8"></textarea>
                              </div>
                      
                        </div>
                      </div>
                  
                    </fieldset>
                  </div>
                 
                
                         
                                   
                <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="applicant-facing-complete.html" style="margin-top: 20px;">
                Submit 
                </a>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 20px;">
                  Back
                 </button>

                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}