{% extends "layout.html" %} {% block head %} {{ super() }}

{% from "./customnjk/applications_table/not-started-app.njk"  import application_not_started %}
{% from "./customnjk/applications_table/in-assesment-app.njk"  import application_in_assesment %}
{% from "./customnjk/applications_table/awaiting-det-app.njk"  import application_awaiting_determination %}
{% from "./customnjk/applications_table/closed-app.njk"  import application_closed %}



<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<! –– Header ––>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item" aria-current="page"></li>
        </ol>
      </div>
      <h1 class="govuk-heading-l">
        Fast track applications
      </h1>
      <p class="govuk-body">
        Sandra Lewis, Planning Officer<br />
        <a href="">
          View all applications
        </a>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="">Log out</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <! –– Content ––>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!--Tabs        -->
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#not-started">
                Not started
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#in-assessment">
                In assessment
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#awaiting-determination">
                Awaiting determination
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#closed">
                Closed
              </a>
            </li>
          </ul>
          {{ application_not_started() }}
          {{ application_in_assesment() }}
          {{ application_awaiting_determination() }}
          {{ application_closed() }}

          {% endblock %}
        </div>