applicant-facing-invalid.html

{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}



    <! -- edit details -->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Your planning application </h2>

                <p class="govuk-body">
                  Your application for a lawful development certificate at <strong> 150 Bellenden Road London SE15 4QY</strong> is invalid. 
                  Your application can not be processed until you provide the updates indicated below. </br></br>
                  
                </p>
             
                <p class="govuk-body">
                  If updates are not reveived by the <strong>21 May 2021</strong>
                    your application will be returned and your payment refunded, minus £50 for Administration fees. 
                  </p>
                   
          
                    
             <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    
             <p class="govuk-heading-m" style="margin-top: 30px;">Document 1</p>
                                        
               <p class="govuk-body">
                    Replacement required for file: 10390-Proposed-ground-floorplan.PDF
                </p>
                <div class="moj-banner moj-banner--warning">

                      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                      <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" /></svg>
                      
                      <div class="moj-banner__message">
                      <span class="moj-banner__assistive">Warning</span>This document needs a scale bar at Scale is 1:50 or 1:100. </div>
                      
                      </div> 
                <p>
                 <img src="/public/images/PROPOSED_SIDE_ELEVATION-848013.png"
                  style="width: 150px; border: solid 1px #eeeeee" />
                </p>
               
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                    <strong>Upload a replacement file</strong>
                   </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                     </div>
                     <a class="govuk-button" data-module="govuk-button" href="applicant-facing-invalid-2.html">
                      Save
                     </a>


                     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    
                    <p class="govuk-heading-m" style="margin-top: 60px;">Document 2</p>
                    <p class="govuk-body">
                      Replacement required for file: 10390-Proposed-side-elevation.PDF
                   </p>
                    <div class="moj-banner moj-banner--warning">

                      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                      <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" /></svg>
                      
                      <div class="moj-banner__message">
                      <span class="moj-banner__assistive">Warning</span>This document needs a scale bar at Scale is 1:50 or 1:100. </div>
                      
                      </div> 
                  
                     <p>
                     <img src="/public/images/PROPOSED_ROOF_PLAN-848010.png" style="width: 150px; border: solid 1px #eeeeee" />
                      </p>
                    
                                         
                     <div class="govuk-form-group">
                     <label class="govuk-label" for="file-upload-1">
                        <strong>Upload a replacement file</strong> 
                     </label>
                     <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                     </div>
                     <button class="govuk-button" data-module="govuk-button">
                      Save
                    </button>

                     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    
                     <p class="govuk-body">
                     You will receive a email notifying you that your documents have been received.
                      
                    </p>
                    
                                    
                                       
                    <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="cert-of-law-hp.html" style="margin-top: 30px;">
                     Send
                     </a>
                      </div>
                      </main>
                              </div>
                              </div>
                              
                      {% endblock %}
                    