{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="/public/css/southwark-branding.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
              </li>
                <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Activity log</li>
            </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;">
          0000600
        </h1>
        <p class="govuk-body">
          Certificate of lawfulness (proposed) for the construction of a single storey side extension.
        </p>
        <p class="govuk-body">
          150 Bellenden Road London SE15 4QY
        </p>
        <p>
          <strong class="govuk-tag govuk-tag--green">In assessment</strong>
        </p>
        <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
        
      </div>
    </div> 

        <h2 class="govuk-heading-m">
            Activity log
        </h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">User</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Activity</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">11/01/2021 08:17</td>
              <td class="govuk-table__cell">API</td>
              <td class="govuk-table__cell">Application created</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/01/2021 12:35</td>
              <td class="govuk-table__cell">Michael Grant</td>
              <td class="govuk-table__cell">Application assigned to Martyn Evans</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/01/2021 12:36</td>
              <td class="govuk-table__cell">Martyn Evans</td>
              <td class="govuk-table__cell">Application assigned to Eris Fanshawe</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/01/2021 13:38</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Application invalidated</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/01/2021 15:40</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Document archived<br/><em style="display: block; margin-top: 10px">Front-elevation-proposed.pdf</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">12/01/2021 17:20</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Document uploaded<br/><em style="display: block; margin-top: 10px">Front-elevation-proposed-v2.pdf</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 08:38</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Application validated</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 09:27</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Recommendation submitted<br/><em style="display: block; margin-top: 10px">I'm approving this based on the evidence provided</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 09:27</td>
              <td class="govuk-table__cell">Michael Grant</td>
              <td class="govuk-table__cell">Recommendation rejected<br/><em style="display: block; margin-top: 10px">There is an issue with one of the documents - the site plan is inaccurate</em></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 15:40</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Document archived<br/><em style="display: block; margin-top: 10px">Site-plan.pdf</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 17:20</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Document uploaded<br/><em style="display: block; margin-top: 10px">Site-plan-v2.pdf</em></td>
            </tr>
        
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">13/01/2021 17:42</td>
              <td class="govuk-table__cell">Eris Fanshawe</td>
              <td class="govuk-table__cell">Recommendation submitted<br/><em style="display: block; margin-top: 10px">I'm approving this based on the replacement site plan and other evidence provided</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14/01/2021 10:27</td>
              <td class="govuk-table__cell">Michael Grant</td>
              <td class="govuk-table__cell">Recommendation approved</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14/01/2021 10:37</td>
              <td class="govuk-table__cell">Michael Grant</td>
              <td class="govuk-table__cell">Decision Published</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14/01/2021 10:27</td>
              <td class="govuk-table__cell">Martyn Evans</td>
              <td class="govuk-table__cell">Application withdrawn<br/><em style="display: block; margin-top: 10px">Client emailed on 13/01/2021 to request withdrawal</em></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14/01/2021 10:27</td>
              <td class="govuk-table__cell">Martyn Evans</td>
              <td class="govuk-table__cell">Application returned<br/><em style="display: block; margin-top: 10px">Replacement site plan requested 13/01/2021 but not received</em></td>
            </tr>
          </tbody>
        </table>




      </div> 
  
    <! –– Right panel with additional information in accordion ––> 
    <div class="govuk-grid-column-one-third">
    </div>

</div>
{% endblock %}
