applicant-facing-complete.html
applicant-facing.html
applicant-facing-invalid.html

{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Your planning application</h1>

<p class="govuk-body">
  
   <strong>At:</strong> 150 Bellenden Road London SE15 4QY </br>
   <strong>Date received:</strong> 12 May 2021 </br>
   <strong>Application number: </strong>006000</br>
   </br>
    

    </p>

<p class="govuk-body">
 
The case officer working on your application has requested change(s).


  </p>

 
  <div class="govuk-inset-text">
    <p class="govuk-body">
      If the changes are not reveived by the <strong>21 May 2021</strong>
      your application will be returned and your payment refunded.
    </p>
  </div>


  <p class="govuk-body">What you need to do:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Each link below requires a seperate action.</li>
    <li>Click on each link to see what action is required.</li>
    <li>Once you have completed an action, you can no longer make changes to and the status for that action will change to completed. </li>
    <li>You need to complete all actions before your case officer can proceed with your planning application.</li>
  </ul>
  
     
  
</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<ol class="moj-task-list">
    <li>
    <h2 class="moj-task-list__section">
      <span class="moj-task-list__section-number">1. </span>Confirm changes to your applicantion description
    </h2>
  
    <ul class="moj-task-list__items">
   
      <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-description-complete.html">Description</a>
        <strong class="govuk-tag moj-task-list__task-completed">
          complete
          </strong>
      </li-->
      <!--li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-description.html">Description</a>
        <strong class="govuk-tag govuk-tag--grey" style="float: right;">
          Not started
          </strong>
      </li-->
  
    <!--li class="moj-task-list__item">
      <a class="moj-task-list__task-name" href="af-update-description-agree.htm">Description</a>
      <strong class="govuk-tag moj-task-list__task-completed">
        complete
        </strong>
    </li-->
  </ul>
    
    <li>
    <h2 class="moj-task-list__section">
      <span class="moj-task-list__section-number">2. </span>Provide replacement documents 
    </h2>
    <ul class="moj-task-list__items">
      <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-document.html">10390-Proposed-ground-floorplan.PDF</a>
        <strong class="govuk-tag govuk-tag--grey" style="float: right;">
          Not started
          </strong>
      </li>
    
      <!--li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-document-complete.html">10378-Proposed-side-elevation.PDF</a>
        <strong class="govuk-tag moj-task-list__task-completed">
          complete
          </strong>
      </li-->
    
   
    </ul>
    </li>
    
    <li>
    <h2 class="moj-task-list__section">
      <span class="moj-task-list__section-number">3. Provide new or missing documents </span>
    </h2>
    <ul class="moj-task-list__items">
      <!--li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-new-file-2.html">New or missing file</a>
        <strong class="govuk-tag moj-task-list__task-completed">
    complete
    </strong>
    
      </li-->
      <li class="moj-task-list__item">
        <a class="moj-task-list__task-name" href="af-update-new-file.html">New or missing file</a>
        <strong class="govuk-tag govuk-tag--grey" style="float: right;">
          Not started
          </strong>
    
      </li-->

    </ul>
    </li>
    

    </ol> 

</div>
</div>
                              
{% endblock %}
                    