assess-the-proposal.html
{%- from "moj/components/banner/macro.njk" import mojBanner -%} {{ mojBanner({
type: 'information', text: 'Select text to add comment.', iconFallbackText:
'information' }) }} {% extends "layout.html" %} {% from
"../customnjk/left-accordion-pd-v13.njk" import leftaccordion %} {% from
"../customnjk/right-accordion-pd-v13.njk" import rightaccordion %} {% from
"../customnjk/right-status-green-pd-v08.njk" import rightstatus %} {% block head
%} {{ super() }}
<link
  href="/public/css/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    {# <form action="/refuse-or-approve" method="post" class="form"> #}
      <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="application-list.html"
              >Home</a >
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a href="cert-of-law-hp.html">Application</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Assess the proposal
          </li>
        </ol>
      </div>
      <div>
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;">
          0000600
        </h1>
        <p class="govuk-body">
          Certificate of lawfulness (proposed) for the construction of a single storey side extension.
        </p>
        <p class="govuk-body">
          150 Bellenden Road London SE15 4QY
        </p>
        <p>
          <strong class="govuk-tag govuk-tag--green">In assessment</strong>
        </p>
        <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
        
      </div>
    </div> 
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <! –– Application detail blocks ––>
        {{ leftaccordion() }}

      
      <! –– Left panel with tasks and map ––>
      <h2 class="govuk-heading-m">
      Assess the proposal
      </h2>
      <p class="govuk-body">
        Please check the applicant's answers and proposal documents have met permitted development requirements.
      </p>
      <div class="govuk-!-padding-bottom-3"></div>

  <!--        Question-->

  <div class="govuk-form-group">

        <h3 class="govuk-body" >
        <strong>Have permitted development requirements been met?</strong>
        </h3>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Yes
          </label>
        </div></br>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            No
          </label>
        </div>
   
             <div class="govuk-!-padding-bottom-8"></div>
             <div class="govuk-form-group">
                       <p class="govuk-body">
                         <strong>Please provide supporting information to indicate which GDPO policy(s) have or have not been met.</strong>
                       
                          <p>
                         This information <strong>will</strong> appear on the decision notice.
                       </p>
                       <textarea
                         class="govuk-textarea"
                         id="more-detail"
                         name="more-detail"
                         rows="3"
                         aria-describedby="more-detail-hint"
                       ></textarea>
                     </div>
                     </div>
    
        <div class="govuk-!-padding-bottom-7"></div>
          <div class="govuk-form-group">
                    <p class="govuk-body" style = "margin-bottom: 12px;">
                      <strong>Please provide supporting information for your manager.</strong>
                      </p>
                      <p>
                      Your comment will <strong>not</strong> appear on the decision notice.
                    </p>
                    <textarea
                      class="govuk-textarea"
                      id="more-detail"
                      name="more-detail"
                      rows="3"
                      aria-describedby="more-detail-hint"
                    ></textarea>
                  </div>
                 

      <! -- Save button -->
      <a class="govuk-button" data-module="govuk-button" href="make-recommendation-grant">
        Save
      </a>

      <! -- Save button for directing to decision notice specifically-->
{# 
      <br />
      <button class="govuk-button" data-module="govuk-button">
        Save
      </button>
    </form>#}
  </div> 
</div>
  <! –– Right panel with additional information in accordion ––>
  
  <div class="govuk-grid-column-one-third">
    
   {{ rightaccordion() }}
  </div>
{% endblock %}
