{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="/public/css/southwark-branding.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
              </li>
                <li class="govuk-breadcrumbs__list-item"> <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Cancel application</li>
            </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            20/AP/0607
        </h1>
        <p>150 Bellenden Road London SE15 4QY</p>
        <h2 class="govuk-heading-m">
            Cancel application
        </h2>

        <div>

          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-s" style="margin-bottom: 0">
                  Why is the application being cancelled?
                </h3>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reason-withdrawn" name="reason" type="radio" value="withdrawn">
                  <label class="govuk-label govuk-radios__label" for="reason-withdrawn">
                    Withdrawn by applicant
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="reason-returned" name="reason" type="radio" value="returned">
                  <label class="govuk-label govuk-radios__label" for="reason-returned">
                    Returned as invalid
                  </label>
                </div>
              </div>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-heading-s" for="more-detail">
                Can you provide more detail?
              </label>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
            </div>
          </fieldset>

          

          <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="application-list.html">
            Confirm
          </a>
          <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="cert-of-law-hp">
            Cancel
          </a>
        
        </div>
      </div> 
  
    <! –– Right panel with additional information in accordion ––> 
    <div class="govuk-grid-column-one-third">
    </div>

</div>
{% endblock %}
