new-application-02.html
{% extends "layout.html" %} 

{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" aria-current="page" >New application</a>
          </li>
       
      </ol>
    </div>
    <h1 class="govuk-heading-l" style="margin-top: 55px;">
      New Application: Residential Lawful Development Certificate
    </h1>  


 

    <! ––  Description of work––>
    <div class="govuk-form-group" style = "margin-top: 50px;">
            <h2 class="govuk-heading-m">
              Summary of work
            </h2>
        
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>


    <div class="govuk-form-group" style="margin-top: 55px;">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <h2 class="govuk-heading-m">
          Date received 
        </h2>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>
    
      </fieldset>
    </div>
      <div style = "margin-top: 50px;">
        <fieldset class="govuk-fieldset">
            <h2 class="govuk-heading-m">
                Site Details
              </h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
               Address 1 
              </label>
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-2">
                  Address 2
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"></div>
                
          
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text"></div>
              
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
            
          
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text"></div>
          

            <div class="govuk-form-group">
              <label class="govuk-label" for="uprn">
                UPRN
              </label>
              <input class="govuk-input govuk-input--width-10" id="uprn" name="uprn" type="text"></div>
          
          </fieldset>
           

    
        
       
                <! ––  Description of work––>
          <div class="govuk-form-group" style = "margin-top: 40px;">
              
                  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <h2 class="govuk-heading-m">
                      Has the work been completed?
                    </h2>
                
                    <div class="govuk-radios govuk-radios--inline">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                          No
                        </label>
                      </div>
                    </div>
                
                  </fieldset>
                  </div>
          <! –– Applicant information––>
          <div class="govuk-form-group" style = "margin-top: 50px;">
                  <h2 class="govuk-heading-m">
                    Applicant information
                  </h2>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="full-name">
                      Full name
                    </label>
                    <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                      Email address
                    </label>
                    <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="telephone-number">
                      UK telephone number
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>
            
                    <! –– Agent information––>
                    <div class="govuk-form-group" style = "margin-top: 50px;">
                      <h2 class="govuk-heading-m">
                        Agent information
                      </h2>
                       <div class="govuk-form-group">
                     <label class="govuk-label" for="full-name">
                         Full name
                      </label>
                     <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>
                     <div class="govuk-form-group">
                     <label class="govuk-label" for="email">
                      Email address
                     </label>
                     <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                     </div>
                     <div class="govuk-form-group" style="margin-bottom: 60px;">
                    <label class="govuk-label" for="telephone-number">
                      UK telephone number
                   </label>
                  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>
        <! –– Payment reference––>
        <div class="govuk-form-group"  style = "margin-bottom: 50px;">
       <h2 class="govuk-heading-m">
           Payment reference
      </h2>    
  
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>

      <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="new-application-LDC-1.html">
        Save
      </a>
      <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="application-list.html">
        Cancel
      </a>
      </div>

</div>


  {% endblock %}