notify-applicant.html

edit-details.html
{% extends "layout.html" %} 
{% from "../customnjk/left-accordion-pd-v13.njk"  import leftaccordion %} 
{% from "../customnjk/right-accordion-pd-v13.njk" import  rightaccordion %} 
{% from "../customnjk/right-status-green-pd-v08.njk" import rightstatus %} 
{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}



    <! -- edit details -->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="moj-banner moj-banner--warning">

                    <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" /></svg>
                    
                    <div class="moj-banner__message">
                    <span class="moj-banner__assistive">Warning</span>Invalid documents <strong>2</strong></div>
                    
                    </div> 
      
                <div class="govuk-form-group" style="margin-top: 40px;">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading" style="margin-bottom: 20px;">
                          Do you want to notify the applicant?
                        </h2>
                      </legend>
                      <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="changed-name">
                            Yes
                          </label>
                        </div>
                  

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            No
                          </label>
                        </div>
                      </div>
                  
                    </fieldset>
                  </div>
                  <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="notify-applicant-1.html">
                    Save
                  </a>
                </div>
              </main>
          </div>
          </div>
          
  {% endblock %}
