{%- from "moj/components/banner/macro.njk" import mojBanner -%} {{ mojBanner({
    type: 'information', text: 'Select text to add comment.', iconFallbackText:
    'information' }) }}
{% extends "layout.html" %}
{% from "../customnjk/left-accordion-pd-v12.njk" import leftaccordion %}
{% from "../customnjk/right-accordion-pd-v09.njk" import rightaccordion %}
{% from "../customnjk/right-status-green-pd-v08.njk" import rightstatus %}
{% block head%}
{{ super() }}
<link href="/public/css/southwark-branding.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<! –– Header ––>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <form action="/refuse-or-approve" method="post" class="form"> #}
      <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a href="cert-of-law-hp.html">Application</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Assess the proposal
          </li>
        </ol>
      </div>
      <div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
          0000600
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 18px;">
          150 Bellenden Road London SE15 4QY
        </h2>
        <p>
          <strong class="govuk-tag govuk-tag--green">In assessment</strong>&emsp;Due: 12 June 2021 - 11 days remaining
        </p>
        <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state"
            href="assign-application">Change</a></p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="cancel-application">Cancel application</a></p>
      </div>
      <! –– Application detail blocks ––>
        {{ leftaccordion() }}

        <! –– Reassessment ––>
          <h2 class="govuk-heading-m">
            Reassess the proposal
          </h2>

          <p class="govuk-body">Your manager sent the following comment about your recommendation below. Please take
            action based on their comment.</p>
          <div class="govuk-inset-text" style="padding-top: 25px; padding-bottom: 0px;">
            <div style="padding-bottom: 15px">

              <p style="margin-bottom: 0;"><strong>Submitted recommentation</strong> by Eris Fanshawe</p>
              <p style="margin-bottom: 15px;">
                <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
              </p>
        
                <p  style="padding-bottom: 20px"><em>Always in residential use. Proposed porous material and 18sqm driveway.</em></p>
            
            </div>

            <div style="padding-bottom: 20px">

              <p style="margin-bottom: 0;"><strong>Recommendation challenged </strong> by Alex Dawson</p>
              <p style="margin-bottom: 15px;">
                <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
              </p>
         
                <p><em>Check article 4</em></p>
             
            </div>
          </div>




        <!--        Question-->

  <div class="govuk-form-group">

    <h3 class="govuk-body" >
    <strong>Have permitted development requirements been met?</strong>
    </h3>
  </legend>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
        Yes
      </label>
    </div></br>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
        No
      </label>
    </div>

         <div class="govuk-!-padding-bottom-8"></div>
         <div class="govuk-form-group">
                   <p class="govuk-body">
                     <strong>Please provide supporting information to indicate which GDPO policy (or policies) have or have not been met.</strong>
                     <div id="changed-name-hint" class="govuk-hint">
                        Example: It meets the conditions of Part 1 Class A
                      </div>
                      <p>
                     Your comment <strong>will</strong> appear on the decision notice.
                   </p>
                   <textarea
                     class="govuk-textarea"
                     id="more-detail"
                     name="more-detail"
                     rows="3"
                     aria-describedby="more-detail-hint"
                   ></textarea>
                 </div>
                 </div>

    <div class="govuk-!-padding-bottom-7"></div>
      <div class="govuk-form-group">
                <p class="govuk-body" style = "margin-bottom: 12px;">
                  <strong>Please provide supporting information for your manager.</strong>
                  </p>
                  <p>
                  Your comment will <strong>not</strong> appear on the decision notice.
                </p>
                <textarea
                  class="govuk-textarea"
                  id="more-detail"
                  name="more-detail"
                  rows="3"
                  aria-describedby="more-detail-hint"
                ></textarea>
              </div>
             

              <! -- Save button -->
                <a class="govuk-button" data-module="govuk-button" href="cert-of-law-hp">
                  Save
                </a>

                <! -- Save button for directing to decision notice specifically-->
                  {#
          <br />
          <button class="govuk-button" data-module="govuk-button">
            Save
          </button>
        </form>#}
          </div>
    </div>
    <! –– Right panel with additional information in accordion ––>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="govuk-!-padding-bottom-7"></div>
        {{ rightaccordion() }}
      </div>

{% endblock %}