reguest-for-change-4.html
{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Send a change request
                  </h1>
                </legend>
                <div class="govuk-radios" style="margin-top: 30px;">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                      Request approval to description change
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                      Request replacement documents
                    </label>
                  </div>
               
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                      Request a new document
                    </label>
                  </div>
                  
                </div>
            
              </fieldset>
            </div>
         

                                   
                <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="request-for-change-description.html" style="margin-top: 20px;">
                Next
                </a>
               
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 20px;">
    Back
  </button>
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}