request-description.html
{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Request for approval of changes to description </h2>

        
      
        
       <div style="margin-top: 60px;">
        
          <p class="govuk-body">
            <strong>Application number: </strong>006000</br>
            <strong>At:</strong> 150 Bellenden Road London SE15 4QY </br>
           <strong>Request sent:</strong> 12 May 2021 </br>
           <strong class="govuk-tag govuk-tag--red" style="margin-top: 20px;">
            Rejected
           </strong>

         <div style="margin-top: 25px;">

          <p class="govuk-body"> <strong> Previous description:</strong></br>
        Construction of a single storey side extension.
    
          </p>

          <p class="govuk-body"> <strong> Suggested description:</strong></br>
            Construction of a single storey side extension and new windows
        
              </p>


     
       
       </div>
       </div>
       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

   <div style="margin-top: 0px;">
    <p class="govuk-body"> <strong>Applicant objection to suggetsed changes:</strong></br>
      Does not include X.Y and Z 
  
        </p>

</div>

      
                  <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="request-for-changes-1.html" style="margin-top: 40px;">
                  Back
                   </a>
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}