request-for-change-description.html

{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Request approval to a description change</h2>

       <div style="margin-top: 60px;">
    

          <p class="govuk-body"> <strong> Previous description:</strong></br>
        Construction of a single storey side extension.
    
          </p>
     
          <div  class="govuk-heading-s">
           Suggest a new description:
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <div class="govuk-form-group" style="margin-top: 40px;">
            <label class="govuk-label" for="more-detail">
             <strong>Provide a reason for the description change:</strong> 
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" style="margin-top: 20px;"></textarea>
          </div>
             
          <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="rfc-open.html" style="margin-top: 40px;">
            Send
           </a>
           <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 40px;">
            Back
          </button>
       </div>
     

         
            
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}