request-for-change-red-line.html


{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Request a red line boundary change</h2>


            <p class="govuk-body" style="margin-top: 40px;"> 
              Site address: 150 Bellenden Road London SE15 4QY
              </p>
     
            <div  class="govuk-heading-m" style="margin-top: 20px;">
               Propose a new red line boundart
               </div>
       
  
             
          
         <div
         style="
           background-color: #757373;
           border: solid 0px;
           padding: 30px;
           clear: both;
           margin-top: 10px;
         "
       >
     </br></br></br></br></br></br>
     </br></br></br></br></br></br>
     </br></br></br></br></br></br>
       </div>
           
     
         
          <div class="govuk-form-group" style="margin-top: 40px;">
        
           
            <p class="govuk-body"> 
                The boundary you have drawn has an area of <strong>210 m2</strong>
                   </p>
                   </div>

                   <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                   Re-draw boundary area
                  </button>
          
          <div style="margin-top: 80px;">
    

            <p class="govuk-body"> <strong>Explain why changes have been made to the red line boundary.</strong></br>
     </br> 
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </p>
            </div>

             
          <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="rfc-open.html" style="margin-top: 40px;">
            Send
           </a>
           <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 40px;">
            Back
          </button>
       </div>
     

         
            
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}