request-for-change-7.html
request-for-change-5.html
{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Request for change(s)</h2>

            <p class="govuk-body">
            <strong>Application number: </strong>006000</br>
           <strong>At:</strong> 150 Bellenden Road London SE15 4QY </br>
           <strong>Date received:</strong> 12 May 2021 </br>

      
        
       <div style="margin-top: 60px;">
          <h2 class="govuk-heading-m" >1. Description of work </h2>
         <div style="margin-left: 25px;">

          <p class="govuk-body"> <strong> Previous description:</strong></br>
        Construction of a single storey side extension.
    
          </p>
     
          <div  class="govuk-heading-s">
            Please suggest a new description:
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
       </div>
       </div>

      
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="request-for-changes-1.html" style="margin-top: 40px;">
                    Send
                   </a>
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}