rfc-new-document.html

{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Request a new document</h2>

       <div style="margin-top: 60px;">
    

   
                 <div class="govuk-form-group">
                  <label class="govuk-heading-s" for="event-name">
                    Please specify the new document type:
                  </label>
                  <p class="govuk-hint">
                    Eg. Existing floor plans
                   </p>
                  <input class="govuk-input" id="event-name" name="event-name" type="text"></div>
       

          <div class="govuk-form-group" style="margin-top: 60px;">
            <label class="govuk-fieldset__legend--s" for="more-detail">
              Please specify the reason you have requested this document:
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" style="margin-top: 20px;"></textarea>
          </div>

          <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="rfc-edit.html" style="margin-top: 40px;">
            Send
           </a>
           <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 40px;">
            Back
          </button>
       </div>
     

         
            
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}