rfc-closed.html




{% extends "layout.html" %}


{% block head %} {{ super() }}
<link href="/public/sass/southwark-branding.css" rel="stylesheet" type="text/css" />

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l"> Requests for changes </h2>


         
        

          <div style="margin-top: 40px;">


          

            <table class="govuk-table">
               
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Request</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Detail</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reason</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Applicant response</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
               
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">  Replacement document</td>
                    <td class="govuk-table__cell">10390-Proposed-ground-floorplan.PDF</td>
                    <td class="govuk-table__cell"> The document is missing a scale bar</td>
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--grey">
                     Responded
                     </strong></td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="edit-documents.html">10390-Proposed-ground-floorplan.PDF</a></td>
                
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> Replacement document</td>
                    <td class="govuk-table__cell">10289-Proposed-side-elevation.PDF</td>
                    <td class="govuk-table__cell"> The document is missing a scale bar</td>
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                      15 days 
                     </strong></td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
              
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> New document</td>
                    <td class="govuk-table__cell">Design statement</td>
                    <td class="govuk-table__cell"> Officers reason for request</td>
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--red">
                     - 1 days
                     </strong></td>
                    <td class="govuk-table__cell"></td>
                
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description</td>
                    <td class="govuk-table__cell">New description: This will be a new description to add a chimney stack to the rear of the property</td>
                    <td class="govuk-table__cell"> Reason for description change</td>
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--red">
                  Rejected
                      </strong></td>
                    <td class="govuk-table__cell"> This is the applicant reason for rejecting the changes</td>
                      
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Description changes </td>
                    <td class="govuk-table__cell">New description: This will be a new description to add a chimney stack to the rear of the property</td>
                    <td class="govuk-table__cell"> Reason for description change</td>
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                  Accepted
                      </strong></td>
                    <td class="govuk-table__cell"> Description changes have been accepted by the applicant</td>
                      
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Red line boundary change</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="">View proposed red line boundary</a></td>
                    <td class="govuk-table__cell"> This will be the reason the red line boundary has been updated</td>
                    
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--red">
                      Rejected
                          </strong></td>
                    <td class="govuk-table__cell">This is the applicant reason for rejecting the changes </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Red line boundary change</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="">View proposed red line boundary</a></td>
                    <td class="govuk-table__cell"> This will be the reason the red line boundary has been updated</td>
                    
                    <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                      Accepted
                          </strong></td>
                    <td class="govuk-table__cell">Red line boundary changes have been accepted by the applicant </td>
                  </tr>

                </tbody>
              </table>
             
     
      
                </div>
<div>
       
                    
               </div>
               <div>
                <a class="govuk-button govuk-button--secondary"data-module="govuk-button govuk-button--secondary" href="request-for-change-4.html">
                    Add new request                          
                 </a>
                    
               </div>
               
                  <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" href="request-for-changes-2.html" style="margin-top: 30px;">
                    Back
                   </a>
                
                </div>
         
                </div>
                
                        
                
                                
                                   
          
                  </div>
                 
                  </main>
                </div>
            </div>



  {% endblock %}