update-constraints.html
{% extends "layout.html" %} 
{% from "../customnjk/left-accordion-pd-v13.njk"  import leftaccordion %} 
{% from "../customnjk/right-accordion-pd-v13.njk" import  rightaccordion %} 
{% from "../customnjk/right-status-green-pd-v08.njk" import rightstatus %} 
{% block head %} {{ super() }}
<link
  href="/public/sass/southwark-branding.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block content %}

<! –– Header ––>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="application-list.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="cert-of-law-hp.html">Application</a>
          </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          Edit details
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
      0000600
    </h1>
    <h2 class="govuk-heading-m">
      150 Bellenden Road London SE15 4QY
    </h2>
    <p>
      <strong class="govuk-tag govuk-tag--green">In assessment</strong>&emsp;Due: 12 June 2021 - 11 days remaining
    </p>
    <p>Assigned to <strong>Eris Fanshawe</strong>&emsp;<a class="govuk-link govuk-link--no-visited-state" href="assign-application">Change</a></p>
  </div>
</div>  
<div>
<h2 class="govuk-heading-l" style="margin-top: 40px;">
    Constraints
  </h2>

<div class="govuk-form-group">
    
    <label class="govuk-label" for="one-half" style="margin-bottom: 40px;">
      <strong>Constraints identified </strong>
    </label>
    
    <textarea class="govuk-input govuk-!-width-one-half" id="more-detail" name="more-detail" rows="1" aria-describedby="more-detail-hint">Constraint Number 1</textarea> &nbsp;
    <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Remove
      </button>              
</div> 
<div class="govuk-form-group">
    
    <textarea class="govuk-input govuk-!-width-one-half" id="more-detail" name="more-detail" rows="1" aria-describedby="more-detail-hint">Constraint Number 2</textarea> &nbsp;
    <button class="govuk-button govuk-button--warning" data-module="govuk-button">
        Remove
      </button>              
</div> 


<div class="govuk-form-group">
    
    <label class="govuk-label" for="one-half" style="margin-bottom: 40px;">
      <strong>Add additional constraints </strong>
    </label>
    
    <textarea class="govuk-input govuk-!-width-one-half" id="more-detail" name="more-detail" rows="1" aria-describedby="more-detail-hint"></textarea> &nbsp;
    <button class="govuk-button" data-module="govuk-button">
        Add
      </button>              
</div> 

</div>
          
  {% endblock %}
