{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Example without branding
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Beta Back-Office Planning (BoPs)
  </h1>
  <p class="govuk-body-m">
    This prototype is for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>communicating design ideas to our developers</li>
          <li>experimenting and prototyping different options</li>
      </ul>
  
      <p class="govuk-body-m">
      For more information about this prototype please email: claudia.hopkins@unboxed.co
  </p>


  <h2 class="govuk-heading-m">
    Prototype versions
    </h2>

    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototype version</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Sprint</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Prototype details</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Link to research</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v02/log-in">V2 - Planner's assessment</a></th>
      <td class="govuk-table__cell govuk-table__cell">Beta - Sprint 0</td>
      <td class="govuk-table__cell govuk-table__cell">Experiment - moving Figma prototype to GOV UK styling </td>
      <td class="govuk-table__cell govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://www.figma.com/file/RgDDCeeVcbR9Ohz41ovcmk/BoPS-planning-manager-screens-Copy?node-id=0%3A1">V1 - Planning manager</a><br><br><a href="https://www.figma.com/file/juLpAcTFDPIvl5MVfTm6XT/BoPS-planner-s-assessment-screens-Copy?node-id=0%3A1">V1 - Planner's assessment</a></th>
      <td class="govuk-table__cell govuk-table__cell">Alpha</td>
      <td class="govuk-table__cell govuk-table__cell">Final prototype from Alpha </td>
      <td class="govuk-table__cell govuk-table__cell">-</td>
    </tr>
  </tbody>
</table>



    </div>
    </div>

{% endblock %}