{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Example without branding
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Beta Back-Office Planning (BoPs)
  </h1>
  <p class="govuk-body-m">
    This prototype is for testing and may differ from what we are going to build. For more information about this prototype please email: claudia.hopkins@unboxed.co
  </p>
      <p class="govuk-body-m">We are now testing <strong>Version 1</strong> from Alpha which was made on Figma. We are testing ______ features in the <a href="https://www.figma.com/file/RgDDCeeVcbR9Ohz41ovcmk/BoPS-planning-manager-screens-Copy?node-id=0%3A1">prototype.</a> </p>
  <p class="govuk-body-m">Meanwhile, we are also moving the prototype from Figma to the toolkit in this <a href="/v02/index">experimental prototype</a></p>


  <h2 class="govuk-heading-m">
    Prototype versions
    </h2>

    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototype version</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Date or sprint</th>
      <th scope="col" class="govuk-table__header govuk-table__header">What we are testing</th>
      <th scope="col" class="govuk-table__header govuk-table__header">Link to research</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/v02/index">V2 - Planner's assessment</a></th>
      <td class="govuk-table__cell govuk-table__cell">Sprint 0</td>
      <td class="govuk-table__cell govuk-table__cell">Move from Figma to GOV UK - experiment </td>
      <td class="govuk-table__cell govuk-table__cell">-</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://www.figma.com/file/RgDDCeeVcbR9Ohz41ovcmk/BoPS-planning-manager-screens-Copy?node-id=0%3A1">V1 - Planning manager</a><br><br><a href="https://www.figma.com/file/juLpAcTFDPIvl5MVfTm6XT/BoPS-planner-s-assessment-screens-Copy?node-id=0%3A1">V1 - Planner's assessment</a></th>
      <td class="govuk-table__cell govuk-table__cell">Sprint 0</td>
      <td class="govuk-table__cell govuk-table__cell">Final prototype from Alpha to test</td>
      <td class="govuk-table__cell govuk-table__cell">-</td>
    </tr>
  </tbody>
</table>



    </div>
    </div>

{% endblock %}