{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{{ mojBanner({
type: 'information',
text: 'Select text to add comment.',
iconFallbackText: 'information'
}) }} 

{% extends "layout.html" %}

{% block content %}

<! –– Header ––>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs" style="margin-bottom: 20px;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="application-list-manager.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item"><a href="cert-of-law-reqs-approved.html">Application</a></li>
                <li class="govuk-breadcrumbs__list-item">
<!--                    <a href="approve-recommendation-no.html">-->
                        Provide manager comments
<!--                    </a>-->
                </li>
              </ol>
        </div>
        <h1 class="govuk-heading-l" style="margin-bottom: 7px;">
            Fast track application: 19/AP/1880
        </h1>
        <h2 class="govuk-heading-m" style="margin-bottom: 75px;">43 Busbey Lane, London, SE16 5GG</h2>

<! –– Application detail blocks ––>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" >

            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Application information
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><b>Address: </b></td>
                <td class="govuk-table__cell">150 Bellenden Road London SE15 4QY</td>
            </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Ward: </b></td>
                  <td class="govuk-table__cell">Rye Lane</td>
            </tr>
            <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><b>Building type: </b></td>
                  <td class="govuk-table__cell">Residential, home</td>
            </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><b>Application type: </b></td>
            <td class="govuk-table__cell">Proposed permitted development: Certification of lawfulness	</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong>Summary: </strong></td>
            <td class="govuk-table__cell">
                <p class="govuk-body">
                    Certificate of lawfulnesss (proposed) for the construction of a single storey side extension.   
                </p>
              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><b>Case officer: </b></td>
              <td class="govuk-table__cell">Sandra Lewis</td>
            </tr>


        </tbody>
          </table>
                </div>
            </div>

    <!-- Map -->


            <div class="govuk-accordion__section " style="float: none; clear: both;">
                <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Site location 
                </span>
              </h3>
            </div>

    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">            
    <img src="/public/images/THE_LOCATION_PLAN.png" style="max-width: 600px; margin-bottom: 10px;" alt="map">
        
                </div>
            </div>
           
        </div>

        

        
        <h2 class="govuk-heading-m">
            Request correction
        </h2>
        
        <p class="govuk-body">
            Please submit a comment to your planning officer to consider in the assessment

        </p>
        
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <h2 class="govuk-heading-s">Document revisions</h2>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
          10390-Existing-ground-floorplan.PDF
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          10391-Proposed-ground-floorplan.PDF
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-3">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
            10392-Existing-rear-elevation.PDF 
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-5" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-4">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
          10393-Proposed-rear-elevation.PDF
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-5" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-5">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-5">
          10394-Existing-roof-plan.PDF
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-5">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-6" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-6">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-6">
            10395-Proposed-roof-plan.PDF 
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-6">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
        <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-7" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-7">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-7">
            10396-Existing-side-elevation.PDF
            </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-7">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
          <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-8" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-8">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-8">  
            10397-Proposed-side-elevation.PDF
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-8">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
        </div>
        
        
<!--    Policy revisions-->
        <h2 class="govuk-heading-s" style="float: none; clear: both;"><br><br>Policy revisions</h2>
        <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      GPDO 2015 S.2 P.1 A.1
                    </label>
                  </div>

                    <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                        GPDO 2015 S.2 P.1 A.1 (a)
                    </label>
                  </div> 

                    <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1
                    </label>
                  </div>  

                     <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.3 (a)
                     </label>
                  </div>   

                         <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1 (i)
                    </label>
                  </div>

                     <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1 (j)(iii)
                        </label>
                  </div>

                         <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1 (f)(ii)
                        </label>
                  </div>

                         <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1 (e)(i)
                        </label>
                  </div> 
                         <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            GPDO 2015 S.2 P.1 A.1 (e)(ii)
                    </label>
                  </div>
                </div>
        
<!--    Other comments-->
        <h2 class="govuk-heading-s" style="float: none; clear: both;"><br><br>Other comments</h2>
          <label class="govuk-label" for="contact-by-phone">
            Comment:
          </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
       
          
    <div style="float: none; clear: both;">
        <br>
        <a class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" href="application-list-manager-amendments#amendment">
  Submit
</a>

    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="permitted-dev-reqs-summary.html">
      Back
    </a>
        
        
        </div>

        
        </div>
    
        
        
        
<! –– Right panel with additional information in accordion ––>
        
      <div class="govuk-grid-column-one-third">
          
          <div class="govuk-breadcrumbs" style="float: right;" style="margin-bottom: 20px; float: right;">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="">Log out</a>
                </li>
              </ol>
            </div>
        <div style="float: right; margin: 20px 0 30px 100px; ">
            <p class="govuk-body">
            <strong class="govuk-tag govuk-tag--red">
               Due: June 12<br>7 days remaining
            </strong>
            </p>
        </div>
        
       
    
          <h2 class="app-task-list__section" style="float: none; clear: both;">
            <span class="app-task-list__section-number">&nbsp;</span>
          </h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

           
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Planning history 
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Permitted development rights: Active
            </li>
            <li>
                No relevant planning history
            </li>
          </ul>
            </div>
          </div>
            
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Constraints
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="govuk-list govuk-list--bullet">
            <li>
                Conservation area
            </li>
          </ul>
            </div>
          </div>    
        <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Proposal documents
                    </span>
                  </h3>
                </div>

                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                    <p class="govuk-body"><a href="document-management-upload.html">Manage documents</a></p>
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong>10390-Existing-ground-floorplan.PDF</Strong><br>[DD MM YYYY]<br><a href="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.pdf" target="_blank">View in new window</a></p>
                           <p class="govuk-body" style="line-height: 1.6;">
                               <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Existing
                               </strong>
                            </p>
                            <img src="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.png" style="width: 300px">
                            
                        </div>
                        
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong><br><br>10391-Proposed-ground-floorplan.PDF</Strong><br>[DD MM YYYY]<br><a href="/public/images/PROPOSED_GROUND_FLOOR_PLAN-848008.pdf" target="_blank">View in new window</a></p>
                            
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                   Floor plan - Proposed
                                </strong>
                            </p>
                            
                            <img src="/public/images/PROPOSED_GROUND_FLOOR_PLAN-848008.png" style="width: 300px">
                        </div>
                    
                    <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong><br><br>10392-Existing-rear-elevation.PDF </Strong><br>[DD MM YYYY]<br><a href="/public/images/EXISTING_GROUND_FLOOR_PLAN-848007.pdf" target="_blank">View in new window</a></p>
                        
                        <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Rear elevation - Existing
                                </strong>
                            </p>
                        
                        <img src="/public/images/EXISTING_REAR_ELEVATION-848011.png" style="width: 300px">
                            
                        </div>
                        
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong><br><br>10393-Proposed-rear-elevation.PDF</Strong><br>[DD MM YYYY]<br><a href="/public/images/PROPOSED_REAR_ELEVATION-848012.pdf" target="_blank">View in new window</a></p>
                
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Rear elevation - Proposed
                                </strong>
                            </p>
                            
                            <img src="/public/images/PROPOSED_REAR_ELEVATION-848012.png" style="width: 300px">
                        
                    </div>
                    <div style="float: none; clear: both">
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong><br><br>10394-Existing-roof-plan.PDF</Strong><br>[DD MM YYYY]<br><a href="/public/images/EXISTING_ROOF_PLAN-848009.pdf" target="_blank">View in new window</a></p>
                            
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Roof plan - Existing
                                </strong>
                            </p>
                            
                            <img src="/public/images/EXISTING_ROOF_PLAN-848009.png" style="width: 200px">
                            
                        </div>
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><Strong><br><br>10395-Proposed-roof-plan.PDF</Strong><br>[DD MM YYYY]<br><a href="/public/images/PROPOSED_ROOF_PLAN-848010.pdf" target="_blank">View in new window</a></p>
                            
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Roof plan - Proposed
                                </strong>
                            </p>
                            
                            <img src="/public/images/PROPOSED_ROOF_PLAN-848010.png" style="width: 200px">
                            
                        </div>
                    
                        <div style="float: left; margin-left: 0px;">
                            <p class='govuk-body'><br><br><strong>10396-Existing-side-elevation.PDF</strong><br>[DD MM YYYY]<br><a href="/public/images/EXISTING_SIDE_ELEVATION-848014.pdf" target="_blank">View in new window</a></p>
                            
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Side elevation - Existing
                                </strong>
                            </p>
                            
                            <img src="/public/images/EXISTING_SIDE_ELEVATION-848014.png" style="width: 200px">
                        </div>
                        <div style="float: left;">
                            <p class='govuk-body'><br><br><strong>10397-Proposed-side-elevation.PDF</strong><br>[DD MM YYYY]<br><a href="/public/images/PROPOSED_SIDE_ELEVATION-848013.pdf" target="_blank">View in new window</a></p>
                            
                            <p class="govuk-body" style="line-height: 1.6;">
                                <strong class="govuk-tag govuk-tag--blue">
                                  Side elevation - Proposed
                                </strong>
                            </p>
                            
                            <img src="/public/images/PROPOSED_SIDE_ELEVATION-848013.png" style="width: 200px">
                        </div>
                        <div style="clear: both; float: none;">&nbsp;</div>
                    </div>
            </div>
            </div>
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Key application dates
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>
                <strong>Application status:</strong> Waiting for  assessment
            </p>
            <p>
                <strong>Application received:</strong> 2 March 2020
            </p>
            <p>
                <strong>Validation complete:</strong> 4 March 2020
            </p>
            <p>
                <strong>Fast track date date:</strong> 12 June 2020
            </p>
            <p>
                <strong>Statuatory date:</strong> 26 June 2020
            </p>
   
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Contact information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'><strong>Agent:</strong><br>Not applicable</p>
              <p class='govuk-body'><strong>Applicant:</strong><br>David Fryman <br>020 7525 5000<br><a href="">david.fryman@email.com</a></p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Consultation
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Consultation is not applicable for proposed permitted development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
